section#fade
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Smooth Fade
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                .elr-col-half.fade-box
                    p This box is now visible
                    .box-pink.fade-in
                .elr-col-half.fade-box
                    p This box will disappear
                    .box-pink.fade-out