section#labels
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Smooth Fade
        .elr-row
            .elr-col-full.example-holder.example-holder-light
                .fade-box
                    p.fade-in This text is now visible
                .fade-box
                    p.fade-out This text will disappear