section#icons
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Animated Icons
        .elr-row
            .elr-col-full.example-holder.example-holder-light
                .border-icon
                    i.fa.fa-phone