section#icons
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Animated Icons
        .elr-row
            .elr-col-full.example-holder.example-holder-light
                .elr-row
                    .elr-col-2
                        .icon-animated.icon-border
                            i.fa.fa-phone
                    .elr-col-2
                        .icon-animated.icon-border-pop
                            i.fa.fa-gift
                    .elr-col-2
                        .icon-animated.icon-dash
                            i.fa.fa-home
                    .elr-col-2
                        .icon-animated.icon-dash-rotate
                            i.fa.fa-leaf
                    .elr-col-2
                        .icon-animated.icon-border-pull
                            i.fa.fa-lock
                    .elr-col-2
                        .icon-animated.icon-background-fade
                            i.fa.fa-paw