section#links
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Simple Line Link Transitions
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-simple-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5
                        li.menu-line
        .elr-row
            .elr-col-full
                h3.elr-bold Double Line Link Transitions
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-double-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5