//- section#spin
//-     .elr-container
//-         .elr-row
//-             .elr-col-full
//-                 h3.elr-bold Spin
//-         .elr-row.example-section
//-             .elr-col-full.example-holder.example-holder-light
//-                 .elr-col-half.spin-box
//-                     p Hover and the circle will rotate
//-                     .spin
//-                         p Some Text

section#flipper
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Flipper
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                .elr-col-half.flip-box
                    p Hover and the circle will flip
                    .flipper
                        .flip-container
                            .front
                                p Front
                            .back
                                p Back

