/*-----------------------------------------------------------------------------
    Circles
-----------------------------------------------------------------------------*/

// Creates a circular element

@mixin drm-circle($diameter, $display: block) {
    display: $display;
    width: $diameter;
    height: $diameter;
    border-radius: $diameter;
}

// Creates an ellipse

@mixin drm-ellipse($width, $height, $display: block) {
    display: $display;
    height: $height;
    width: $width;
    border-radius: ($width / 2), ($height / 2);
}