@mixin elr-spin() {
    animation: spinAround 9s linear infinite;

    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

@mixin elr-slide($final-height: 500px) {
    cursor: pointer;

    &:hover {
        .elr-slide-down {
            max-height: $final-height;
            transition: max-height .5s ease-in;
        }
    }

    .elr-slide-down {
        max-height: 0;
        transition: max-height .5s cubic-bezier(0, 1.05, 0, 1);
    }
}
