section#navigation
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h2.example-heading Breadcrumbs
            .elr-col-full.example-holder
                h3.example-subheading Basic Breadcrumbs
                ul.breadcrumbs
                    li: a(href="#") Home
                    li: a(href="#") Work with Us
                    li: a(href="#") Services
                    li.active Service One
            .elr-col-full.example-holder
                h3.example-subheading Arrow Breadcrumbs
                ul.breadcrumbs-arrow
                    li: a(href="#") Home
                    li: a(href="#") Work with Us
                    li: a(href="#") Services
                    li.active Service One