section#navigation
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h2.example-heading Breadcrumbs
            .elr-col-full.example-holder
                h3.example-subheading Basic Breadcrumbs
                ul.breadcrumbs
                    li: a(href="#") Home
                    li: a(href="#") Work with Us
                    li: a(href="#") Services
                    li.active Service One
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.example-subheading Arrow Breadcrumbs
                ul.breadcrumbs-arrow
                    li: a(href="#") Home
                    li: a(href="#") Work with Us
                    li: a(href="#") Services
                    li.active Service One
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.