section#buttons
    .elr-container.example-section
        .elr-row.example-holder
            .elr-col-full
                h3.example-heading Buttons
            .elr-col-full
                h4.example-subheading Button Link
                p Basic button with a solid border and transparent background. Smooth transition to solid background on hover.
            .elr-col-full
                a.elr-button.button-link(href="#") Click Here
                a.elr-button.button-solid(href="#") Click Here
            .elr-col-full
                h4.example-subheading Pill Buttons
            .elr-col-full
                a.elr-button.pill-button-link(href="#") Click Here
                a.elr-button.pill-button-solid(href="#") Click Here
            .elr-col-full
                h4.example-subheading Mobile Navigation Buttons
            .elr-col-full
                button.elr-button.mobile-toggle-button
                    .hamburger
                        span
                button.elr-button.mobile-toggle-button
                    span.menu-label Menu
                    .hamburger
                        span
                button.elr-button.mobile-toggle-button-border
                    .hamburger
                        span
                button.elr-button.mobile-toggle-button-border
                    span.menu-label Menu
                    .hamburger
                        span
        .elr-row.example-holder
            .elr-col-full
                h4.example-subheading Button Groups
            .elr-col-full
                .button-group
                    button.elr-button.elr-button-muted Tigers
                    button.elr-button.elr-button-success Shetland Sheepdogs
                    button.elr-button.elr-button-warning Leopards
                    button.elr-button.elr-button-danger Cats
                    button.elr-button.elr-button-primary Kangaroos
                    button.elr-button.elr-button-info Red Pandas
                .button-group-stacked
                    a(href="#").elr-button.elr-button-primary Tigers
                    a(href="#").elr-button.elr-button-primary Shetland Sheepdogs
                    a(href="#").elr-button.elr-button-primary Leopards
                    a(href="#").elr-button.elr-button-primary Cats
                    a(href="#").elr-button.elr-button-primary Kangaroos
                    a(href="#").elr-button.elr-button-primary Red Pandas
        .elr-row
            .elr-col-full
                h4.example-subheading Font Awesome Icon Buttons
        .elr-row
            .elr-col-full
                button.elr-button.elr-button-primary.icon-button.heart-button Like
                button.elr-button.elr-button-primary.icon-button.star-button Save
                button.elr-button.elr-button-primary.icon-button-left.download-button Download
                button.elr-button.elr-button-primary.icon-button-left.add-button Add Item
        .elr-row
            .elr-col-full
                h4.example-subheading Social Media Buttons
        .elr-row
            .elr-col-full
                a(href="#").elr-button.icon-button-left.facebook-button Facebook
                a(href="#").elr-button.icon-button-left.twitter-button Twitter
                a(href="#").elr-button.icon-button-left.google-plus-button Google+
                a(href="#").elr-button.icon-button-left.pinterest-button Pinterest
                a(href="#").elr-button.icon-button-left.instagram-button Instagram
        .elr-row
            .elr-col-full
                h4.example-subheading Icon Only Buttons
        .elr-row
            .elr-col-full
                button.elr-button.elr-button-success.icon-only-button.heart-button
                button.elr-button.elr-button-success.icon-only-button.star-button
                button.elr-button.elr-button-success.icon-only-button.download-button
                button.elr-button.elr-button-success.icon-only-button.add-button
        .elr-row
            .elr-col-full
                h4.example-subheading Icon Only Social Media Buttons
        .elr-row
            .elr-col-full
                a(href="#").elr-button.icon-only-button.facebook-button
                a(href="#").elr-button.icon-only-button.twitter-button
                a(href="#").elr-button.icon-only-button.google-plus-button
                a(href="#").elr-button.icon-only-button.pinterest-button
                a(href="#").elr-button.icon-only-button.instagram-button
        .elr-row
            .elr-col-full
                h4.example-subheading Circle Icon Buttons
        .elr-row
            .elr-col-full
                a(href="#").elr-button.icon-circle.facebook-button
                a(href="#").elr-button.icon-circle.twitter-button
                a(href="#").elr-button.icon-circle.google-plus-button
                a(href="#").elr-button.icon-circle.pinterest-button
                a(href="#").elr-button.icon-circle.instagram-button
        .elr-row
            .elr-col-full
                h4.example-subheading Icon Button Groups
        .elr-row
            .elr-col-full
                .icon-button-group
                    a(href="#").elr-button.icon-only-button.facebook-button
                    a(href="#").elr-button.icon-only-button.twitter-button
                    a(href="#").elr-button.icon-only-button.google-plus-button
                    a(href="#").elr-button.icon-only-button.pinterest-button
                    a(href="#").elr-button.icon-only-button.instagram-button
            .elr-col-full
                .icon-button-group-stacked
                    a(href="#").elr-button.icon-only-button.facebook-button
                    a(href="#").elr-button.icon-only-button.twitter-button
                    a(href="#").elr-button.icon-only-button.google-plus-button
                    a(href="#").elr-button.icon-only-button.pinterest-button
                    a(href="#").elr-button.icon-only-button.instagram-button