section#alerts
    .elr-container
        .elr-row
            .elr-col-full
                p: a(href="alerts.html") Alert Examples
                .elr-info-alert
                    p Info Alert
                pre .elr-info-alert

                .elr-danger-alert
                    p Danger Alert
                pre .elr-danger-alert

                .elr-warning-alert
                    p Warning Alert
                pre .elr-warning-alert

                .elr-success-alert
                    p Success Alert
                pre .elr-success-alert

                .elr-muted-alert
                    p Muted Alert
                pre .elr-muted-alert