section#alerts
    .drm-container
        .drm-row
            .drm-col-full
                p: a(href="alerts.html") Alert Examples
                .drm-info-alert
                    p Info Alert
                pre .drm-info-alert

                .drm-danger-alert
                    p Danger Alert
                pre .drm-danger-alert

                .drm-warning-alert
                    p Warning Alert
                pre .drm-warning-alert

                .drm-success-alert
                    p Success Alert
                pre .drm-success-alert

                .drm-muted-alert
                    p Muted Alert
                pre .drm-muted-alert