section#layout-helper-classes
    .drm-container
        .drm-row
            .drm-col-full
                h3 Float Boxes Left or Right
            .drm-col-full
                .drm-pull-left.box
                    p Left
            .drm-col-full
                pre .drm-pull-left
            .drm-col-full
                .drm-pull-right.box
                    p Right
            .drm-col-full
                pre .drm-pull-right