section#lists
    .drm-container
        .drm-row
            .drm-col-full
                h3 Unordered List

                ul
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six

                h3 Ordered List

                ol
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six

                dl
                    dt Definition One
                    dd.
                        J. Chiles: So we got an attractive woman, wearing a bra, no top, walkin' around in broad daylight. 
                        She's flouting society's conventions!
                    dt Definition Two
                    dd.
                        George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little 
                        George Costanza thing goin' on.
                    dt Definition Three
                    dd.
                        Newman: I mean parcels are rarely damaged during shipping. Jerry: Define rarely. Newman: Frequently.

                h3 Unstyled List

                ul.drm-unstyled-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six
                pre .drm-unstyled-list

                h3 Inline List

                ul.drm-inline-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six
                pre .drm-inline-list

                h3 Triangle List

                ul.drm-triangle-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six
                pre .drm-triangle-list

                h3 Checked List

                ul.drm-checked-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
                    li Item Six
                pre .drm-checked-list