section#responsiveness
    .elr-container
        .elr-row
            .elr-col-full
                p Hide content based on window size.
                p Resize your window to see how it works
        .elr-row
            .elr-col-full
                .responsive-demo.elr-hide
                    p This content is hidden on all screens
                pre .elr-hide
            .elr-col-full
                .responsive-demo.elr-hide-desktop
                    p This content is hidden on screens larger than 768px
                pre .elr-hide-desktop
            .elr-col-full
                .responsive-demo.elr-hide-tablet
                    p This content is hidden on screens smaller than 768px and larger than 568px
                pre .elr-hide-tablet
            .elr-col-full
                .responsive-demo.elr-hide-tablet.elr-hide-mobile
                    p This content is hidden on screens smaller than 768px
                pre .elr-hide-tablet.elr-hide-mobile
            .elr-col-full
                .responsive-demo.elr-hide-mobile
                    p This content is hidden on screens smaller than 568px
                pre .elr-hide-mobile
            .elr-col-full
                .responsive-demo.elr-show-desktop
                    p This content is visible only on screens larger than 768px
                pre .elr-show-desktop
            .elr-col-full
                .responsive-demo.elr-show-tablet
                    p This content is visible only on screens larger than 568px
                pre .elr-show-desktop.elr-show-tablet
            .elr-col-full
                .responsive-demo.elr-show-tablet
                    p This content is visible only on screens smaller than 768px and larger than 568px
                pre .elr-show-tablet
            .elr-col-full
                .responsive-demo.elr-show-mobile
                    p This content is visible only on screens smaller than 568px
                pre .elr-show-mobile