section#typography
    .elr-container
        .elr-row
            .elr-col-full
                h3 Typography Styles
                p.elr-bold Bold
                pre .elr-bold

                p.elr-italic Italic
                pre .elr-italic

                p.elr-underline Underline
                pre .elr-underline

                p.elr-uppercase Uppercase
                pre .elr-uppercase

                p.elr-smaller-text Smaller Text
                pre .elr-smaller-text

                p.elr-text-left. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                    Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                    qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                    saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-left

                p.elr-text-right. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                    Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                    qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                    saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-right

                p.elr-text-center. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                    Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                    qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                    saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-center

                p.elr-text-justified. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                    Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                    qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                    saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-justified

                p.elr-text-muted Muted
                pre .elr-text-muted

                p.elr-text-danger Danger
                pre .elr-text-danger

                p.elr-text-error Error
                pre .elr-text-error

                p.elr-text-info Info
                pre .elr-text-info

                p.elr-text-warning Warning
                pre .elr-text-warning

                p.elr-text-success Success
                pre .elr-text-success

                mark Marked Text
                pre &lt;mark&gt;Marked Text&lt;/mark&gt;

                p.elr-highlight Highlighted Text
                pre .elr-highlight

                p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                    Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                    qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                    saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre &lt;p&gt;

                small Small Text
                pre &lt;small&gt;

                blockquote
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
                        Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
                        qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
                        saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                    cite Citation
                pre &lt;blockquote&gt;
                
                p: a(href="#") This is a link