nav.mobile-nav-holder.elr-hide-desktop
    ul.mobile-menu
        li: a(href="css.html") CSS &amp; Sass
        li: a(href="javascript.html") JavaScript Components
        li: a(href="about.html") About
        li: a(href="contact.html") Contact Me
        li: a(href="faq.html") FAQ
        li: a(href="https://github.com/Beth3346/elr-utilities") GitHub
nav.main-nav.elr-hide-tablet.elr-hide-mobile
    ul.main-menu.nav-bar-pills
        li: a.main-nav-item(href="css.html") CSS &amp; Sass
        li: a.main-nav-item(href="javascript.html") JavaScript Components
        li(data-link="about"): a.main-nav-item(href="about.html") About
        li: a.main-nav-item(href="contact.html") Contact Me
        li: a.main-nav-item(href="faq.html") FAQ
        li: a.main-nav-item(href="https://github.com/Beth3346/elr-utilities") GitHub