nav.mobile-nav-holder.elr-hide-desktop
    button.mobile-menu-toggle Menu
        i.fa.fa-bars
    ul.mobile-menu.nav-bar-solid-stacked
        li: a(href="get-started.html") Get Started
        li: a(href="css.html") CSS &amp; Sass
        li: a(href="javscript.html") JavaScript Components
        li: a(href="about.html") About
        li: a(href="contact.html") Contact Me
        li: a(href="faq.html") FAQ
        li: a(href="https://github.com/Beth3346/elr-utilities") GitHub
nav.main-nav.elr-hide-tablet.elr-hide-mobile
    ul.main-menu.nav-bar-pills
        li: a(href="get-started.html") Get Started
        li: a(href="css.html") CSS &amp; Sass
        li: a(href="javascript.html") JavaScript Components
        li: a(href="about.html") About
        li: a(href="contact.html") Contact Me
        li: a(href="faq.html") FAQ
        li: a(href="https://github.com/Beth3346/elr-utilities") GitHub