aside.smooth-scroll.main-sidebar(data-position="left")
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label.active(href="sass-animations.html") Animations
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner.active
                li: a(href="sass-fade.html") Fade
                li: a(href="sass-flipper.html") Flip
                li: a(href="sass-animated-icons.html") Icons
                li: a(href="sass-animated-links.html") Links
                li: a(href="sass-slide.html") Slide
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-components.html") Components
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="sass-cards.html") Cards
                li: a(href="sass-comments.html") Comments
                li: a(href="sass-labels.html") Labels
                li: a(href="sass-preloaders.html") Preloaders
                li: a(href="sass-pricing-tables.html") Pricing Tables
                li: a(href="sass-progress-meters.html") Progress Meters
                li: a(href="sass-steps.html") Steps
                li: a(href="sass-thumbnails.html") Thumbnails
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="css-helpers.html") CSS Helpers
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="css-buttons.html") Buttons
                li: a(href="css-headings.html") Headings
                li: a(href="css-layout.html") Layout
                li: a(href="css-lists.html") Lists
                li: a(href="css-positioning.html") Positioning
                li: a(href="css-reset.html") Reset
                li: a(href="css-responsive.html") Responsive
                li: a(href="css-typography.html") Typography
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-elements.html") Elements
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="sass-images.html") Images
                li: a(href="sass-lists.html") Lists
                li: a(href="sass-tables.html") Tables
                li: a(href="sass-videos.html") Videos
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-flex.html") Flex
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-forms.html") Forms
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-grid.html") Grid
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-navigation.html") Navigation
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="sass-breadcrumbs.html") Breadcrumbs
                li: a(href="sass-buttons.html") Buttons
                li: a(href="sass-navbars.html") Nav Bars
                li: a(href="sass-navigation-patterns.html") Navigation
                li: a(href="sass-pagination.html") Pagination
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-layout.html") Sass Layout
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="sass-context-boxes.html") Context Boxes
                li: a(href="sass-layout.html") Layout
                li: a(href="sass-media-queries.html") Media Queries
                li: a(href="sass-shapes.html") Shapes
    ul.main-sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-typography.html") Typography
            ul.main-sidebar-submenu.elr-submenu.elr-accordion-nav-inner
                li: a(href="sass-headings.html") Headings
                li: a(href="sass-text-effects.html") Text Effects