.elr-col-quarter.main-sidebar-holder
    aside.main-sidebar(data-position="left")
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="js.html") JavaScript
                ul.elr-submenu.elr-accordion-nav-inner(data-state="expanded")
                    li: a(href="js-calendar.html") Calendar
                    li: a(href="js-flexible-grid.html") Flexible Grid
                    //- li: a(href="js-timestamps.html") Timestamps
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="js-forms.html") JavaScript Forms
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="js-dropdown-buttons.html") Dropdown Buttons
                    //- li: a(href="js-form-controls.html") Form Controls
                    li: a(href="js-passwords.html") Passwords
                    //- li: a(href="js-validation.html") Validation
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="js-navigation.html") JavaScript Navigation
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="js-back-to-top.html") Back to Top
                    li: a(href="js-dropdown-navigation.html") Dropdown Navigation
                    li: a(href="js-offscreen-menu.html") Offscreen Menu
                    li: a(href="js-sticky-nav.html") Sticky Nav
                    //- li: a(href="js-sticky-sidebar.html") Sticky Sidebar
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="js-ui.html") JavaScript UI
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="js-accordion.html") Accordion
                    li: a(href="js-alerts.html") Alerts
                    li: a(href="js-lightbox.html") Lightbox
                    li: a(href="js-modal.html") Modal
                    li: a(href="js-popovers.html") Popover
                    li: a(href="js-simple-slider.html") Simple Slider
                    li: a(href="js-sort.html") Sort
                    li: a(href="js-tablesorter.html") Tablesorter
                    li: a(href="js-tabs.html") Tabs
        //- ul.sidebar-menu.nav-bar-stacked
        //-     li
        //-         a.elr-accordion-nav-label(href="js-utilities.html") JS Utilities
        //-         ul.elr-submenu.elr-accordion-nav-inner
        //-             li: a(href="js-utilities-array.html") Array
        //-             li: a(href="js-utilities-data.html") Data
        //-             li: a(href="js-utilities-dom-manipulation.html") DOM Manipulation
        //-             li: a(href="js-utilities-patterns.html") Patterns
        //-             li: a(href="js-utilities-sort.html") Sort
        //-             li: a(href="js-utilities-time.html") Time
        //-             li: a(href="js-utilities-validation.html") Validation