section#alerts
    .elr-container
        .elr-row
            .elr-col-full
                h1 ELR Alerts
                p Show or hide content on click with optional show all and hide all buttons.

    .elr-container
        .elr-row
            .elr-col-full
                .elr-alert-holder