/*-----------------------------------------------------------------------------
    Calendar
-----------------------------------------------------------------------------*/

.drm-calendar {
    $date-width: (100% / 7);
    width: 100%;

    .drm-calendar-header {
        color: $darker-grey;
        font-weight: bold;
        border-bottom: 1px solid $light-grey;
        @include drm-em-font(32);
    }

    .drm-calendar-nav {
        margin: 10px 0 10px 0;
        @include drm-button-group($drm-blue, white, 3px, $drm-blue);
    }

    .drm-calendar-select {
        @include drm-inline-form();        
    }

    .drm-calendar-new-event {
        @include drm-tabular-form();        
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        th, td {
            background-color: white;
            padding: 10px;
            box-sizing: border-box;
            width: $date-width;
        }

        th {
            height: auto;
            text-align: center; 
            color: $grey;
        }

        tbody {
            tr:first-child {
                border-radius: 5px 5px 0 0;

                td:first-child {
                    border-radius: 5px 0 0 0;
                }

                td:last-child {
                    border-radius: 0 5px 0 0;
                }   
            }

            tr:last-child {
                border-radius: 0 0 5px 5px;

                td {                    
                    border-bottom: 1px solid $lighter-grey;

                    &:first-child {
                        border-radius: 0 0 0 5px;
                    }

                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }    

        td {
            height: 100px;
            overflow: hidden;
            border-top: 1px solid $lighter-grey;
            border-left: 1px solid $lighter-grey;
            color: $dark-grey;
            @include drm-em-font(14);

            &:last-child {
                border-right: 1px solid $lighter-grey;
            }

            &:hover {
                background-color: $dark-grey;
                color: white;
                cursor: pointer;
            }

            .events {
                @include drm-unstyled-list(left, no);
                @include drm-em-font(12);

                li {
                    padding: 0;
                }
            }
        }

        .drm-cal-muted {
            background-color: $lighter-grey;
            color: white;

            &:hover {
                cursor: not-allowed;
                background-color: $lighter-grey;
                color: white;
            }
        }

        .drm-cal-today {
            background-color: $drm-blue;
            color: white;
        }

        .drm-cal-weekend {
            background-color: $lightest-grey;
            color: $dark-grey;
        }

        .drm-cal-holiday {
            color: #FF3659;
        }
    }
}

.drm-calendar-day-view {
    margin: 20px auto 20px auto;
    padding: 10px 20px 10px 20px;
    width: 80%;
    border: 1px solid $light-grey;
    border-radius: 10px;
    box-sizing: border-box;

    .drm-calendar-header {
        color: $darker-grey;
        font-weight: bold;
        border-bottom: 1px solid $light-grey;
        text-align: center;
        @include drm-em-font(32);
    }

    .hours {
        @include drm-unstyled-list(left, no);

        .hour {
            color: $grey;
            font-weight: bold;
            @include drm-em-font(12);
        }

        li {
            padding: 10px 5px 0 5px;
            border-bottom: 1px solid $light-grey;
        }
    }
}