/*-----------------------------------------------------------------------------
    Calendar
-----------------------------------------------------------------------------*/

.drm-calendar {
    $date-width: (100% / 7);
    width: 100%;

    table {
        width: 100%;

        th, td {
            background-color: white;
            padding: 10px;
            box-sizing: border-box;
            width: $date-width;
        }

        th {
            height: auto;
            text-align: center; 
            color: $grey;   
        }

        td {
            height: 100px;
            overflow: hidden;
            border: 1px solid $grey;
            border-collapse: collapse;
            color: $dark-grey;
            @include drm-em-font(14);

            &:hover {
                background-color: $dark-grey;
                color: white;
                cursor: pointer;
            }

            .events {
                @include drm-unstyled-list(left, no);
                @include drm-em-font(12);

                li {
                    padding: 0;
                }
            }
        }

        .drm-cal-muted {
            background-color: $lighter-grey;
            color: white;

            &:hover {
                cursor: not-allowed;
                background-color: $lighter-grey;
                color: white;
            }
        }

        .drm-cal-today {
            background-color: $drm-blue;
            color: white;
        }

        .drm-cal-weekend {
            background-color: $lightest-grey;
            color: $dark-grey;
        }

        .drm-cal-holiday {
            color: #FF3659;
        }
    }
}