/*-----------------------------------------------------------------------------
    Grids
-----------------------------------------------------------------------------*/

@mixin drm-columns($num: 12, $gutter: 1em) {

    @for $i from 1 through $num {
        .drm-col-#{$i} {
            width: ( 100 / $num ) * $i * 1%;
            float: left;
            padding: 0 $gutter;

            .drm-container {
                width: 100%;
                padding-left: $gutter;
                padding-right: $gutter;

                .drm-row {
                    margin-left: 0;
                    margin-right: $gutter;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@mixin drm-grid($column-count: 12, $gutter: 1em) {
    .drm-container {
        width: 95%;
        margin: 0 auto;
    }

    .drm-row {
        width: 100%;
        margin-left: -$gutter;
        margin-right: $gutter;
        @include drm-clearfix();
    }

    @include drm-columns($column-count, $gutter);

    .drm-col-full {
        width: 100%;
        float: left;
        padding: 0 $gutter;

        .drm-container {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;

            .drm-row {
                margin-left: 0;
                margin-right: $gutter;
                margin-bottom: 0;
            }
        }
    }

    .drm-col-half {
        width: (100% / 2);
        float: left;
        padding: 0 $gutter;

        .drm-container {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;

            .drm-row {
                margin-left: 0;
                margin-right: $gutter;
                margin-bottom: 0;
            }
        }
    }

    .drm-col-third {
        width: (100% / 3);
        float: left;
        padding: 0 $gutter;

        .drm-container {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;

            .drm-row {
                margin-left: 0;
                margin-right: $gutter;
                margin-bottom: 0;
            }
        }
    }

    .drm-col-two-thirds {
        width: (100% / 3) * 2;
        float: left;
        padding: 0 $gutter;

        .drm-container {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;

            .drm-row {
                margin-left: 0;
                margin-right: $gutter;
                margin-bottom: 0;
            }
        }
    }

    .drm-col-quarter {
        width: (100% / 4);
        float: left;
        padding: 0 $gutter;

        .drm-container {
            width: 100%;
            padding-left: $gutter;
            padding-right: $gutter;

            .drm-row {
                margin-left: 0;
                margin-right: $gutter;
                margin-bottom: 0;
            }
        }
    }
}