section#fade
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Smooth Fade
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                .elr-col-half.fade-box
                    p Hover and the box will appear
                    .box-pink.fade-in
                .elr-col-half.fade-box
                    p Hover and box will disappear
                    .box-pink.fade-out
section#slide
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Slide Down
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                .elr-col-half.slide-box
                    .slide-down
                        p Slide Down
                        ul.elr-slide-down
                            li Item One
                            li Item Two
                            li Item Three
                            li Item Four