section#fade
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Smooth Fade
            .elr-col-full.example-holder
                .elr-col-half.fade-box
                    p Hover and the box will appear
                    .box-pink.fade-in
                .elr-col-half.fade-box
                    p Hover and box will disappear
                    .box-pink.fade-out
section#slide
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Slide Down
            .elr-col-full.example-holder
                .elr-col-half.slide-box
                    .slide-down
                        p Slide Down
                        ul.elr-slide-down.elr-unstyled-list
                            li Item One
                            li Item Two
                            li Item Three
                            li Item Four