section#icons
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Animated Icons
            .elr-col-full.example-holder
                .elr-row
                    .elr-col-2
                        .icon-animated.icon-border
                            i.fa.fa-phone
                    .elr-col-2
                        .icon-animated.icon-border-pop
                            i.fa.fa-gift
                    .elr-col-2
                        .icon-animated.icon-dash
                            i.fa.fa-home
                    .elr-col-2
                        .icon-animated.icon-dash-rotate
                            i.fa.fa-leaf
                    .elr-col-2
                        .icon-animated.icon-border-pull
                            i.fa.fa-lock
                    .elr-col-2
                        .icon-animated.icon-background-fade
                            i.fa.fa-paw
        .elr-row
            .elr-col-full
                h3.example-heading Hamburger Icons
            .elr-col-full.example-holder
                .elr-row
                    .elr-col-2
                        button.icon-animate.icon-hamburger.icon-close
                            span
                    .elr-col-2
                        button.icon-animate.icon-hamburger.icon-arrow-left
                            span
                    .elr-col-2
                        button.icon-animate.icon-hamburger.icon-arrow-right
                            span