section#links
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Simple Navigation Bar Transitions
                h4.example-subheading Simple Line
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-simple-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5
                        li.menu-line
        .elr-row
            .elr-col-full
                h4.example-subheading Double Line
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-double-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5
        .elr-row
            .elr-col-full
                h4.example-subheading Expanding Line
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-expanding-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5
        .elr-row
            .elr-col-full
                h4.example-subheading Drop Line
            .elr-col-full.example-holder.example-holder-light
                nav.menu-animated.menu-drop-lines
                    ul.menu
                        li.menu-item.current
                            a(href="#links") Article 1
                        li.menu-item
                            a(href="#links") Article 2
                        li.menu-item
                            a(href="#links") Article 3
                        li.menu-item
                            a(href="#links") Article 4
                        li.menu-item
                            a(href="#links") Article 5