section#flipper
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-headings
                h3.example-heading Flipper
                p Reveal content on click.
            .elr-col-full.example-holder
                .elr-col-half.flip-box
                    .flipper
                        .flipper-container.flipper-circle-container.js-flipper-container
                            p(style="color: red") Click Me!
                            .flipper-front.flipper-circle-front
                                p Click Me!
                            .flipper-back.flipper-circle-back
                                p Here is some content.
                .elr-col-half.flip-box
                    .flipper
                        .flipper-container.flipper-square-container.js-flipper-container
                            .flipper-front.flipper-square-front
                                p Click Me!
                            .flipper-back.flipper-square-back
                                p Here is some content.
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;div class=&quot;flipper&quot;&gt;
                        &lt;div class=&quot;flipper-container&quot;&gt;
                            &lt;div class=&quot;flipper-front&quot;&gt;
                                &lt;p&gt;Click Me!&lt;/p&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;flipper-back&quot;&gt;
                                &lt;p&gt;Here is some content.&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                h4.example-subheading Sass
                pre.
                    .flipper {
                        @include elr-flipper;
                        padding: 40px;
                    }

                    .flipper-container {
                        @include elr-circle(200px);
                    }

                    .flipper-front,
                    .flipper-back {
                        @include elr-circle(200px);

                        p {
                            @include elr-centerer(true, false);
                            @include elr-em-font(18px);
                            width: 100%;
                            color: $white;
                            text-align: center;
                        }
                    }

                    .flipper-container {
                        @include elr-square(200px);
                    }

                    .flipper-front,
                    .flipper-back {
                        @include elr-square(200px);

                        p {
                            @include elr-centerer(true, false);
                            @include elr-em-font(18px);
                            width: 100%;
                            color: $white;
                            text-align: center;
                        }
                    }

                    .flipper-front,
                    .flipper-square-front { background-color: $elr-blue; }
                    .flipper-back,
                    .flipper-square-back { background-color: $dark-pink; }
                h4.example-subheading JavaScript
                pre.
                    $('.flipper-container').on('click', function() {
                        $(this).toggleClass('active');
                    });
