section#elr-accordion
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading Accordion Content
                p Show or hide content on click with optional show all and hide all buttons.
            .elr-col-full.example-holder
                .elr-accordion
                    .elr-accordion-label
                        h3
                            span.elr-accordion-icon.fa.fa-minus
                            | &nbsp;Item One
                    .elr-accordion-inner(data-state="expanded")
                        p.
                            Elaine: So is it a problem that I’m not religious? Puddy: Not for me.
                            Elaine: Why not? Puddy: I’m not the one going to hell. Jerry: No, I don't eat dinner.
                            Dinner's for suckers. George: If Relationship George walks through this door, he will
                            kill Independent George. A George divided against itself cannot stand. Kramer: Well,
                            people kept ringing the bell! George: I think it moved. Jerry: Why would anybody want
                            a friend. Kramer: These pretzels are making me thirsty! Kramer: Boxers! How do you
                            wear these things? Look at that–they’re bagging up, they’re rising in, and there’s
                            nothing holding me in place. Jerry: Why do I always have the feeling everybody's doing
                            something better than me on Saturday afternoons? Newman: Jerry, I’m a little offended.
                            Jerry: You’re not a little anything, Newman. Jerry: Men want the same thing from their
                            underwear that they want from women: a little bit of support, and a little bit of
                            freedom. Elaine: So is it a problem that I’m not religious? Puddy: Not for me.
                            Elaine: Why not? Puddy: I’m not the one going to hell.

                    .elr-accordion-label
                        h3
                            span.elr-accordion-icon.fa.fa-plus
                            | &nbsp;Item Two
                    .elr-accordion-inner
                        p.
                            Jerry: But the thing you don't realize is that there's good naked and bad naked.
                            Naked hair brushing, good; naked crouching, bad. George: My whole life has been a
                            complete waste of time. Jerry: And there's so much more to go.

                    .elr-accordion-label
                        h3
                            span.elr-accordion-icon.fa.fa-plus
                            | &nbsp;Item Three
                    .elr-accordion-inner
                        p.
                            Kruger: Kruger Industrial Smoothing is heading into the red. Or the black, or whatever
                            the bad one is. Jerry: If the cops arrest a mime, do they tell him he has the right to
                            remain silent? Jerry: You were in the Army? Kramer: Briefly? Elaine: A woman just
                            walking around in broad daylight with nothing but a bra on? She's a menace to society.
                             Mr. Ross: It's a terrible tragedy when parents outlive their children. George: Yes, I
                             agree. I hope my parents go long before I do. Jerry: There's too much urinary freedom
                             in this society. I'm proud to hold it in. It builds character. Kramer: You don't eat
                             Oreos? The way you break 'em open and.... It's like you're having sex with 'em. Jerry:
                             Ah well, if it isn't Shakey the Mohel. Jerry: We're pathetic, you know that? George:
                             Yeah, like I don't know that I'm pathetic. Elaine: It’s a salad, only bigger, with lots
                             of stuff in it. Jerry: The New York Yankees? George: The New York Yankees! Jerry: Ruth,
                             Gehrig, DiMaggio, Mantle… Costanza?! Jerry: And you want to be my latex salesman. Jerry:
                             Women don’t respect salad eaters. Bob: Who? Who does not want to wear the ribbon.

                    .elr-accordion-label
                        h3
                            span.elr-accordion-icon.fa.fa-plus
                            | &nbsp;Item Four
                    .elr-accordion-inner
                        p.
                            George: I'm much more comfortable criticizing people behind their backs. Kramer:
                            Yamahama, it's fright night. Frank Costanza: Starting tonight we're having a little sales
                            contest. The loser gets fired. The winner gets a Water Pik.

                    .elr-accordion-label
                        h3
                            span.elr-accordion-icon.fa.fa-plus
                            | &nbsp;Item Five
                    .elr-accordion-inner
                        p.
                            Elaine: You'd really like him. Jerry: Why do people always say that? I hate everyone,
                            why would I like him! George: If Relationship George walks through this door, he will
                            kill Independent George. A George, divided against itself, cannot stand. Elaine: Maybe I’ll
                            go visit my mother. She just bought me some new panties and they’re all laid out for me.
                            George: I think she finds my stupidity charming. ; George: Do you ever just get down on your
                            knees and thank God that you know me and have access to my dementia? Puddy: I painted my face
                            Elaine: You painted your face? Puddy: Yeah.' Elaine: Why? Puddy: Well, you know, support the
                            team?
            .elr-col-full
                h2.example-heading Accordion Navigation
                p Show or hide navigation options on click
            .elr-col-full.example-holder
                nav.elr-accordion-nav
                    ul.nav-bar-solid-stacked
                        li
                            a.elr-accordion-nav-label(href="#")
                                span.elr-accordion-icon.fa.fa-minus
                                | &nbsp;Bears
                            ul.elr-accordion-nav-inner(data-state="expanded")
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black Bear
                                li: a(href="#") Brown Bear
                        li
                            a.elr-accordion-nav-label(href="#")
                                span.elr-accordion-icon.fa.fa-plus
                                | &nbsp;Dogs
                            ul.elr-accordion-nav-inner
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a.elr-accordion-nav-label(href="#")
                                span.elr-accordion-icon.fa.fa-plus
                                | &nbsp;Big Cats
                            ul.elr-accordion-nav-inner
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a.elr-accordion-nav-label(href="#")
                                span.elr-accordion-icon.fa.fa-plus
                                | &nbsp;Fish
                            ul.elr-accordion-nav-inner
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a.elr-accordion-nav-label(href="#")
                                span.elr-accordion-icon.fa.fa-plus
                                | &nbsp;Birds
                            ul.elr-accordion-nav-inner
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch