section#alerts
    .elr-container
        .elr-row
            .elr-col-full
                h1 ELR Alerts
                p Show or hide content on click with optional show all and hide all buttons.
    .elr-container
        .elr-row
            .elr-col-full
                .elr-alert-holder
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Usage
                p: a(href="https://github.com/Beth3346/elr-alerts" target="_blank") Visit GitHub Repo
section#modal-alerts
    .elr-container
        .elr-row
            .elr-col-full
                h1 ELR Modal Alerts
                p These alerts are similar to traditional pop-up style alerts but prettier.
    .elr-container
        .elr-row
            .elr-col-full
                button.elr-button.elr-button-info.js-show-info-alert Click for alert
                button.elr-button.elr-button-info.js-show-confirmation-alert Click for confirmation
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Usage
                p: a(href="https://github.com/Beth3346/elr-modal-alerts" target="_blank") Visit GitHub Repo