section#elr-lightbox
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Lightbox
    .elr-container
        .elr-row
            .elr-col-full
                ul.elr-lightbox-thumbnails
                    li
                        a(href="images/compressed/cat.jpg")
                            img(src="images/compressed/cat.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat1.jpg")
                            img(src="images/compressed/cat1.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat2.jpg")
                            img(src="images/compressed/cat2.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat3.jpg")
                            img(src="images/compressed/cat3.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat4.jpg")
                            img(src="images/compressed/cat4.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat5.jpg")
                            img(src="images/compressed/cat5.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat6.jpg")
                            img(src="images/compressed/cat6.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat7.jpg")
                            img(src="images/compressed/cat7.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat8.jpg")
                            img(src="images/compressed/cat8.jpg" alt="thumbnail")
                    li
                        a(href="images/compressed/cat9.png")
                            img(src="images/compressed/cat9.png" alt="thumbnail")
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/Beth3346/elr-lightbox" target="_blank") Visit GitHub Repo