section#elr-modal
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Modals
                h2 Modal Demo
                p display modal content with a click of a button
    .elr-container
        .elr-row
            .elr-col-full
                .elr-modal-demo-buttons
                    button.elr-modal-open(data-modal="elr-modal-info") More Info
                    button.elr-modal-open(data-modal="elr-modal-form") View Form
                    button.elr-modal-open(data-modal="elr-modal-video") See Video

                .elr-modal#elr-modal-info
                    .elr-header
                        h3.elr-bold.elr-header-title Modal Window with some info
                    .elr-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus officiis repudiandae sed tempora nesciunt mollitia. Doloremque, debitis ad veritatis. Illum, iusto officiis hic voluptate earum.
                    .elr-footer
                        button.elr-button.elr-button-primary.elr-modal-close Close

                .elr-modal#elr-modal-form
                    .elr-header
                        h3.elr-bold.elr-header-title Modal Form
                    .elr-body
                        form(action="")
                            label(for="name") Name:
                            input(type="text" id="name" name="name" placeholder="First Last")

                            label(for="email") Email:
                            input(type="text" id="email" name="email" placeholder="youremail@email.com" required)

                            label(for="notes") Notes:
                            textarea(name="notes" id="notes" cols="30" rows="10" placeholder="These are some notes")
                            small This is some instructional text
                    .elr-footer
                        button.elr-button.elr-button-primary(type="submit" id="submit") Submit
                        button.elr-button.elr-button-primary.elr-modal-close Cancel

                .elr-modal#elr-modal-video
                    .elr-header
                        h3.elr-bold.elr-header-title Modal Video
                    .elr-body
                        .video-holder
                            iframe(width="420" height="315" src="//www.youtube.com/embed/Na9H0Jdy3fY?rel=0" frameborder="0" allowfullscreen)
                    .elr-footer
                        button.elr-button.elr-button-primary.elr-modal-close Close
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-modals" target="_blank") Visit GitHub Repo