section#elr-simple-slider
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Simple Slider
                p A simple content slider. Content fades in and out
    .elr-container
        .elr-row
            .elr-col-full
                h2 Slider with Fade Effect
            .elr-col-full
                .elr-simple-slider
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat.jpg')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat1.jpg')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat2.jpg')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat3.jpg')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat4.jpg')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat5.jpg')
                                figcaption This is an image of slide 6 kittens are cute
    .elr-container
        .elr-row
            .elr-col-full
                h2 Slider with Slide Left Effect
            .elr-col-full
                .elr-simple-slider-2
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat6.jpg')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat7.jpg')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat8.jpg')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat9.png')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat10.jpg')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/cat11.jpg')
                                figcaption This is an image of slide 6 kittens are cute
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-simple-slider" target="_blank") Visit GitHub Repo