section#elr-simple-slider
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading Elr Simple Slider
                p A simple content slider. Content fades in and out
            .elr-col-full
                h3.example-subheading Slider with Fade Effect
            .elr-col-full.example-holder
                .elr-simple-slider
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat.jpg')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat1.jpg')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat2.jpg')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat3.jpg')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat4.jpg')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat5.jpg')
                                figcaption This is an image of slide 6 kittens are cute
        .elr-row
            .elr-col-full
                h3.example-subheading Slider with Slide Left Effect
            .elr-col-full.example-holder
                .elr-simple-slider-2
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat6.jpg')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat7.jpg')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat8.jpg')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat9.png')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat10.jpg')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='images/compressed/cat11.jpg')
                                figcaption This is an image of slide 6 kittens are cute