section#elr-tabs
    .elr-container
        .elr-row
            .elr-col-full
                h1 ELR Tabs
    .elr-container
        .elr-row
            .elr-col-three-fourths
                .elr-tabs(data-tab-type="top")
                    nav.elr-tab-list
                        ul
                            li: a(href="#tab1") Tab 1
                            li: a(href="#tab2") Tab 2
                            li: a(href="#tab3") Tab 3
                            li: a(href="#tab4") Tab 4
                    article.elr-tab-holder
                        section.elr-tab#tab1
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title The Big Advantage of a Book Is It's Very Easy to Rewind
                                        figure: img(src="images/cat1.jpg")
                                        p George: I'd rather be dating the blind. A good looking blind woman doesn't even know you're not good enough for her. Jerry: Hello, Newman. George: Look, Jerry let's face it. I've always been handicapped. I'm just now getting the recognition for it. Jerry: Women go after doctors like men go after models. They want someone with knowledge of the body. We just want the body. George: If you can't say something bad about a relationship you shouldn't say anything at all. Jerry: The New York Yankees? George: The New York Yankees! Jerry: Ruth, Gehrig, DiMaggio, Mantle… Costanza. George: I love a good nap. Sometimes it's the only thing getting me out of bed in the morning.
                        section.elr-tab#tab2
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title You? You'll Be Out Before We Get the Check
                                        figure: img(src="images/cat2.jpg")
                                        p.
                                            Salesman: This is our best model: The Cougar 9000. It's the Rolls Royce of wheelchairs. This is like..you're almost glad to be
                                            handicapped. Elaine: Hey Jerry, when do you consider sex has taken place? Jerry: I’d say when the nipple makes its first appearance.
                                            Jerry: Men want the same thing from their underwear that they want from women: a little bit of support, and a little bit of freedom.
                                            Puddy: I’ll be back. We’ll make out. George: Why did I tell her I like her? I have this sick compulsion to tell women how I feel.
                        section.elr-tab#tab3
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Three
                                        figure: img(src="images/cat3.jpg")
                                        p.
                                            George: She wants me to dress smart-casual. What is that? Jerry: I don't know, but you don't have it. Jerry: Broccoli? Newman, you
                                            wouldn't eat broccoli even if it was deep fried in chocolate sauce? Kramer: Now if you'll excuse me, I have to go fill my freezer with
                                            my own blood. George: I can not express to you the feeling I get from a perfect airport pickup. Elaine: I will never understand people.
                                            Jerry: They're the worst?
                                        p.
                                            George: This is gonna be my time. Time to taste the fruits and let the juices drip down my chin. I proclaim this: The Summer of George.
                                            Kramer: I don’t know. But I woke up in the Hudson river in a SACK. Newman: I mean parcels are rarely damaged during shipping. Jerry:
                                            Define rarely. Newman: Frequently. , George: I don’t really celebrate Christmas. I, um, I celebrate Festivus. Kruger: Vemonous?
                        section.elr-tab#tab4
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Four
                                        figure: img(src="images/cat4.jpg")
                                        p.
                                            Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Kramer: Jerry, now what you do with your
                                            personal life is your business. But when you're on my set, you clean it up mister. Jerry: So, um, do you date immature men. George: Well
                                            I, uh, I’m not sure how you pronounce it or anything, but I, uh, I believe it’s ménage à trois? Newman: I mean parcels are rarely damaged
                                            during shipping. Jerry: Define rarely. Newman: Frequently. George: Hey, I am not a prude, sweetheart. I swing with the best of them. Jerry:
                                            Not from the footage I've seen. Jerry: If the cops arrest a mime, do they tell him he has the right to remain silent. Elaine: Maybe the
                                            dingo ate your baby?, Elaine: No, I don't have a square to spare. I can't spare a square."
    .elr-container
        .elr-row
            .elr-col-three-fourths
                .elr-tabs(data-tab-type="top")
                    nav.elr-tab-list
                        ul
                            li: a(href="#tab5") Tab 5
                            li: a(href="#tab6") Tab 6
                            li: a(href="#tab7") Tab 7
                            li: a(href="#tab8") Tab 8
                    article.elr-tab-holder
                        section.elr-tab#tab5
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Five
                                        figure: img(src="images/paris.jpg")
                                        p.
                                            George: I'd rather be dating the blind. A good looking blind woman doesn't even know you're not good enough for her. Jerry: Hello,
                                            Newman. George: Look, Jerry let's face it. I've always been handicapped. I'm just now getting the recognition for it. Jerry: Women
                                            go after doctors like men go after models. They want someone with knowledge of the body. We just want the body. George: If you can't
                                            say something bad about a relationship you shouldn't say anything at all. Jerry: The New York Yankees? George: The New York Yankees!
                                            Jerry: Ruth, Gehrig, DiMaggio, Mantle… Costanza. George: I love a good nap. Sometimes it's the only thing getting me out of bed in
                                            the morning.
                        section.elr-tab#tab6
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Six
                                        figure: img(src="images/paris2.jpg")
                                        p.
                                            Salesman: This is our best model: The Cougar 9000. It's the Rolls Royce of wheelchairs. This is like..you're almost glad to be
                                            handicapped. Elaine: Hey Jerry, when do you consider sex has taken place? Jerry: I’d say when the nipple makes its first appearance.
                                            Jerry: Men want the same thing from their underwear that they want from women: a little bit of support, and a little bit of freedom.
                                            Puddy: I’ll be back. We’ll make out. George: Why did I tell her I like her? I have this sick compulsion to tell women how I feel.
                        section.elr-tab#tab7
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Seven
                                        figure: img(src="images/paris3.jpg")
                                        p.
                                            George: She wants me to dress smart-casual. What is that? Jerry: I don't know, but you don't have it. Jerry: Broccoli? Newman, you
                                            wouldn't eat broccoli even if it was deep fried in chocolate sauce? Kramer: Now if you'll excuse me, I have to go fill my freezer with
                                            my own blood. George: I can not express to you the feeling I get from a perfect airport pickup. Elaine: I will never understand people.
                                            Jerry: They're the worst?
                                        p.
                                            George: This is gonna be my time. Time to taste the fruits and let the juices drip down my chin. I proclaim this: The Summer of George.
                                            Kramer: I don’t know. But I woke up in the Hudson river in a SACK. Newman: I mean parcels are rarely damaged during shipping. Jerry:
                                            Define rarely. Newman: Frequently. , George: I don’t really celebrate Christmas. I, um, I celebrate Festivus. Kruger: Vemonous?
                        section.elr-tab#tab8
                            .elr-container
                                .elr-row
                                    .elr-col-full
                                        h2.elr-tab-title Tab Eight
                                        figure: img(src="images/paris4.jpg")
                                        p.
                                            Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Kramer: Jerry, now what you do with your
                                            personal life is your business. But when you're on my set, you clean it up mister. Jerry: So, um, do you date immature men. George: Well
                                            I, uh, I’m not sure how you pronounce it or anything, but I, uh, I believe it’s ménage à trois? Newman: I mean parcels are rarely damaged
                                            during shipping. Jerry: Define rarely. Newman: Frequently. George: Hey, I am not a prude, sweetheart. I swing with the best of them. Jerry:
                                            Not from the footage I've seen. Jerry: If the cops arrest a mime, do they tell him he has the right to remain silent. Elaine: Maybe the
                                            dingo ate your baby?, Elaine: No, I don't have a square to spare. I can't spare a square."
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Usage
                p: a(href="https://github.com/Beth3346/elr-tabs" target="_blank") Visit GitHub Repo