section#elr-tooltips
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Tooltips
        .elr-row
            .elr-col-full
                p
                    |George: You know, if you take
                    span.elr-has-tooltip(data-title="tooltip one" data-position="top") everything
                    |  I have accomplished in my entire life and condense it down into one day… it looks decent.
                    |: Maybe your yogurt isn't so non-fat.
                    span.elr-has-tooltip(data-title="Guy with the high hair" data-position="right") Kramer
                    |: Oh, guess again, tubby! Jerry: So, has the summer of George begun? Or are you still
                    |decomposing. George: When you look annoyed all the time, people think that you're busy. , "George: You can do better than me. You
                    |could throw a dart out the window and hit someone better than me." George: The only excuse she might have accepted is if I told her
                    |I am in reality
                    span.elr-has-tooltip(data-title="The Dark Knight" data-position="bottom") Batman
                    |, and I'm very sorry, I just saw the Bat Signal. Puddy: Right, Koko. That chimp's alright. High-five. , Kramer:
                    |The woman across the block has nothing on, nothing on, nothing on. There you go!, Jerry: What could possess anyone to throw a party? I
                    |mean, to have a bunch of strangers treat your house like a hotel room.
                    span.elr-has-tooltip(data-title="Hoochie Mama!!!" data-position="left") Serenity
                    |  now, insanity later. :-) Elaine: I will never understand
                    |people. Jerry: They're the worst. George: I can't believe you're bringing in an extra bed for a woman that wants to sleep with you. Why don't you
                    |bring in an extra guy too.

                button.elr-has-tooltip.elr-button-inline(data-title="On the left" data-position="left") Left
                button.elr-has-tooltip.elr-button-inline(data-title="Hoochie Mama!!!" data-position="top") Top
                button.elr-has-tooltip.elr-button-inline(data-title="Hoochie Mama!!!" data-position="bottom") Bottom
                button.elr-has-tooltip.elr-button-inline(data-title="Hoochie Mama!!!" data-position="right") Right