section.image-section#images
    .elr-container
        .elr-row
            .elr-col-full
                h3.example-heading Images
        .elr-row.example-holder
            .elr-col-full
                p.example-subheading Flexible Images
            .elr-col-full
                figure.image-container
                    img.flexible-image(src="images/compressed/paris8.jpg" alt="paris")
        .elr-row.example-holder
            .elr-col-full
                p.example-subheading Circular Images
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat7.jpg" alt="kitten")
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat8.jpg" alt="kitten")
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat12.jpg" alt="kitten")
        .elr-row.example-holder
            .elr-col-full
                p.example-subheading Rounded Images
            .elr-col-half
                figure
                    img.rounded-image(src="images/compressed/cat1.jpg" alt="kitten")
            .elr-col-half
                figure
                    img.rounded-image(src="images/compressed/cat3.jpg" alt="kitten")