section#images
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-headings
                h3.example-heading Flexible Images
                p Responsive images that keep their aspect ratio when the browser window is resized.
                p Resize the browser to see it in action!
        .elr-row.example-holder
            .elr-col-full
                figure.image-container
                    img.flexible-image(src="images/compressed/paris8.jpg" alt="paris")
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;figure class=&quot;image-container&quot;&gt;
                        &lt;img class=&quot;flexible-image&quot; src=&quot;images/compressed/paris8.jpg&quot; alt=&quot;paris&quot; &gt;
                    &lt;/figure&gt;
                h4.example-subheading Sass
                pre.
                    .flexible-image { @include elr-flex-image; }
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-headings
                h3.example-heading Circular Images
                p
        .elr-row.example-holder
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat7.jpg" alt="kitten")
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat8.jpg" alt="kitten")
            .elr-col-third
                figure.round-image
                    img(src="images/compressed/cat12.jpg" alt="kitten")
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;figure class=&quot;round-image&quot;&gt;
                        &lt;img src=&quot;images/compressed/cat12.jpg&quot; alt=&quot;kitten&quot; &gt;
                    &lt;/figure&gt;
                h4.example-subheading Sass
                pre.
                    .round-image { @include elr-circle-image(300px); }
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-headings
                h3.example-heading Rounded Images
                p
        .elr-row.example-holder
            .elr-col-half
                figure.rounded-image-holder
                    img.rounded-image(src="images/compressed/cat1.jpg" alt="kitten")
            .elr-col-half
                figure.rounded-image-holder
                    img.rounded-image(src="images/compressed/cat3.jpg" alt="kitten")
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;img class=&quot;rounded-image&quot; src=&quot;images/compressed/cat3.jpg&quot; alt=&quot;kitten&quot; &gt;
                h4.example-subheading Sass
                pre.
                    .rounded-image {
                        @include elr-rounded-image(10px);
                        display: block;
                    }