section.list-section#lists
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Lists
        .elr-row
            .elr-col-full
                h4.example-subheading Unstyled List
            .elr-col-full.example-holder
                ul.unstyled-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li.divider
                    li Item Four
                    li Item Five
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h4.example-subheading Border List
            .elr-col-full.example-holder
                ul.border-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h4.example-subheading Inline Lists
            .elr-col-full.example-holder
                ul.inline-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-full.example-holder
                ul.inline-list-center
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-full.example-holder
                ul.inline-list-right
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h4.example-subheading Custom Bullet List
            .elr-row.example-holder
                .elr-col-third
                    ul.triangle-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                .elr-col-third
                    ul.checked-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h4.example-subheading Icon lists with Font Awesome
            .elr-row.example-holder
                .elr-col-third
                    ul.heart-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                .elr-col-third
                    ul.paw-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                .elr-col-third
                    ul.star-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
            .elr-col-full
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.