extends templates/base
block title
    | About
block pagetitle
    | About ELR Utilties
block subtitle
    | A collection of reusable, modular Sass and JavaScript components
block content
    p I started this project with the hope of standardizing the components I use in almost all of the websites I build. I also wanted to decrease my reliance on 3rd party plugins and create components that are simple and easy to implement in a wide range of projects.
    p This is an ongoing project and it still needs a lot of work before it will be ready for production websites.