extends templates/base
block title
    | CSS &amp; Sass
block pagetitle
    | CSS &amp; Sass
block subtitle
    | Base CSS classes and resets
block content
    h2.example-heading Sass Mixin Library
    ul
        li
            a(href="sass-animations.html") Animations
            ul
                li: a(href="sass-fade.html") Fade
                li: a(href="sass-flipper.html") Flip
                li: a(href="sass-animated-icons.html") Icons
                li: a(href="sass-animated-links.html") Links
                li: a(href="sass-slide.html") Slide
        li
            a(href="sass-components.html") Components
            ul
                li: a(href="sass-cards.html") Cards
                li: a(href="sass-comments.html") Comments
                li: a(href="sass-labels.html") Labels
                li: a(href="sass-preloaders.html") Preloaders
                li: a(href="sass-pricing-tables.html") Pricing Tables
                li: a(href="sass-progress-meters.html") Progress Meters
                li: a(href="sass-steps.html") Steps
                li: a(href="sass-thumbnails.html") Thumbnails
        li
            a(href="css-helpers.html") CSS Helpers
            ul
                li: a(href="css-buttons.html") Buttons
                li: a(href="css-headings.html") Headings
                li: a(href="css-layout.html") Layout
                li: a(href="css-lists.html") Lists
                li: a(href="css-positioning.html") Positioning
                li: a(href="css-reset.html") Reset
                li: a(href="css-responsive.html") Responsive
                li: a(href="css-typography.html") Typography
        li
            a(href="sass-elements.html") Elements
            ul
                li: a(href="sass-images.html") Images
                li: a(href="sass-lists.html") Lists
                li: a(href="sass-tables.html") Tables
                li: a(href="sass-videos.html") Videos
        li
            a(href="sass-flex.html") Flex
        li
            a(href="sass-forms.html") Forms
        li
            a(href="sass-grid.html") Grid
        li
            a(href="sass-navigation.html") Navigation
            ul
                li: a(href="sass-breadcrumbs.html") Breadcrumbs
                li: a(href="sass-buttons.html") Buttons
                li: a(href="sass-navbars.html") Nav Bars
                li: a(href="sass-navigation-patterns.html") Navigation
                li: a(href="sass-pagination.html") Pagination
        li
            a(href="sass-layout.html") Sass Layout
            ul
                li: a(href="sass-context-boxes.html") Context Boxes
                li: a(href="sass-flex.html") Flex Grid
                li: a(href="sass-layout.html") Layout
                li: a(href="sass-media-queries.html") Media Queries
                li: a(href="sass-shapes.html") Shapes
        li
            a(href="sass-typography.html") Typography
            ul
                li: a(href="sass-headings.html") Headings
                li: a(href="sass-text-effects.html") Text Effects