extends templates/base
block pagetitle
    | ELR Utilities
block content
    h2.example-heading Get Started
    p ELR Utilities is a framework of Sass Mixins and JavaScript Components designed to speed up and streamline the development process.
    p Unlike most front-end frameworks, ELR Utilities uses Sass Mixins instead of plain CSS.  This allows for less overhead since you only generate CSS for the styles you actually use.
    p It is very simple to get started, but I should note that this is a work in progress so it is updated frequently and there will be bugs.  While this code is available for anyone to use it was created as an internal project for and is tailored to my projects.  It may or may not suit your projects.  However, you are welcome to customize for your needs.
    p I welcome any constructive feedback on GitHub and if you find any bugs or have any suggestions please let me know.