extends templates/base
block vars
    - var tech = 'javascript'
block title
    | JavaScript
block pagetitle
    | JavaScript
block subtitle
    | Interactive JavaScript components
block content
    include partials/js-ui/simple-slider