extends templates/base
block vars
    - var tech = 'javascript'
block title
    | JavaScript UI
block pagetitle
    | JavaScript UI
block subtitle
    | Interactive JavaScript components
block content
    include partials/js-ui/accordion
    include partials/js-ui/alerts
    include partials/js-ui/lightbox
    include partials/js-ui/modal
    include partials/js-ui/popovers
    include partials/js-ui/simple-slider
    include partials/js-ui/sort
    include partials/js-ui/tablesorter
    include partials/js-ui/tabs
    include partials/js-ui/tooltips