extends templates/base
block vars
    - var tech = 'javascript'
block title
    | JavaScript Components
block pagetitle
    | JavaScript Components
block subtitle
    | Interactive JavaScript components
block content
    include partials/js/calendar
    include partials/js/flexible-grid
    include partials/js/timestamps