extends templates/base
block title
    | Sass Elements
block pagetitle
    | Sass Tables
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-elements/tables