extends templates/base
block title
    | Sass Layout
block pagetitle
    | Sass Media Queries
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-layout/media-queries