extends templates/base
block title
    | Sass Components
block pagetitle
    | Sass Data Patterns
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-components/data-patterns