extends templates/base
block title
    | Sass Layout
block pagetitle
    | Sass Layout
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-layout/context-boxes
    include partials/sass-layout/layout
    include partials/sass-layout/media-queries
    include partials/sass-layout/shapes