extends templates/base
block title
    | Sass Animations
block pagetitle
    | Sass Flipper
block subtitle
    | Sass Mixins to build pure CSS animations
block content
    include partials/sass-animations/spin