extends templates/base
block title
    | Sass Layout
block pagetitle
    | Sass Page Layout
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-layout/layout