extends templates/base
block title
    | Sass Navigation
block pagetitle
    | Sass Navigation
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-navigation/buttons
    //- include partials/sass-navigation/navbars
    include partials/sass-navigation/navigation
    include partials/sass-navigation/pagination