extends templates/base
block title
    | Sass Components
block pagetitle
    | Sass Components
block subtitle
    | Sass Mixins to build website components
block content
    include partials/sass-components/cards
    //- include partials/sass-components/comments
    include partials/sass-components/labels
    //- include partials/sass-components/preloaders
    //- include partials/sass-components/pricing-tables
    //- include partials/sass-components/progress-meters
    //- include partials/sass-components/steps
    include partials/sass-components/thumbnails