extends templates/base
block title
    | Sass Animations
block pagetitle
    | Sass Animations
block subtitle
    | Sass Mixins to build pure CSS animations
block content
    include partials/sass-animations/fade
    include partials/sass-animations/spin
    include partials/sass-animations/icons
    include partials/sass-animations/links