extends templates/base
block title
    | Sass Typography
block pagetitle
    | Sass Text Effects
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-typography/text-effects