extends templates/base
block title
    | Sass Navigation
block pagetitle
    | Sass Navigation Patterns
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-navigation/navigation