extends templates/base
block title
    | Sass Elements
block pagetitle
    | Sass Elements
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-elements/images
    include partials/sass-elements/lists
    include partials/sass-elements/tables
    include partials/sass-elements/videos