extends templates/base
block title
    | Sass Components
block pagetitle
    | Sass Pricing Tables
block subtitle
    | Sass Mixins to build website components
block content
    include partials/sass-components/pricing-tables