extends templates/base
block title
    | Sass Animations
block pagetitle
    | Sass Fade
block subtitle
    | Sass Mixins to build pure CSS animations
block content
    include partials/sass-animations/fade