extends templates/base
block title
    | Sass Metro Grid
block pagetitle
    | Sass Metro Grid
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-layout/metro-grid