extends templates/base
block title
    | Sass Layout
block pagetitle
    | Sass Context Boxes
block subtitle
    | Sass mixins for common page elements
block content
    include partials/sass-layout/context-boxes