block vars
doctype
html.no-js(lang="en")
    head
        title
            block title
                | Sass and JavaScript Components
            |  - ELR Utilities
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:700,300,500")
        block fonts
        link(rel="stylesheet" href="css/styles.css")
        block headerscripts
        //- script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    body.main-body
        header.main-header#main-header
            .elr-container
                .elr-row
                    .elr-col-full
                        h1.site-heading: a(href="/") ELR Utilities
                        button.mobile-menu-toggle.elr-hide-desktop Menu
                            i.fa.fa-bars
                        include ../partials/navigation
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full.hero-unit-content
                        h1.page-title
                            block pagetitle
                            |&nbsp;
                            i.fa.fa-wrench
                        p.hero-unit-subtitle
                            block subtitle
                                | A collection of reusable, modular Sass and JavaScript components
        main.main-content.elr-container
            .elr-row
                .elr-col-2.main-sidebar-holder
                    block sidebar
                        if (tech == 'javascript')
                            include ../partials/sidebar-js
                        else
                            include ../partials/sidebar-css
                article.content-holder.elr-col-10
                    section.content
                        block content
        footer.main-footer
            p.copyright: small Built with Care by: Elizabeth Rogers
        script(src="js/build/bundle.js")
        block footerscripts