// image styles

@mixin elr-flex-image() {
    max-width: 100%;
    height: auto;
}

@mixin elr-circle-image( $width ) {
    width: $width;
    height: $width;
    border-radius: ($width / 2);
    overflow: hidden;

    img {
        height: $width;
        max-width: 100%;
    }
}

@mixin elr-image-overlay( $width, $height ) {
    img {
        max-width: 100%;
        height: auto;
    }    
}