// Shadows

// Applies a solid 2px drop shadow to an element

@mixin elr-solid-drop-shadow($color, $thickness: 3px) {
    box-shadow: $color 0 $thickness 0;
}

// creates a thick bottom drop shadow

@mixin elr-boxy-drop-shadow($shadow-color: $grey) {
    box-shadow: $shadow-color 0 30px 15px -20px;
}

@mixin elr-softer-thick-box-shadow($shadow-color: $dark-grey) {
    box-shadow: $shadow-color 0 58px 18px -53px;
}