section#cards
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Cards
            .elr-col-full
                h4.example-subheading Basic Cards
            .elr-col-full.elr-flex.elr-flex-justify.elr-flex-wrap
                .card-holder
                    .card
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                .card-holder
                    .card-border.card-centered
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
            .elr-col-full
                h4.example-subheading Image Cards
            .elr-col-full.elr-flex.elr-flex-justify.elr-flex-wrap
                .card-holder
                    .card-border
                        .elr-card-header
                            .elr-header-content
                                figure.elr-card-image
                                    img(src="images/compressed/cat11.jpg")
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                .card-holder
                    .card
                        .elr-card-header
                            figure.elr-card-full-image
                                img(src="images/compressed/paris3.jpg")
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                .card-holder
                    .card-border
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            figure.elr-card-image
                                img(src="images/compressed/cat.jpg")
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                .card-holder
                    .card
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                            figure.elr-card-full-image
                                img(src="images/compressed/paris2.jpg")
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                .card-holder
                    .card
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                            figure.elr-card-image
                                img(src="images/compressed/cat2.jpg")
                .card-holder
                    .card-border
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button Link
                            figure.elr-card-full-image
                                img(src="images/compressed/paris4.jpg")
            .elr-col-full
                h4.example-subheading Thumbnail Cards
            .elr-col-full.elr-flex.elr-flex-justify.elr-flex-wrap
                .card-holder
                    .card
                        .elr-card-header
                            .elr-header-content
                                figure.elr-card-thumbnail
                                    img(src="images/compressed/cat4.jpg")
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat soluta, delectus alias, dolor sapiente a cumque, eum corporis eligendi vero quasi dolore minus illum neque.
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button
                .card-holder
                    .card-border
                        .elr-card-header
                            .elr-header-content
                                figure.elr-card-thumbnail.elr-card-thumbnail-round
                                    img(src="images/compressed/paris5.jpg")
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iste quasi quam explicabo eaque non minima molestias consectetur, cum tenetur, impedit mollitia cupiditate adipisci necessitatibus.
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-success Complete Action
                                a.elr-button.elr-button-danger Cancel
                .card-holder
                    .card.card-centered
                        .elr-card-header
                            .elr-header-content
                                figure.elr-card-thumbnail
                                    img(src="images/compressed/cat5.jpg")
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat soluta, delectus alias, dolor sapiente a cumque, eum corporis eligendi vero quasi dolore minus illum neque.
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button
                .card-holder
                    .card-border.card-centered
                        .elr-card-header
                            .elr-header-content
                                figure.elr-card-thumbnail.elr-card-thumbnail-round
                                    img(src="images/compressed/paris6.jpg")
                                h2.elr-card-title Title of Card
                        .elr-card-body
                            .elr-card-content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iste quasi quam explicabo eaque non minima molestias consectetur, cum tenetur, impedit mollitia cupiditate adipisci necessitatibus.
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button
            .elr-col-full
                h4.example-subheading Contact Cards
            .elr-col-full.elr-flex.elr-flex-justify.elr-flex-wrap
                .card-holder
                    .card-border
                        .elr-card-header
                            .elr-header-content
                                h2.elr-card-title Location
                        .elr-card-body
                            .elr-card-content
                                p.card-address
                                    span.business-name Apple
                                    span.street-address 1 Infinite Loop
                                    span.city-state Cupertino, CA 95014
                                    span.country United States of America
                        .elr-card-footer
                            .elr-card-actions
                                a.elr-button.elr-button-primary Button