section#labels
    .elr-container
        .elr-row
            .elr-col-full
                h3.example-heading Contextual Lables
            .elr-col-full.example-holder
                p.label-info Information
                p.label-danger Danger
                p.label-warning Warning
                p.label-success Success
                p.label-muted Muted
                p.label-custom Custom Label