section#pricing-tables
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-headings
                h3.example-heading Pricing Tables
                p Pricing tables for displaying service and product packages.
            .elr-col-full.example-holder
                .elr-flex.pricing-table-container
                    .pricing-package
                        .pricing-package-header
                            p
                                span.pricing-package-price $39
                                span.pricing-package-duration per month
                        .pricing-package-body
                            h3.pricing-package-name Basic
                            p.pricing-package-description The base package
                            ul.pricing-package-features
                                li A cool feature
                                li Another cool feature
                                li Yet another feature
                        .pricing-package-footer
                            a.elr-button.elr-button-primary Select
                    .pricing-package.pricing-package-popular
                        .pricing-package-header
                            p
                                span.pricing-package-price $59
                                span.pricing-package-duration per month
                        .pricing-package-body
                            h3.pricing-package-name Premium
                            p.pricing-package-description The base package
                            ul.pricing-package-features
                                li A cool feature
                                li Another cool feature
                                li Yet another feature
                                li Yet another feature
                        .pricing-package-footer
                            a.elr-button.elr-button-danger Select
                    .pricing-package
                        .pricing-package-header
                            p
                                span.pricing-package-price $139
                                span.pricing-package-duration per month
                        .pricing-package-body
                            h3.pricing-package-name Unlimited
                            p.pricing-package-description The base package
                            ul.pricing-package-features
                                li A cool feature
                                li Another cool feature
                                li Yet another feature
                                li Yet another feature
                                li Yet another feature
                        .pricing-package-footer
                            a.elr-button.elr-button-primary Select
