section#thumbnails
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Thumbnails
            .elr-col-full
                figure.elr-thumbnail
                    img(src="images/compressed/cat11.jpg")
                figure.rounded-thumbnail
                    img(src="images/compressed/paris3.jpg")
                figure.round-thumbnail
                    img(src="images/compressed/cat.jpg")