section#thumbnails
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h1 Thumbnails
        .elr-row
            .elr-col-full
                figure.elr-thumbnail
                    img(src="images/cat11.jpg")
                figure.rounded-thumbnail
                    img(src="images/paris3.jpg")
                figure.round-thumbnail
                    img(src="images/cat.jpg")