section#headings
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-holder
                h3.heading.heading-rounded Rounded Heading
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.heading.heading-pill Pill Heading
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.heading.heading-underline Nice Underlined Heading
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.heading.heading-shortline Heading with Small Underline
                h3.heading.heading-shortline-left Heading with Small Underline
                h3.heading.heading-shortline-right Heading with Small Underline
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.heading-divider Heading Divider
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.