section#text-effects
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h2.example-heading Font Awesome
                p Use font awesome icons in before and after psuedo elements
            .elr-col-full.example-holder
                h4.icon-heading Icon Heading
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                .icon-heading-group
                    div.icon-group-headings
                        h3.icon-group-heading Icon Heading Group
                        h4.icon-group-subheading A subheadine for the icon group
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-two-thirds.example-holder
                .icon-content-block
                    .icon-heading-group
                        div.icon-group-headings
                            h3.icon-group-heading Icon Heading Group
                            h4.icon-group-subheading A subheadine for the icon group
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam.
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h2.example-heading Truncate
                p Add an ellipses if text overflows
            .elr-col-full.example-holder
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam.
                p.truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, veniam.
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h2.example-heading Font Face
                p Add webfonts
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h2.example-heading Text Underline
                p Add a short underline to some text
            .elr-col-full.example-holder
                h3.heading-shortline-left This Is a Headline
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.