section#buttons
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Defualt Button
            .elr-col-full.example-holder.button-examples
                a.elr-button.elr-button-primary Button
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;a class="elr-button elr-button-primary"&gt;Button&lt;/a&gt;
                h4.example-subheading Sass
                pre.
                    @include elr-helper-classes;
        .elr-row.example-section
            .elr-col-full
                h3.example-heading Simple Context Buttons
            .elr-col-full.example-holder.button-examples
                a.elr-button.elr-button-danger Danger
                a.elr-button.elr-button-warning Warning
                a.elr-button.elr-button-success Success
                a.elr-button.elr-button-info Info
                a.elr-button.elr-button-muted Muted
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;a class="elr-button elr-button-danger"&gt;Button&lt;/a&gt;
                    &lt;a class="elr-button elr-button-warning"&gt;Button&lt;/a&gt;
                    &lt;a class="elr-button elr-button-success"&gt;Button&lt;/a&gt;
                    &lt;a class="elr-button elr-button-info"&gt;Button&lt;/a&gt;
                    &lt;a class="elr-button elr-button-muted"&gt;Button&lt;/a&gt;
                h4.example-subheading Sass
                pre.
                    @include elr-helper-classes;