section#buttons
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Defualt Button
            .elr-col-full.example-holder.button-examples
                a.elr-button.elr-button-primary Button
            .elr-col-full
                pre
                    | .elr-button.elr-button-primary
            .elr-col-full
                h3.example-heading Simple Context Buttons
            .elr-col-full.example-holder.button-examples
                a.elr-button.elr-button-danger Danger
                a.elr-button.elr-button-warning Warning
                a.elr-button.elr-button-success Success
                a.elr-button.elr-button-info Info
                a.elr-button.elr-button-muted Muted
            .elr-col-full
                pre
                    | .elr-button.elr-button-danger
                    | .elr-button.elr-button-warning
                    | .elr-button.elr-button-success
                    | .elr-button.elr-button-info
                    | .elr-button.elr-button-muted