section#buttons
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.elr-bold Simple Context Buttons
            .elr-col-full.example-holder.example-holder-light.button-examples
                a.elr-button.elr-button-primary Button
                a.elr-button.elr-button-danger Danger
                a.elr-button.elr-button-warning Warning
                a.elr-button.elr-button-success Success
                a.elr-button.elr-button-info Info
                a.elr-button.elr-button-muted Muted