section#headings
    .elr-container
        .elr-row.example-section
            .elr-col-full
                h3.example-heading.elr-bold Headings
            .elr-col-full.example-holder
                h1 This is an h1 heading
                h2 This is an h2 heading
                h3 This is an h3 heading
                h4 This is an h4 heading
                h5 This is an h5 heading
                h6 This is an h6 heading
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;h1&gt;This is an h1 heading&lt;/h1&gt;
                    &lt;h2&gt;This is an h2 heading&lt;/h2&gt;
                    &lt;h3&gt;This is an h3 heading&lt;/h3&gt;
                    &lt;h4&gt;This is an h4 heading&lt;/h4&gt;
                    &lt;h5&gt;This is an h5 heading&lt;/h5&gt;
                    &lt;h6&gt;This is an h6 heading&lt;/h6&gt;
                h4.example-subheading Sass
                pre.
                    @include elr-base;
        .elr-row.example-section
            .elr-col-full.example-holder
                h3.h1 This is an h3 styled as an h1 heading
                h3.h2 This is an h3 styled as an h2 heading
                h4.h3 This is an h4 styled as an h3 heading
                h3.h4 This is an h3 styled as an h4 heading
                h3.h5 This is an h3 styled as an h5 heading
                h3.h6 This is an h3 styled as an h6 heading
        .elr-row.source-section
            button.elr-button.elr-button-small.elr-button-info.js-reveal(data-target=".source-holder") View Source &lt;&gt;
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                    &lt;h3 class="h1"&gt;This is an h3 styled as an h1 heading&lt;/h3&gt;
                    &lt;h3 class="h2"&gt;This is an h3 styled as an h2 heading&lt;/h3&gt;
                    &lt;h4 class="h3"&gt;This is an h4 styled as an h3 heading&lt;/h4&gt;
                    &lt;h3 class="h4"&gt;This is an h3 styled as an h4 heading&lt;/h3&gt;
                    &lt;h3 class="h5"&gt;This is an h3 styled as an h5 heading&lt;/h3&gt;
                    &lt;h3 class="h6"&gt;This is an h3 styled as an h6 heading&lt;/h3&gt;
                h4.example-subheading Sass
                pre.
                    @include elr-base;