section#layout
    .elr-container
        .elr-row.example-section
            .elr-col-full
                h3.elr-bold Float Boxes Left or Right
            .elr-col-full.example-holder.example-holder-light
                .elr-pull-left.box
                    p Left
            .elr-col-full
                pre .elr-pull-left
        .elr-row.example-section
            .elr-col-full.example-holder.example-holder-light
                .elr-pull-right.box
                    p Right
            .elr-col-full
                pre .elr-pull-right
        .elr-row.example-section
            .elr-col-full
                h3.elr-bold Clearfix
                pre .elr-clear
        .elr-row.example-section
            .elr-col-full
                h3.elr-bold Center Block
            .elr-col-full.example-holder.example-holder-light
                .box.elr-center-block
                    p Center Block
            .elr-col-full
                pre .elr-center-block
