section#lists
    .elr-container.example-section
        .elr-row.example-section
            .elr-col-full.example-headings
                h2.example-heading Lists
        .elr-row.example-section
            .elr-col-full
                h3.example-subheading Unordered List
            .elr-col-full.example-holder
                    ul
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                        li Item Six
        .elr-row.example-section
            .elr-col-full
                h3.example-subheading Ordered List
            .elr-col-full.example-holder
                    ol
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                        li Item Six
        .elr-row.example-section
            .elr-col-full
                h3.example-subheading Definition List
            .elr-col-full.example-holder
                    dl
                        dt Definition One
                        dd.
                            J. Chiles: So we got an attractive woman, wearing a bra, no top, walkin' around in broad daylight.
                            She's flouting society's conventions!
                        dt Definition Two
                        dd.
                            George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little
                            George Costanza thing goin' on.
                        dt Definition Three
                        dd.
                            Newman: I mean parcels are rarely damaged during shipping. Jerry: Define rarely. Newman: Frequently.
        .elr-row.example-section
            .elr-col-full
                h3.example-subheading Unstyled List
            .elr-col-full.example-holder
                    ul.elr-unstyled-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                        li Item Six
            .elr-col-full
                pre .elr-unstyled-list
        .elr-row.example-section
            .elr-col-full
                h3.example-subheading Inline List
            .elr-col-full.example-holder
                    ul.elr-inline-list
                        li Item One
                        li Item Two
                        li Item Three
                        li Item Four
                        li Item Five
                        li Item Six
            .elr-col-full
                pre .elr-inline-list