section#positioning
    .elr-container
        .elr-row.example-section
            .elr-col-full
                h3.example-heading.elr-bold Positioning Utilities
            .elr-col-full
                pre
                    | .elr-static
                    | .elr-absolute
                    | .elr-relative
                    | .elr-fixed
        .elr-row.example-section
            .elr-col-full
                h3.example-heading.elr-bold Positioning Utilities
            .elr-col-full
                pre
                    | .elr-block
                    | .elr-inline
                    | .elr-inline-block
                    | .elr-none