h2 Accordion Demo

.example-holder
	.drm-accordion(data-state="collapse")
		button(class="drm-hide-all drm-button-inline") Collapse All
		button(class="drm-show-all drm-button-inline") Expand All
		
		.drm-accordion-label Item One
		.drm-accordion-inner. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nostrum, dolorum esse tenetur eius consectetur modi ad et quod ab eaque! 
			Cupiditate, voluptates, sunt, modi, repellendus nemo saepe illum delectus 
			aut ex corporis at deserunt id repellat quaerat ratione sed ipsam provident 
			quod magnam quidem molestiae a aliquam in debitis ullam excepturi dicta 
			inventore laudantium officiis? Saepe, perspiciatis, illum neque distinctio 
			natus aperiam ratione optio ullam magnam illo amet expedita!
		
		.drm-accordion-label Item Two
		.drm-accordion-inner. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nostrum, dolorum esse tenetur eius consectetur modi ad et quod ab eaque! 
			Cupiditate, voluptates, sunt, modi, repellendus nemo saepe illum delectus 
			aut ex corporis at deserunt id repellat quaerat ratione sed ipsam provident 
			quod magnam quidem molestiae a aliquam in debitis ullam excepturi dicta 
			inventore laudantium officiis? Saepe, perspiciatis, illum neque distinctio 
			natus aperiam ratione optio ullam magnam illo amet expedita!
		
		.drm-accordion-label Item Three
		.drm-accordion-inner. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nostrum, dolorum esse tenetur eius consectetur modi ad et quod ab eaque! 
			Cupiditate, voluptates, sunt, modi, repellendus nemo saepe illum delectus 
			aut ex corporis at deserunt id repellat quaerat ratione sed ipsam provident 
			quod magnam quidem molestiae a aliquam in debitis ullam excepturi dicta 
			inventore laudantium officiis? Saepe, perspiciatis, illum neque distinctio 
			natus aperiam ratione optio ullam magnam illo amet expedita!
		
		.drm-accordion-label Item Four
		.drm-accordion-inner. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nostrum, dolorum esse tenetur eius consectetur modi ad et quod ab eaque! 
			Cupiditate, voluptates, sunt, modi, repellendus nemo saepe illum delectus 
			aut ex corporis at deserunt id repellat quaerat ratione sed ipsam provident 
			quod magnam quidem molestiae a aliquam in debitis ullam excepturi dicta 
			inventore laudantium officiis? Saepe, perspiciatis, illum neque distinctio 
			natus aperiam ratione optio ullam magnam illo amet expedita!
		
		.drm-accordion-label Item Five
		.drm-accordion-inner. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nostrum, dolorum esse tenetur eius consectetur modi ad et quod ab eaque! 
			Cupiditate, voluptates, sunt, modi, repellendus nemo saepe illum delectus 
			aut ex corporis at deserunt id repellat quaerat ratione sed ipsam provident 
			quod magnam quidem molestiae a aliquam in debitis ullam excepturi dicta 
			inventore laudantium officiis? Saepe, perspiciatis, illum neque distinctio 
			natus aperiam ratione optio ullam magnam illo amet expedita!
	
