h2 Dismissable Alerts Demo

.example-holder
	.info-alert.drm-dismissable-alert
		button(class="close") x 
		| This is just an informative alert
	.danger-alert.drm-dismissable-alert
		button(class="close") x 
		| Danger Danger Danger!
	.warning-alert.drm-dismissable-alert
		button(class="close") x 
		| This is just a gentle warning
	.success-alert.drm-dismissable-alert
		button(class="close") x 
		| The operation was completed succussfully
	.muted-alert.drm-dismissable-alert
		button(class="close") x 
		| A muted alert that will probably be ignored
	.custom-alert.drm-dismissable-alert
		button(class="close") x 
		| This is a custom alert