section
    h1 Drm Alerts

    p Show or hide content on click with optional show all and hide all buttons.

    .drm-alert-holder

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-alerts" target="_blank") Visit GitHub Repo

    p Just add class "drm-dismissable-alert" to the element you want to make dismissable. Add the "close" class to the element you want the user to click on to dismiss the alert.

    h3.bold Alert Types:

    ul
        li Info "info-alert"
        li Danger "danger-alert"
        li Warning "warning-alert"
        li Success "success-alert"
        li Muted "muted-alert"
        li Custom "custom-alert"
            p You can create custom alerts using the @mixin drm-context-box

    pre.
        &lt;div class="info-alert drm-dismissable-alert"&gt;
        &lt;button class="close"&gt;x&lt;/button&gt;
        This is just an informative alert
        &lt;/div&gt;

    pre.
        drmAlert = new DrmDismissableAlert();
        drmAlert.showAlert('info', 'This is just an informative alert', $('.drm-alert-holder'));
        drmAlert.showAlert('danger', 'Danger Danger Danger!', $('.drm-alert-holder'));
        drmAlert.showAlert('warning', 'This is just a gentle warning', $('.drm-alert-holder'));
        drmAlert.showAlert('success', 'your request was successful', $('.drm-alert-holder'));
        drmAlert.showAlert('muted', 'A muted alert that will probably be ignored', $('.drm-alert-holder'));
        drmAlert.showAlert('custom', 'This is a custom alert', $('.drm-alert-holder'));