section
    h1 Calendar

    p Interative JS Calendar

    h2 Live Demo

    .drm-calendar
        button.drm-show-event-form.button-solid-radius(type="button") Add New Event
        form.drm-calendar-new-event#drm-calendar-new-event(action="" role="form")
            label(for="event_name") Event Name:
            input#event-name(type="text" name="event_name" required data-min-length="3" data-max-length="50")
            h3.drm-bold Event Recurrance:
            .drm-inline-control-group
                label(for="recurrance") Recurrance
                select#recurrance(name="recurrance")
                    option(value="none") None
                    option(value="daily") Daily
                    option(value="weekly") Weekly
                    option(value="biweekly") Bi-Weekly
                    option(value="monthly") Monthly
                    option(value="yearly") Yearly
            .drm-inline-control-group
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value="January") January
                    option(value="February") February
                    option(value="March") March
                    option(value="April") April
                    option(value="May") May
                    option(value="June") June
                    option(value="July") July
                    option(value="August") August
                    option(value="September") September
                    option(value="October") October
                    option(value="November") November
                    option(value="December") December
                label(for="event_date") Date:
                input.drm-valid-integer#event-date(type="text" name="event_date" data-min-value="1" data-max-value="31" data-min-length="1" data-max-length="2")
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                label(for="time") Time:
                input.drm-valid-time#time(type="text" name="time" placeholder="12:00pm")

            .drm-inline-control-group
                .drm-control-group
                    label
                        input.day-checkbox#all-day-event(type="checkbox" name="all_day_event" value=true)
                        | All Day Event

            .drm-inline-control-group
                .drm-control-group
                    label
                        input.day-checkbox#day-sunday(type="checkbox" name="day_sunday" value="Sunday")
                        | Sunday
                    label
                        input.day-checkbox#day-monday(type="checkbox" name="day_monday" value="Monday")
                        | Monday
                    label
                        input.day-checkbox#day-tuesday(type="checkbox" name="day_tuesday" value="Tuesday")
                        | Tuesday
                    label
                        input.day-checkbox#day-wednesday(type="checkbox" name="day_wednesday" value="Wednesday")
                        | Wednesday
                    label
                        input.day-checkbox#day-thursday(type="checkbox" name="day_thursday" value="Thursday")
                        | Thursday
                    label
                        input.day-checkbox#day-friday(type="checkbox" name="day_friday" value="Friday")
                        | Friday
                    label
                        input.day-checkbox#day-saturday(type="checkbox" name="day_saturday" value="Saturday")
                        | Saturday

            .drm-inline-control-group
                label(for="day_num") Week Number
                select#day-num(name="day_num")
                    option(value="") Select Week
                    option(value="1") First
                    option(value="2") Second
                    option(value="3") Third
                    option(value="4") Fourth
                    option(value="last") Last

            h3.drm-bold Event Details:
            label(for="event_type") Event Type:
            input#event-type(type="text" name="event_type" placeholder="holiday")
            label(for="event_notes") Event Type:
            textarea#event-notes(name="event_notes" cols="30" rows="2" placeholder="These are some notes") 

            button.addEvent#submit(type="submit") Add Event

        form.drm-calendar-select#drm-calendar-select(action="" role="form")
            .drm-inline-control-group 
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value=0) January
                    option(value=1) February
                    option(value=2) March
                    option(value=3) April
                    option(value=4) May
                    option(value=5) June
                    option(value=6) July
                    option(value=7) August
                    option(value=8) September
                    option(value=9) October
                    option(value=10) November
                    option(value=11) December
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                button#submit(type="submit") Select

        .drm-calendar-view-nav
            button.drm-calendar-view(data-view='month') Month
            button.drm-calendar-view(data-view='week') Week
            button.drm-calendar-view(data-view='day') Day

        .drm-calendar-nav
            button.drm-calendar-year-prev(data-dir='prev') Previous Year
            button.drm-calendar-month-prev(data-dir='prev') Previous Month
            button.drm-calendar-week-prev(data-dir='prev') Previous Week
            button.drm-calendar-date-prev(data-dir='prev') Yesterday
            button.drm-calendar-current Today
            button.drm-calendar-date-next(data-dir='next') Tomorrow
            button.drm-calendar-week-next(data-dir='next') Next Week
            button.drm-calendar-month-next(data-dir='next') Next Month
            button.drm-calendar-year-next(data-dir='next') Next Year

    h2 Usage
    
    a(href="https://github.com/dynamicresponsemedia/drm-calendar" target="_blank") Visit GitHub Repo