section
    h1 Calendar

    p Interative JS Calendar

    h2 Live Demo

    .drm-calendar
        button.drm-show-event-form.button-solid-radius(type="button") Add New Event
        form.drm-calendar-new-event#drm-calendar-new-event(action="" role="form")
            label(for="event_name") Event Name:
            input#event-name(type="text" name="event_name" required data-min-length="3" data-max-length="50")
            h3.drm-bold Event Recurrance:
            .drm-inline-control-group
                label(for="recurrance") Recurrance
                select#recurrance(name="recurrance")
                    option(value="") None
                    option(value="") Daily
                    option(value="weekly") Weekly
                    option(value="biweekly") Bi-Weekly
                    option(value="monthly") Monthly
                    option(value="yearly") Yearly
            .drm-inline-control-group
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value="January") January
                    option(value="February") February
                    option(value="March") March
                    option(value="April") April
                    option(value="May") May
                    option(value="June") June
                    option(value="July") July
                    option(value="August") August
                    option(value="September") September
                    option(value="October") October
                    option(value="November") November
                    option(value="December") December
                label(for="event_date") Date:
                input.drm-valid-integer#event-date(type="text" name="event_date" data-min-value="1" data-max-value="31" data-min-length="1" data-max-length="2")
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
            .drm-inline-control-group
                label(for="day") Day of Week:
                select#day(name="day")
                    option(value="") Select Day
                    option(value="Sunday") Sunday
                    option(value="Monday") Monday
                    option(value="Tuesday") Tuesday
                    option(value="Wednesday") Wednesday
                    option(value="Thursday") Thursday
                    option(value="Friday") Friday
                    option(value="Saturday") Saturday
                label(for="day_num") Day Number
                select#day-num(name="day_num")
                    option(value="") Select Week
                    option(value="1") First
                    option(value="2") Second
                    option(value="3") Third
                    option(value="4") Fourth
                    option(value="last") Last
            h3.drm-bold Event Details:
            label(for="event_type") Event Type:
            input#event-type(type="text" name="event_type" placeholder="holiday")
            label(for="event_notes") Event Type:
            textarea#event-notes(name="event_notes" cols="30" rows="2" placeholder="These are some notes") 

            button.addEvent#submit(type="submit") Add Event

        form.drm-calendar-select#drm-calendar-select(action="" role="form")
            .drm-inline-control-group 
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value=0) January
                    option(value=1) February
                    option(value=2) March
                    option(value=3) April
                    option(value=4) May
                    option(value=5) June
                    option(value=6) July
                    option(value=7) August
                    option(value=8) September
                    option(value=9) October
                    option(value=10) November
                    option(value=11) December
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                button#submit(type="submit") Select

        .drm-calendar-nav
            button.drm-calendar-year-prev(data-dir='prev') Previous Year
            button.drm-calendar-month-prev(data-dir='prev') Previous Month
            button.drm-calendar-current Today
            button.drm-calendar-month-next(data-dir='next') Next Month
            button.drm-calendar-year-next(data-dir='next') Next Year

    h2 Usage