section
    h1 Calendar

    p Interative JS Calendar

    h2 Live Demo

    //- .drm-calendar(data-month="March" data-date="24" data-year="2015" data-event-name="My Birthday" data-event-month="March", data-event-date="24", data-event-recurrance="yearly")

    .drm-calendar
        button.drm-show-event-form.button-solid-radius(type="button") Add New Event
        form.drm-calendar-new-event#drm-calendar-new-event(method="get" action="" role="form")
            label(for="event_name") Event Name:
            input#name(type="text" name="event_name" required data-min-length="3" data-max-length="50")
            h3.drm-bold Event Recurrance:
            .drm-inline-control-group
                label(for="recurrance") Recurrance
                select#recurrance(name="recurrance")
                    option(value="none") None
                    option(value="daily") Daily
                    option(value="weekly") Weekly
                    option(value="biweekly") Bi-Weekly
                    option(value="monthly") Monthly
                    option(value="yearly") Yearly
            .drm-inline-control-group
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value="January") January
                    option(value="February") February
                    option(value="March") March
                    option(value="April") April
                    option(value="May") May
                    option(value="June") June
                    option(value="July") July
                    option(value="August") August
                    option(value="September") September
                    option(value="October") October
                    option(value="November") November
                    option(value="December") December
                label(for="event_date") Date:
                select#eventDate(name="event_date")
                    option(value="") Select Date
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                    option(value="9") 9
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                    option(value="13") 13
                    option(value="14") 14
                    option(value="15") 15
                    option(value="16") 16
                    option(value="17") 17
                    option(value="18") 18
                    option(value="19") 19
                    option(value="20") 20
                    option(value="21") 21
                    option(value="22") 22
                    option(value="23") 23
                    option(value="24") 24
                    option(value="25") 25
                    option(value="26") 26
                    option(value="27") 27
                    option(value="28") 28
                    option(value="29") 29
                    option(value="30") 30
                    option(value="31") 31
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                label(for="time") Time:
                input.drm-valid-time#time(type="text" name="time" placeholder="12:00pm")

            .drm-inline-control-group
                .drm-control-group
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Sunday")
                        | Sunday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Monday")
                        | Monday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Tuesday")
                        | Tuesday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Wednesday")
                        | Wednesday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Thursday")
                        | Thursday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Friday")
                        | Friday
                    label
                        input.day-checkbox#day(type="checkbox" name="day" value="Saturday")
                        | Saturday

            .drm-inline-control-group
                label(for="day_num") Week Number
                select#dayNum(name="day_num")
                    option(value="") Select Week
                    option(value="1") First
                    option(value="2") Second
                    option(value="3") Third
                    option(value="4") Fourth
                    option(value="last") Last

            h3.drm-bold Event Details:
            label(for="event_type") Event Type:
            input#type(type="text" name="event_type" placeholder="holiday")
            label(for="event_notes") Event Notes:
            textarea#notes(name="event_notes" cols="30" rows="2" placeholder="These are some notes") 

            button.addEvent#submit(type="submit") Add Event

        form.drm-calendar-select#drm-calendar-select(method="Get" action="" role="form")
            .drm-inline-control-group 
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value=0) January
                    option(value=1) February
                    option(value=2) March
                    option(value=3) April
                    option(value=4) May
                    option(value=5) June
                    option(value=6) July
                    option(value=7) August
                    option(value=8) September
                    option(value=9) October
                    option(value=10) November
                    option(value=11) December
                label(for="date") Date:
                select#date(name="date")
                    option(value="") Select Date
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                    option(value="9") 9
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                    option(value="13") 13
                    option(value="14") 14
                    option(value="15") 15
                    option(value="16") 16
                    option(value="17") 17
                    option(value="18") 18
                    option(value="19") 19
                    option(value="20") 20
                    option(value="21") 21
                    option(value="22") 22
                    option(value="23") 23
                    option(value="24") 24
                    option(value="25") 25
                    option(value="26") 26
                    option(value="27") 27
                    option(value="28") 28
                    option(value="29") 29
                    option(value="30") 30
                    option(value="31") 31
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                button#submit(type="submit") Select

        .drm-calendar-view-nav
            button.drm-calendar-view(data-view='month') Month
            button.drm-calendar-view(data-view='week') Week
            button.drm-calendar-view(data-view='date') Day

        .drm-calendar-nav
            button.drm-calendar-year-prev(data-dir='prev') Previous Year
            button.drm-calendar-month-prev(data-dir='prev') Previous Month
            button.drm-calendar-week-prev(data-dir='prev') Previous Week
            button.drm-calendar-date-prev(data-dir='prev') Yesterday
            button.drm-calendar-current Today
            button.drm-calendar-date-next(data-dir='next') Tomorrow
            button.drm-calendar-week-next(data-dir='next') Next Week
            button.drm-calendar-month-next(data-dir='next') Next Month
            button.drm-calendar-year-next(data-dir='next') Next Year

    h2 Usage
    
    a(href="https://github.com/dynamicresponsemedia/drm-calendar" target="_blank") Visit GitHub Repo
    p at the moment only US style dates and times are used

    h3.drm-bold Initialize:

    pre new DrmCalendar(calendarClass = 'drm-calendar', @view = 'month', @addHolidays = yes);

    h4.drm-bold Options:
    ul.drm-unstyled-list
        li
            span.drm-bold calendarClass: 
            | classname of the calendar holder - default: drm-calendar
        li
            span.drm-bold view: 
            | first view when the calendar loads - default: month
            ul
                li month
                li week
                li date
        li
            span.drm-bold addHolidays: 
            | add holidays to calendar (US only for now) - default: yes

    h3.drm-bold Add events dynamically using the createEvent method
    p createEvent takes an object as its only argument

    pre.
        drmCalendar = new DrmCalendar();
        drmCalendar.createEvent(newEvent);

    h4.drm-bold Options:
    ul.drm-unstyled-list
        li
            span.drm-bold id: 
            | the event id number (DrmCalendar will add this for you - don't add this yourself)
        li
            span.drm-bold name: 
            | name of your event
        li
            span.drm-bold recurrance: 
            | how often the event will occur
            ul
                li
                    span.drm-bold yearly: 
                    | once per year
                li
                    span.drm-bold monthly: 
                    | once per month
                li
                    span.drm-bold biweekly: 
                    | every other week
                li
                    span.drm-bold weekly: 
                    | once per week
                li
                    span.drm-bold daily: 
                    | every single day
                li
                    span.drm-bold none: 
                    | exactly once
        li
            span.drm-bold month: 
            | month of your event - full name of month not abbreviations or month number
        li
            span.drm-bold year: 
            | year of your event - for non-recurring events only
        li
            span.drm-bold eventDate: 
            | date of event
        li
            span.drm-bold time: 
            | time of event ex. 2:30pm - omit for all day events
        li
            span.drm-bold day: 
            | day of the week - array of days of the week - full name of day not abbreviations or day number - can be an array ex. ['Saturday', 'Sunday']
        li
            span.drm-bold dayNum: 
            | day number - ex. 1 for first occurance of day in month - use 'last' for the last occurance in the month
        li
            span.drm-bold type: 
            | event type - so far holiday is the only type that has any effect
        li
            span.drm-bold notes: 
            | event notes - show up in the event view

    h4.drm-bold Examples:

    h5.drm-bold Yearly Event:
    
    pre.
        drmCalendar.createEvent({
            name: 'Thanksgiving',
            month: 'November',
            dayNum: 'last',
            day: ['Thursday'],
            type: 'holiday',
            recurrance: 'yearly',
            notes: 'Thanksgiving occurs on the last Thursday in November'
        });

    h5.drm-bold Monthly Event:

    pre.
        drmCalendar.createEvent({
            name: 'Rabbit Rabbit Day',
            eventDate: 1,
            type: 'fun day',
            recurrance: 'monthly',
            notes: 'Say Rabbit Rabbit for good luck this month'
        });

    h5.drm-bold Weekly Event:
    
    pre.
        drmCalendar.createEvent({
            name: 'Sleep In!',
            day: ['Sunday', 'Saturday']
            time: '9:00am'
            recurrance: 'weekly',
            notes: 'Thanksgiving occurs on the last Thursday in November'
        });

    h5.drm-bold Daily Event:
    
    pre.
        drmCalendar.createEvent({
            name: 'Eat Lunch',
            time: '12:00pm'
            recurrance: 'daily',
            notes: 'Eat a healthy lunch'
        });