section
    h1 Calendar

    p Interative JS Calendar

    h2 Live Demo

    .drm-calendar
        button.drm-show-event-form.button-solid-radius(type="button") Add New Event
        form.drm-calendar-new-event#drm-calendar-new-event(action="" role="form")
            label(for="event_name") Event Name:
            input#event-name(type="text" name="event_name" required data-min-length="3" data-max-length="50")
            h3.drm-bold Event Recurrance:
            .drm-inline-control-group
                label(for="recurrance") Recurrance
                select#recurrance(name="recurrance")
                    option(value="none") None
                    option(value="daily") Daily
                    option(value="weekly") Weekly
                    option(value="biweekly") Bi-Weekly
                    option(value="monthly") Monthly
                    option(value="yearly") Yearly
            .drm-inline-control-group
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value="January") January
                    option(value="February") February
                    option(value="March") March
                    option(value="April") April
                    option(value="May") May
                    option(value="June") June
                    option(value="July") July
                    option(value="August") August
                    option(value="September") September
                    option(value="October") October
                    option(value="November") November
                    option(value="December") December
                label(for="event_date") Date:
                input.drm-valid-integer#event-date(type="text" name="event_date" data-min-value="1" data-max-value="31" data-min-length="1" data-max-length="2")
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")

            .drm-inline-control-group
                .drm-control-group
                    label
                        input.day-checkbox#day-sunday(type="checkbox" name="day_sunday" value="Sunday")
                        | Sunday
                    label
                        input.day-checkbox#day-monday(type="checkbox" name="day_monday" value="Monday")
                        | Monday
                    label
                        input.day-checkbox#day-tuesday(type="checkbox" name="day_tuesday" value="Tuesday")
                        | Tuesday
                    label
                        input.day-checkbox#day-wednesday(type="checkbox" name="day_wednesday" value="Wednesday")
                        | Wednesday
                    label
                        input.day-checkbox#day-thursday(type="checkbox" name="day_thursday" value="Thursday")
                        | Thursday
                    label
                        input.day-checkbox#day-friday(type="checkbox" name="day_friday" value="Friday")
                        | Friday
                    label
                        input.day-checkbox#day-saturday(type="checkbox" name="day_saturday" value="Saturday")
                        | Saturday

            .drm-inline-control-group
                label(for="day_num") Week Number
                select#day-num(name="day_num")
                    option(value="") Select Week
                    option(value="1") First
                    option(value="2") Second
                    option(value="3") Third
                    option(value="4") Fourth
                    option(value="last") Last
            h3.drm-bold Event Details:
            label(for="event_type") Event Type:
            input#event-type(type="text" name="event_type" placeholder="holiday")
            label(for="event_notes") Event Type:
            textarea#event-notes(name="event_notes" cols="30" rows="2" placeholder="These are some notes") 

            button.addEvent#submit(type="submit") Add Event

        form.drm-calendar-select#drm-calendar-select(action="" role="form")
            .drm-inline-control-group 
                label(for="month") Month:
                select#month(name="month")
                    option(value="") Select Month
                    option(value=0) January
                    option(value=1) February
                    option(value=2) March
                    option(value=3) April
                    option(value=4) May
                    option(value=5) June
                    option(value=6) July
                    option(value=7) August
                    option(value=8) September
                    option(value=9) October
                    option(value=10) November
                    option(value=11) December
                label(for="year") Year:
                input.drm-valid-integer#year(type="text" name="year" data-min-value="1" data-min-length="4" data-max-length="4")
                button#submit(type="submit") Select

        .drm-calendar-nav
            button.drm-calendar-year-prev(data-dir='prev') Previous Year
            button.drm-calendar-month-prev(data-dir='prev') Previous Month
            button.drm-calendar-current Today
            button.drm-calendar-month-next(data-dir='next') Next Month
            button.drm-calendar-year-next(data-dir='next') Next Year

        .drm-calendar-view-nav
            button.drm-calendar-view(data-view='month') Month
            button.drm-calendar-view(data-view='week') Week
            button.drm-calendar-view(data-view='day') Day

        //- .drm-calendar-week-view
        //-     h1.drm-calendar-header April 20 - 26 Week 17 of 2014
        //-     table.drm-weeks
        //-         thead
        //-             tr
        //-                 th
        //-                 th Sunday April 20
        //-                 th Monday April 21
        //-                 th Tuesday April 22
        //-                 th Wednesday April 23
        //-                 th Thursday April 24
        //-                 th Friday April 25
        //-                 th Saturday April 26
        //-         tbody
        //-             tr
        //-                 td: span.hour All Day Events
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                         li: a.event(href="#") Yet Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") All Day Event
        //-                         li: a.event(href="#") Another All Day Event
        //-             tr
        //-                 td: span.hour 12am
        //-                 td
        //-                 td
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Late Night Coffee
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 1am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 2am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 3am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 4am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 5am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 6am
        //-                 td
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Wake Up!
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Wake Up!
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Wake Up!
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Wake Up!
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Wake Up!
        //-                 td
        //-             tr
        //-                 td: span.hour 7am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 8am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 9am
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Sleep In!

        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                     ul.events
        //-                         li: a.event(href="#") Sleep In!

        //-             tr
        //-                 td: span.hour 10am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 11am
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 12pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 1pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 2pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 3pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 4pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 5pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 6pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 7pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 8pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 9pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 10pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-             tr
        //-                 td: span.hour 11pm
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td
        //-                 td

    //- .drm-calendar-day-view
    //-     h1.drm-calendar-header April 24 2014
    //-     ul.drm-day-event-list
    //-         li.drm-all-day-event: a.event(href="#") All Day Event
    //-         li.drm-all-day-event: a.event(href="#") Another All Day Event
    //-         li: span.hour 12am
    //-         li: span.hour 1am
    //-         li: span.hour 2am
    //-         li: span.hour 3am
    //-         li: span.hour 4am
    //-         li: span.hour 5am
    //-         li
    //-             span.hour 6am
    //-             ul.event-list
    //-                 li 
    //-                     span.time 6:10 
    //-                     a.event(href="#") Wake Up
    //-         li: span.hour 7am
    //-         li: span.hour 8am
    //-         li: span.hour 9am
    //-         li
    //-             span.hour 10am
    //-             ul.event-list
    //-                 li 
    //-                     span.time 10:00 
    //-                     a.event(href="#") Appointment One
    //-                 li 
    //-                     span.time 10:30 
    //-                     a.event(href="#") Appointment Two
    //-         li: span.hour 11am
    //-         li: span.hour 12pm
    //-         li: span.hour 1pm
    //-         li: span.hour 2pm
    //-         li: span.hour 3pm
    //-         li: span.hour 4pm
    //-         li: span.hour 5pm
    //-         li: span.hour 6pm
    //-         li: span.hour 7pm
    //-         li: span.hour 8pm
    //-         li: span.hour 9pm
    //-         li: span.hour 10pm
    //-         li: span.hour 11pm

    h2 Usage