h2 Dropdown Buttons Demo

.example-holder
	.drm-dropdown-solid-btn-holder
		button Info
		ul
			li
				a(href="#") Info 1
			li
				a(href="#") Info 2
			li
				a(href="#") Info 3
			li.divider
			li
				a(href="#") Info 4	
	.drm-dropdown-solid-btn-holder
		button More Info
		ul
			li
				a.text-disabled(href="#") Info 1
			li
				a(href="#") Info 2
			li
				a(href="#") Info 3
			li
				a(href="#") Info 4	
	.drm-dropdown-solid-btn-holder
		button Click Me!
		ul
			li
				a(href="#") Info 1
			li
				a(href="#") Info 2
			li
				a(href="#") Info 3
			li
				a(href="#") Info 4
	.drm-dropdown-split-btn-holder
		.button-group
			button Alert
			button &#9662;
			ul
				li
					a(href="#") Info 1
				li
					a(href="#") Info 2
				li
					a(href="#") Info 3
				li
					a(href="#") Info 4

			
	.drm-dropdown-split-btn-holder
		.button-group
			button This Is Another Alert
			button &#9662;
			ul
				li
					a(href="#") Info 1
				li
					a(href="#") Info 2
				li
					a(href="#") Info 3
				li
					a(href="#") Info 4

		