section
    h1 Drm Dropdown

    p.
        A navigation menu with dropdowns that appear when the user hovers. Supports any number of menu levels.
        However, we believe that after 3 levels dropdowns get too unruly to provide an enjoyable UX

    h2 Live Demo
    
    nav
        ul.drm-dropdown-nav
            li
                a.carat(href="#") Animals
                ul
                    li: a(href="#") Dogs
                    li 
                        a.carat-right(href="#") Bears
                        ul
                            li: a(href="#") Black
                            li: a(href="#") Brown
                            li: a(href="#") Polar
                            li: a(href="#") Grizzly
                            li
                                a.carat-right(href="#") Panda
                                ul
                                    li: a(href="#") Red (not really a bear)
                                    li: a(href="#") Giant
                    li: a(href="#") Lions
                    li: a(href="#") Birds
                    li: a(href="#") Fish
            li 
                a.carat(href="#") Food
                ul
                    li: a(href="#") Meats
                    li: a(href="#") Dairy
                    li: a(href="#") Grains
                    li 
                        a.carat-right(href="#") Fruits
                        ul
                            li: a(href="#") Apples
                            li: a(href="#") Oranges
                            li: a(href="#") Lemons
                            li: a(href="#") Bananas
            li
                a.carat(href="#") Colors
                ul
                    li: a.text-disabled(href="#") Red
                    li: a(href="#") Orange
                    li: a(href="#") Yellow
                    li.divider
                    li: a(href="#") Magenta
            li: a(href="#") Languages
            li
                a.carat(href="#") Countries
                ul
                    li: a(href="#") United States
                    li: a(href="#") France
                    li: a(href="#") Mexico
                    li: a(href="#") Canada
            li
                a.carat(href="#") Furniture
                ul
                    li: a(href="#") Couches
                    li: a(href="#") Tables
                    li: a(href="#") Desks
                    li: a(href="#") Chairs

    h3 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-dropdown-menu" target="_blank") Visit GitHub Repo

    p Just add the class "drm-dropdown-nav" to the ul element.  You can place ul inside a nav element or on its own.
    p Links that activate dropdowns are disabled by default. You can add a href attribute that will be usable if JavaScript is disabled.

    pre.prettyprint.
        &lt;nav&gt;
        &lt;ul class="drm-dropdown-nav"&gt;
        &lt;li&gt;&lt;a&gt;Animals&lt;a&gt;
        &lt;ul&gt;
        &lt;li&gt;&lt;a&gt;Dogs&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Bears&lt;a&gt;    
        &lt;ul&gt;
        &lt;li&gt;&lt;a&gt;Black&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Brown&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Polar&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Grizzly&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Panda&lt;a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Lions&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Birds&lt;a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Fish&lt;a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;/li&gt;
        &lt;/ul&gt;
        &lt;/nav&gt;

    p Add a divider

    pre.prettyprint.
        &lt;li class="divider"&gt;&lt;&lt;li&gt;

    p Add a disabled link

    pre.prettyprint.
        &lt;li&gt;&lt;a class="text-disabled"&gt;Bears&lt;a&gt;