h2 Navigation Menu with Dropdowns Demo

.example-holder
	ul.drm-dropdown-nav
		li: a(href="#") Item One
		li: a(href="#") Item Two
			ul
				li: a(href="#") Item Seven
				li: a(href="#") Item Eight
				li: a(href="#") Item Nine
				li: a(href="#") Item Ten
					ul.nested-list
						li: a(href="#") Item Seven
						li: a(href="#") Item Eight
						li: a(href="#") Item Nine
						li: a(href="#") Item Ten
		li: a(href="#") Item Three
			ul
				li: a.text-disabled(href="#") Item Seven
				li: a(href="#") Item Eight
				li: a(href="#") Item Nine
				li.divider
				li: a(href="#") Item Ten
		li: a(href="#") Item Four
		li: a(href="#") Item Five
		li: a(href="#") Item Six
			ul
				li: a(href="#") Item Seven
				li: a(href="#") Item Eight
				li: a(href="#") Item Nine
				li: a(href="#") Item Ten