h2 Effects

.example-holder
    .solid-drop-shadow
        h3 Solid Drop Shadow
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?
    
    .background-transparent
        h3 Background Transparent
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?   
    
    .border-transparent
        h3 Border Transparent
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?
    
    .stitched-box
        h3 Stitched Box
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?     
    
    .stitched-row
        h3 Stitched Row        
    
    .stitched-row-transparent
        h3 Stitched Row Transparent        
    
    .stitched-row-shadow
        h3 Stitched Row Shadow        
    
    .figure-border
        h3 Transparent Figure Border        
        figure 
            img(src="images/cat.jpg" alt="Kitten")
    
    .triple-shadow
        h3 Triple Shadow
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?        
    
    .inset-text
        h3 Inset Text
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?          
    
    .inset-border
        h3 Inset Border
        ul 
            li List Item
            li List Item
            li List Item       
    
    .inset-box
        h3 Inset Box
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?          
    
    .boxy-drop-shadow
        h3 Boxy Drop Shadow
        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
            maxime molestias est numquam quos recusandae dignissimos commodi 
            vero sequi ipsum sed nesciunt optio?          
    
