section
    h1 Effects

    section
        h1 Solid Drop Shadow
        p Creates a solid drop shadow effect
        .solid-drop-shadow.example
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - color of drop shadow      

    section
        h1 Background Transparent
        p Creates a transparent background with a hex color backup for browsers that do not support rgba colors
        .background-transparent.example        
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-background-transparent($color, $opacity);
        h2 Options:
        ul.options-list
            li $color - background color
            li $opacity - opacity of background color - default: 0.7          
    
    section            
        h1 Border Transparent
        p Creates a transparent border with a hex color backup for browsers that do not support rgba colors 
        .border-transparent.example        
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-border-transparent($color, $thickness, $opacity);
        h2 Options:
        ul.options-list
            li $color - color of border
            li $thickness - thickness of the border - default: 5px
            li $opacity - opacity of background color - default: 0.7          
    
    section            
        h1 Stitched Box
        p Creates a box with a cute stitching effect around the edges            
        .stitched-box.example        
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-stitched-box($color, $stitch-color, $border-radius, $border-color, $opacity);
        h2 Options:
        ul.options-list
            li $color - box color
            li $stitch-color - color of stitching - default: white
            li $border-radius - default: 0
            li $border-color - default: none
            li $opacity - default: 1                
    
    section            
        h1 Stitched Row
        p creates a row that has a cute stitching effect along the top and bottom
        .stitched-row
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-stitched-box($color, $stitch-color, $border-color, $opacity, $shadow);
        h2 Options:
        ul.options-list
            li $color - box color
            li $stitch-color - color of stitching - default: white
            li $border-color - default: none
            li $opacity - default: 1
            li $shadow - default: transparent
    
    section            
        h1 Stitched Row Transparent
        .stitched-row-transparent
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-stitched-row($drm-blue, white, #333, .5, transparent);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                           
    
    section            
        h1 Stitched Row Shadow
        .stitched-row-shadow
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-stitched-row($dark-pink, white, #999, 1, #333);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                          
    
    section            
        h1 Transparent Figure Border          
        .figure-border               
            figure 
                img(src="images/cat.jpg" alt="Kitten")
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow               
    
    section            
        h1 Triple Shadow
        .triple-shadow.example        
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                   
    
    section            
        h1 Inset Text           
        .inset-text.example   
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                     
    
    section            
        h1 Inset Border          
        .inset-border.example        
            ul.options-list 
                li List Item
                li List Item
                li List Item
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                  
    
    section            
        h1 Inset Box
        .example-holder    
            .inset-box.example        
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                    maxime molestias est numquam quos recusandae dignissimos commodi 
                    vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow                         
    
    section            
        h1 Boxy Drop Shadow           
        .boxy-drop-shadow.example        
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                maxime molestias est numquam quos recusandae dignissimos commodi 
                vero sequi ipsum sed nesciunt optio?
        h2 Usage:
        pre.prettyprint @include drm-solid-drop-shadow($color);
        h2 Options:
        ul.options-list
            li $color - Color of drop shadow           