section
    h1 File Uploads

    p File upload utility

    h2 Live Demo
    p Coming Soon!

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-file-uploads" target="_blank") Visit GitHub Repo