section
    h1 Flexible Grid

    p Creates a Pinterest like grid

    h2 Live Demo

    .button-group.drm-grid-nav
        button.drm-grid-filter(data-filter="all") All

    ul.drm-flexible-grid
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/400/nature/1" alt="nature")
            .caption 
                h1.caption-title Nature
                p.caption-descr Some nature image
                ul.caption-tags
                    li nature
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/500/nature/2" alt="nature")
            .caption 
                h1.caption-title Nature
                p.caption-descr Nature image
                ul.caption-tags
                    li nature
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/500/abstract/2" alt="abstract")
            .caption 
                h1.caption-title Abstract
                p.caption-descr Abstract image
                ul.caption-tags
                    li abstract
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/350/500/animals/1" alt="animals")
            .caption 
                h1.caption-title Animals
                p.caption-descr Animals image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/450/city/1" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/city/2" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/city/3" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/city/4" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/animals/2" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/animals/3" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/animals/4" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/400/nature/3" alt="nature")
            .caption 
                h1.caption-title Nature
                p.caption-descr Some nature image
                ul.caption-tags
                    li nature
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/500/nature/4" alt="nature")
            .caption 
                h1.caption-title Nature
                p.caption-descr Nature image
                ul.caption-tags
                    li nature
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/500/abstract/1" alt="abstract")
            .caption 
                h1.caption-title Abstract
                p.caption-descr Abstract image
                ul.caption-tags
                    li abstract
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/350/500/animals/8" alt="animals")
            .caption 
                h1.caption-title Animals
                p.caption-descr Animals image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/450/city/8" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/city/5" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/city/6" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/city/7" alt="city")
            .caption 
                h1.caption-title City
                p.caption-descr City image
                ul.caption-tags
                    li city
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/animals/5" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/animals/6" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/animals/7" alt="animals")
            .caption 
                h1.caption-title Animal
                p.caption-descr Animal image
                ul.caption-tags
                    li animals
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/fashion/1" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/fashion/4" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/fashion/3" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/300/450/fashion/5" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/450/400/fashion/6" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion
        li.drm-grid-item
            .curtain
            img(src="http://lorempixel.com/600/550/fashion/7" alt="fashion")
            .caption 
                h1.caption-title Fashion
                p.caption-descr Fashion image
                ul.caption-tags
                    li fashion

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-flexible-grid" target="_blank") Visit GitHub Repo