.copyright
    p Dynamic Response Media - Created by: Elizabeth Rogers

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
//- script(src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js")
script(src="js/drm-utilities.0.1.0.min.js")