section
    h1 Drm Form Controls

    p JavaScript powered custom form controls

    h2 Live Demo

    .drm-select
        .dropdown-label
            span.dropdown-text Favorite Color
            .dropdown-button
                i.fa.fa-chevron-down
        ul.dropdown
            li(data-option="0") Blue
            li(data-option="1") Green
            li(data-option="2") Red

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-form-controls" target="_blank") Visit GitHub Repo