h2 Forms Examples

.example-holder
    .example
        h2 Form State
        form.form-state(role="form" action="")
            label(for="name") Name:
            input(type="text" name="name" id="name" placeholder="First Last")

    .example
        h2 Tabular Form
        form.tabular-form(role="form" action="")
            label(for="full-name") Name:
            input(type="text" id="full-name" name="full-name" placeholder="First Last") 

            label(for="email") Email:
            input(type="email" id="email" name="email" placeholder="youremail@email.com" required)

            label(for="phone") Phone:
            input(type="tel" id="phone" name="phone" placeholder="212-867-5309" disabled)

            .drm-tabular-control-group
                .drm-control-group
                    label
                        input(type="checkbox" value="sign up") 
                        | Sign me up!          

                .drm-control-group
                    label
                        input(type="checkbox" value="true" checked) 
                        | Checked Option              
                        
            .drm-inline-control-group
                .drm-control-group
                    label
                        input(type="checkbox" value="one") 
                        | One                  
                
                .drm-control-group
                    label
                        input(type="checkbox" value="two") 
                        | Two                  
                
                .drm-control-group
                    label
                        input(type="checkbox" value="three")
                        | Three                  
                
                .drm-control-group
                    label
                        input(type="checkbox" value="four" disabled) 
                        | Four               
            

            .drm-tabular-control-group
                h3.drm-control-label Select an Option
                .drm-control-group
                    label
                        input(type="radio" name="radio-options" id="option1" value="option1" checked) 
                        | Option 1  
                
                .drm-control-group
                    label
                        input(type="radio" name="radio-options" id="option2" value="option2") 
                        | Option 2

                .drm-control-group
                    label
                        input(type="radio" name="radio-options" id="option3" value="option3") 
                        | Option 3              

                .drm-control-group
                    label
                        input(type="radio" name="radio-options" id="option4" value="option4") 
                        | Option 4                      

            .drm-inline-control-group
                h3.drm-control-label Select a Color
                .drm-control-group
                    label
                        input(type="radio" name="radio-colors" value="red") 
                        | Red                 
                
                .drm-control-group
                    label
                        input(type="radio" name="radio-colors" value="green") 
                        | Green                 
                
                .drm-control-group
                    label
                        input(type="radio" name="radio-colors" value="blue") 
                        | Blue   
                    
            select
                option 1
                option 2
                option 3
                option 4
                option 5
            
            select(disabled)
                option Red
                option Yellow
                option Green
                option Blue
                option Orange           

            select(multiple)
                option 1
                option 2
                option 3
                option 4
                option 5
            
            label(for="notes") Notes:
            textarea(name="notes" id="notes" cols="30" rows="10" placeholder="These are some notes") 
            small This is some instructional text

            input(type="submit" id="submit" name="submit" value="Submit") 
            input(type="submit" id="disabled" name="disabled" disabled value="Disabled Input") 
            button(type="submit" class="drm-btn-disabled" disabled) Disabled Button
        
    .example
        h2 Inline Form
        form.inline-form(role="form" action="") 
            label(for="username") Email:
            input(type="text" id="username" name="username" placeholder="youremail@email.com" required)

            label(for="password") Password:
            input(type="password" id="password" name="password") 

            .drm-control-group
                label
                    input(type="checkbox" value="remember") 
                    | Remember Me         
            
            input(type="submit" id="submit" name="submit" value="Submit") 
        
    .example
        h2 Form Validation Styles
        form.tabular-form(role="form" action="") 
            label(for="fname") Name:
            input(type="text" class="drm-form-success" id="fname" name="fname" placeholder="First Last") 

            label(for="email-address") Email:
            input(type="email" class="drm-form-warning" id="email-address" name="email-address" placeholder="youremail@email.com" required)

            label(for="phone-num") Phone:
            input(type="tel" class="drm-form-danger" id="phone-num" name="phone-num" placeholder="212-867-5309") 

            input(type="submit" id="submit" name="submit" value="Submit")