article.grids-examples

    h1 Grid

    h2 Grids Examples

    .example-holder

        section
            .drm-container
                .drm-row
                    .drm-col-12
                        .example-col
                            p .drm-col-12
                .drm-row
                    .drm-col-6
                        .example-col
                            p .drm-col-6
                    .drm-col-6
                        .example-col
                            p .drm-col-6
                .drm-row
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                .drm-row
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                .drm-row
                    .drm-col-8
                        .example-col
                            p .drm-col-8
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                .drm-row
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2