article.grids-examples

    h1 Grid

    h2 Grids Examples

    .example-holder

        section
            .drm-container
                .drm-row
                    .drm-col-12
                        .example-col
                            p .drm-col-12
                .drm-row
                    .drm-col-6
                        .example-col
                            p .drm-col-6
                    .drm-col-6
                        .example-col
                            p .drm-col-6
                .drm-row
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                .drm-row
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                    .drm-col-3
                        .example-col
                            p .drm-col-3
                .drm-row
                    .drm-col-8
                        .example-col
                            p .drm-col-8
                    .drm-col-4
                        .example-col
                            p .drm-col-4
                .drm-row
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                    .drm-col-2
                        .example-col
                            p .drm-col-2
                .drm-row
                    .drm-col-full
                        .example-col
                            p .drm-col-full
                .drm-row
                    .drm-col-half
                        .example-col
                            p .drm-col-half
                    .drm-col-half
                        .example-col
                            p .drm-col-half
                .drm-row
                    .drm-col-third
                        .example-col
                            p .drm-col-third
                    .drm-col-two-thirds
                        .example-col
                            p .drm-col-two-thirds
                .drm-row
                    .drm-col-third
                        .example-col
                            p .drm-col-third
                    .drm-col-third
                        .example-col
                            p .drm-col-third
                    .drm-col-third
                        .example-col
                            p .drm-col-third
                .drm-row
                    .drm-col-quarter
                        .example-col
                            p .drm-col-quarter
                    .drm-col-quarter
                        .example-col
                            p .drm-col-quarter
                    .drm-col-quarter
                        .example-col
                            p .drm-col-quarter
                    .drm-col-quarter
                        .example-col
                            p .drm-col-quarter
                .drm-row
                    .drm-col-6
                        .example-col
                            .drm-container
                                .drm-row
                                    .drm-col-6
                                        .example-col-nested
                                            p .drm-col-6
                                    .drm-col-6
                                        .example-col-nested
                                            p .drm-col-6
                    .drm-col-6
                        .example-col
                            .drm-container
                                .drm-row
                                    .drm-col-6
                                        .example-col-nested
                                            p .drm-col-6
                                    .drm-col-6
                                        .example-col-nested
                                            p .drm-col-6
                .drm-row
                    .drm-col-two-thirds
                        .example-col
                            .drm-container
                                .drm-row
                                    .drm-col-third
                                        .example-col-nested
                                            p .drm-col-third
                                    .drm-col-third
                                        .example-col-nested
                                            p .drm-col-third
                                    .drm-col-third
                                        .example-col-nested
                                            p .drm-col-third
                                .drm-row
                                    .drm-col-full
                                        .example-col-nested
                                            p .drm-col-full
                                .drm-row
                                    .drm-col-full
                                        .example-col-nested
                                            p .drm-col-full
                    .drm-col-third
                        .example-col
                            .drm-container
                                .drm-row
                                    .drm-col-full
                                        .example-col-nested
                                            p .drm-col-full
                                .drm-row
                                    .drm-col-full
                                        .example-col-nested
                                            p .drm-col-full
                                .drm-row
                                    .drm-col-full
                                        .example-col-nested
                                            p .drm-col-full




