header
    nav.mobile-nav-holder
        button.mobile-menu-toggle Menu
            i.fa.fa-bars
        ul.mobile-nav
            li: a(href="index.html") Home
            li: a(href="get-started.html") Get Started
            li: a(href="css.html") CSS
            li: a(href="sass.html") Sass
            li: a(href="sass-components.html") Sass Components
            li: a(href="javascript.html") JavaScript
            li: a(href="about.html") About
            li: a(href="contact.html") Contact Me
            li: a(href="faq.html") FAQ
            li: a(href="https://github.com/drm-utilities") GitHub
    .drm-container
        .drm-row
            .drm-col-full
                nav
                    ul.drm-dropdown-nav
                        li: a(href="index.html") Home
                        li: a(href="get-started.html") Get Started
                        li: a(href="css.html") CSS
                        li: a(href="sass.html") Sass
                        li: a(href="sass-components.html") Sass Components
                        li: a(href="javascript.html") JavaScript
                        li: a(href="about.html") About
                        li: a(href="contact.html") Contact Me
                        li: a(href="faq.html") FAQ
                        li: a(href="https://github.com/drm-utilities") GitHub
.hero-unit
    .drm-container
        .drm-row
            .drm-col-full
                h1
                    a(href="index.html") DRM Utilities 
                    i.fa.fa-wrench
                p A collection of reusable, modular Sass and JavaScript components