header    
    nav
        ul
            li: a(href="index.html") Home
            li: a(href="js-utilities.html") JavaScript Utilities
            li: a(href="sass-utilities.html") Sass Utilities
            li: a(href="about.html") About
            li: a(href="contact.html") Contact Me
            li: a(href="faq.html") FAQ
            li: a(href="https://github.com/drm-utilities") GitHub
    .hero-unit
        h1: a(href="index.html") DRM Utilities
        p A collection of reusable, modular Sass and JavaScript components