h2 Helper Classes Examples

.example-holder
    .float-boxes
        h1 Float Boxes Left or Right
        .pull-left.box
            p Left
        
        .pull-right.box
            p Right
    
    .typography-classes
        h1 Typography Styles

        p.bold Bold

        p.italic Italic

        p.underline Underline

        p.uppercase Uppercase

        p.smaller-text Smaller Text

        p.text-left Left Aligned

        p.text-right Right Aligned

        p.text-center Center Aligned

        p.text-justified. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
            Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.

        p.text-muted Muted

        p.text-danger Danger

        p.text-error Error

        p.text-info Info

        p.text-warning Warning

        p.text-success Success

        mark Marked Text

        p.highlight Highlighted Text

        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, cupiditate doloribus nemo quas quisquam voluptatem itaque veritatis 
            odit ipsam hic consequuntur dicta illum natus officiis porro vitae quo. Nihil, veritatis!

        small Small Text

        blockquote. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aliquid, quam, labore, optio ipsam excepturi dolorem 
            voluptas veniam dignissimos a repudiandae quae iure cum obcaecati aut itaque dolorum maiores distinctio.

        cite Citation