h2 Helper Classes Examples

.example-holder
    .float-boxes
        h1 Float Boxes Left or Right
        .pull-left.box
            p Left
        
        .pull-right.box
            p Right
    
    .typography-classes
        h1 Typography Styles

        p.bold Bold

        p.italic Italic

        p.underline Underline

        p.uppercase Uppercase

        p.smaller-text Smaller Text

        p.text-left Left Aligned

        p.text-right Right Aligned

        p.text-center Center Aligned

        p.text-justified. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
            Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.

        p.text-muted Muted

        p.text-danger Danger

        p.text-error Error

        p.text-info Info

        p.text-warning Warning

        p.text-success Success

        mark Marked Text

        p.highlight Highlighted Text

        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, cupiditate doloribus nemo quas quisquam voluptatem itaque veritatis 
            odit ipsam hic consequuntur dicta illum natus officiis porro vitae quo. Nihil, veritatis!

        small Small Text

        blockquote. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aliquid, quam, labore, optio ipsam excepturi dolorem 
            voluptas veniam dignissimos a repudiandae quae iure cum obcaecati aut itaque dolorum maiores distinctio.

        cite Citation

        pre @include drm-stitched-box($color, $stitch-color, $border-radius, $border-color, $opacity);

        h1 This is an h1 heading

        h2 This is an h2 heading

        h3 This is an h3 heading

        h4 This is an h4 heading

        h5 This is an h5 heading

        h6 This is an h6 heading

        h3 Unordered List

        ul
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        h3 Ordered List

        ol
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        dl
            dt Definition One
            dd.
                J. Chiles: So we got an attractive woman, wearing a bra, no top, walkin' around in broad daylight. 
                She's flouting society's conventions!
            dt Definition Two
            dd.
                George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little 
                George Costanza thing goin' on.
            dt Definition Three
            dd.
                Newman: I mean parcels are rarely damaged during shipping. Jerry: Define rarely. Newman: Frequently.

        h3 Unstyled List

        ul.drm-unstyled-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        h3 Inline List

        ul.drm-inline-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        h3 Triangle List

        ul.drm-triangle-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        h3 Checked List

        ul.drm-checked-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        p: a(href="#") This is a link

        p: a(href="alerts.html") Alert Examples

        ul.drm-unstyled-list
            li .drm-info-alert
            li .drm-danger-alert
            li .drm-warning-alert
            li .drm-success-alert
            li .drm-muted-alert
            li .drm-custom-alert

        img.drm-thumbnail(src="http://placekitten.com/198/207")