article.helper-classes-examples

h1 DRM Helper Classes

p These are some pre-defined CSS classes and HTML element default styles I find myself using over and over.

p To include it add the following line to your main stylesheet

pre @include drm-helper-classes();

h2 Helper Classes Examples

.example-holder
    section.float-boxes
        h1 Float Boxes Left or Right
        
        .drm-wrapper
            .drm-pull-left.box
                p Left
        
        pre .drm-pull-left
        
        .drm-wrapper            
            .drm-pull-right.box
                p Right
        
        pre .drm-pull-right

    
    section.typography-classes
        h1 Typography Styles

        p.drm-bold Bold
        pre .drm-bold

        p.drm-italic Italic
        pre .drm-italic

        p.drm-underline Underline
        pre .drm-underline

        p.drm-uppercase Uppercase
        pre .drm-uppercase

        p.drm-smaller-text Smaller Text
        pre .drm-smaller-text

        p.drm-text-left Left Aligned
        pre .drm-text-left

        p.drm-text-right Right Aligned
        pre .drm-text-right

        p.drm-text-center Center Aligned
        pre .drm-text-center

        p.drm-text-justified. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. 
            Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam 
            qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos 
            saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
        pre .drm-text-justified

        p.drm-text-muted Muted
        pre .drm-text-muted

        p.drm-text-danger Danger
        pre .drm-text-danger

        p.drm-text-error Error
        pre .drm-text-error

        p.drm-text-info Info
        pre .drm-text-info

        p.drm-text-warning Warning
        pre .drm-text-warning

        p.drm-text-success Success
        pre .drm-text-success

        mark Marked Text
        pre &lt;mark&gt;Marked Text&lt;/mark&gt;

        p.drm-highlight Highlighted Text
        pre .drm-highlight

        p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, cupiditate doloribus nemo quas quisquam voluptatem itaque veritatis 
            odit ipsam hic consequuntur dicta illum natus officiis porro vitae quo. Nihil, veritatis!

        small Small Text

        blockquote. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aliquid, quam, labore, optio ipsam excepturi dolorem 
            voluptas veniam dignissimos a repudiandae quae iure cum obcaecati aut itaque dolorum maiores distinctio.

        cite Citation

        pre @include drm-stitched-box($color, $stitch-color, $border-radius, $border-color, $opacity);

        h1 This is an h1 heading

        h2 This is an h2 heading

        h3 This is an h3 heading

        h4 This is an h4 heading

        h5 This is an h5 heading

        h6 This is an h6 heading

        h3 Unordered List

        ul
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        h3 Ordered List

        ol
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six

        dl
            dt Definition One
            dd.
                J. Chiles: So we got an attractive woman, wearing a bra, no top, walkin' around in broad daylight. 
                She's flouting society's conventions!
            dt Definition Two
            dd.
                George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little 
                George Costanza thing goin' on.
            dt Definition Three
            dd.
                Newman: I mean parcels are rarely damaged during shipping. Jerry: Define rarely. Newman: Frequently.

        h3 Unstyled List

        ul.drm-unstyled-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six
        pre .drm-unstyled-list

        h3 Inline List

        ul.drm-inline-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six
        pre .drm-inline-list

        h3 Triangle List

        ul.drm-triangle-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six
        pre .drm-triangle-list

        h3 Checked List

        ul.drm-checked-list
            li Item One
            li Item Two
            li Item Three
            li Item Four
            li Item Five
            li Item Six
        pre .drm-checked-list

        p: a(href="#") This is a link

        p: a(href="alerts.html") Alert Examples

        .drm-info-alert
            p Info Alert

        pre .drm-info-alert

        .drm-danger-alert
            p Danger Alert

        pre .drm-danger-alert

        .drm-warning-alert
            p Warning Alert

        pre .drm-warning-alert

        .drm-success-alert
            p Success Alert

        pre .drm-success-alert

        .drm-muted-alert
            p Muted Alert

        pre .drm-muted-alert

        img.drm-thumbnail(src="http://placekitten.com/198/207")
        pre .drm-thumbnail