.hero-unit
    .elr-container
        .elr-row
            .elr-col-full
                h1
                    a(href="index.html") DRM Utilities 
                    i.fa.fa-wrench
                p A collection of reusable, modular Sass and JavaScript components