include accordion
include alerts
include dropdown-buttons
include dropdown
include lightbox
include modal
include offscreen-menu
include popover
include resize-image-holder
include simple-slider
include slide-show
include sticky-nav
include sticky-sidebar
include tabs
include tooltips
include validation