include accordion
include alerts
include back-to-top
include dropdown-buttons
include dropdown
include file-uploads
include flexible-grid
include flexible-images
include lightbox
include modal
include offscreen-menu
include passwords
include popover
include simple-slider
include slide-show
include sticky-nav
include tablesorter
include tabs
include tooltips
include typeahead
include validation