ul.drm-accordion-nav-inner(data-state="expanded")
    li: a(href="accordion.html") Accordion
    li: a(href="alerts.html") Alerts
    li: a(href="back-to-top.html") Back to Top
    li: a(href="calendar.html") Calendar
    li: a(href="dropdown.html") Dropdown Menus
    li: a(href="dropdown-buttons.html") Dropdown Buttons
    li: a(href="file-uploads.html") File Uploads
    li: a(href="flexible-grid.html") Flexible Grid
    li: a(href="flexible-images.html") Flexible Images
    li: a(href="lightbox.html") Lightbox Thumbnails
    li: a(href="modal.html") Modal
    li: a(href="offscreen-menu.html") Offscreen Menu
    li: a(href="passwords.html") Passwords
    li: a(href="popover.html") Popovers
    li: a(href="resize-image-holder.html") Resize Image Holder
    li: a(href="simple-slider.html") Simple Slider
    li: a(href="slide-show.html") Slide Show
    li: a(href="sort.html") Sort
    li: a(href="spreadsheet.html") Spreadsheet
    li: a(href="sticky-nav.html") Sticky Nav
    li: a(href="sticky-sidebar.html") Sticky Sidebar
    li: a(href="tablesorter.html") Tablesorter
    li: a(href="tabs.html") Tabs
    li: a(href="timestamps.html") Timestamps
    li: a(href="tooltips.html") Tooltips
    li: a(href="typeahead.html") Typeahead
    li: a(href="validation.html") Validation    