ul
    li: a(href="accordion.html") Accordion
    li: a(href="alerts.html") Alers
    li: a(href="dropdown.html") Dropdown Menus
    li: a(href="dropdown-buttons.html") Dropdown Buttons
    li: a(href="lightbox.html") Lightbox Thumbnails
    li: a(href="modal.html") Modal
    li: a(href="offscreen-menu.html") Offscreen Menu
    li: a(href="popover.html") Popovers
    li: a(href="resize-image-holder.html") Resize Image Holder
    li: a(href="scrollspy.html") Scroll Spy
    li: a(href="simple-slider.html") Simple Slider
    li: a(href="slide-show.html") Slide Show
    li: a(href="sticky-nav.html") Sticky Nav
    li: a(href="tabs.html") Tabs
    li: a(href="tooltips.html") Tooltips
    li: a(href="validation.html") Validation