h1 Layout Utilities

nav
    h2 Layout Examples:
    ul.nav-bar-stacked
        li: a(href="#clear-fix") Clear Fix
        li: a(href="#container") Container
        li: a(href="#container-full-width") Container Full Width
        li: a(href="#reset-box") Reset Box
        li: a(href="#row") Row
        li: a(href="#center-block") Center Block
        li: a(href="#feature-box") Feature Boxes
        li: a(href="#feature-box-margin") Feature Boxes with Margin
        li: a(href="#circle-blocks") Circle Blocks
        li: a(href="#em-font") Em Font
        li: a(href="#em-margin") Em Margin
        li: a(href="#em-padding") Em Padding
        li: a(href="#vertically-center") Vertically Center
        li: a(href="#horizontally-center") Horizontally Center

.example-holder

    h3.drm-bold#clear-fix Clear Fix

    p A modern clearfix alternative to overflow: hidden

    pre.center-block.
        .clearfix {
            @include drm-clearfix();
        }


    h3.drm-bold#container Container

    .container
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, earum, qui, nostrum fuga vitae est hic voluptatibus dicta 
            distinctio minus officiis nisi aperiam molestiae error illum quaerat harum magni assumenda totam laudantium aliquid incidunt porro 
            repellendus laborum placeat facere nihil quos! Beatae, sunt, officia dicta molestiae tenetur alias repellendus dolore.
    
    p Centers an element on the page. Includes built in breakpoints for responsiveness

    pre.center-block.
        .container {
            @extend %drm-container;
        }

    pre.center-block &lt;div class="container"&gt;Some Text&lt;/div&gt;

    h3.drm-bold#container-full-width Container Full Width

    .container-full-width
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur 
            officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel 
            quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
    
    p Forces an element to take the entire width of its container. Provides padding to center content and built in breakpoints for responsiveness

    pre.center-block.
        .container-full-width {
            @extend %drm-container-full-width;
        }

    pre.center-block &lt;div class="container-full-width"&gt;Some Text&lt;/div&gt;

    h3.drm-bold#reset-box Reset Box

    p removes all padding and margin from an element

    pre.center-block.
        .reset-box {
            @extend %drm-reset-box;
        }

    h3.drm-bold#row Row

    .container
        .row
            h1 Row One
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur 
                officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel 
                quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
        .row
            h1 Row Two
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur 
                officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel 
                quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.

    pre.center-block.
        .row {
            @extend %drm-row;
        }

    pre.center-block.
        &lt;div class="container"&gt;
            &lt;div class="row"&gt;
                &lt;h1&gt;Row&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    h3.drm-bold#center-block Center Block

    .center-block
        h1 Center Block
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur 
            officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel 
            quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
    
    p horizontally centers an element within its container using margin auto. container must have a width rule.

    pre.center-block.
        .center-block {
            @extend %drm-center-block;
        }

    h3.drm-bold#feature-boxes Feature Boxes

    .feature-boxes-holder
        .feature-box 
            p Feature Box
        .feature-box 
            p Feature Box
        .feature-box 
            p Feature Box

    p Creates a row of equal width boxes in a container.

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $total: number of boxes per row - defaults to 3
        li $margin-top: top margin - defaults to 0
        li $margin-bottom: bottom margin - defaults to 0

    pre.center-block.
        .feature-box {
            @include drm-feature-box(3, 1%, 1%);
        }

    pre.center-block.
        &lt;div class="container-full-width"&gt;
            &lt;div class="feature-box"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="feature-box"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="feature-box"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    
    h3.drm-bold#feature-boxes-margin Feature Boxes with Margin

    .feature-boxes-holder 
        .feature-box-margin 
            p Feature Box Margin
        .feature-box-margin 
            p Feature Box Margin
        .feature-box-margin 
            p Feature Box Margin

    p Creates a row of equal width boxes with left and right margin in a container.

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $total: number of boxes per row - defaults to 3
        li $margin: left and right margin - defaults to 1%
        li $margin-top: top margin - defaults to $margin for equal margins on all sides of the feature box
        li $margin-bottom: bottom margin - defaults to $margin for equal margins on all sides of the feature box

    pre.center-block.
        .feature-box-margin {
            @include drm-feature-box(3, 1%, 1%, 1%);
        }

    pre.center-block.
        &lt;div class="container-full-width"&gt;
            &lt;div class="feature-box-margin"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="feature-box-margin"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="feature-box-margin"&gt;
                &lt;p&gt;Feature Box&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    
    h3.drm-bold#circle-blocks Circle Blocks

    .circle-blocks-holder 
        .circle-blocks Circle Block
        .circle-blocks Circle Block
        .circle-blocks Circle Block

    p Creates a row of equally sized circles. Width of container must be defined in px

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $container-width: defaults to 1000px
        li $margin: margin must be in px - defaults to 20
        li $total: number of boxes per row - defaults to 3

    pre.center-block.
        .circle-blocks-holder {
            width: 800px;

            .circle-blocks {
                @include drm-circle-blocks(800px, 20px, 3);
            }
        }

    pre.center-block.
        &lt;div class="circle-blocks-holder"&gt;
            &lt;div class="circle-blocks"&gt;
                &lt;p&gt;Circle Block&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="circle-blocks"&gt;
                &lt;p&gt;Circle Block&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="circle-blocks"&gt;
                &lt;p&gt;Circle Block&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    
    h3.drm-bold#em-font Em Font
    
    p Converts px font-size to ems; enter value only - no units

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $font-size: enter value only - no units

    pre.center-block.
        font-size: @include drm-em-font(18);

    h3.drm-bold#em-margin Em Margin
    
    p Converts px margin to ems; enter value only - no units

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $top: enter value only - no units
        li $right: enter value only - no units
        li $bottom: enter value only - no units
        li $left: enter value only - no units

    pre.center-block.
        margin: @include drm-em-margin(10, 20, 10, 20);

    h3.drm-bold#em-padding Em Padding
    
    p Converts px padding to ems; enter value only - no units

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $top: enter value only - no units
        li $right: enter value only - no units
        li $bottom: enter value only - no units
        li $left: enter value only - no units

    pre.center-block.
        padding: @include drm-em-padding(10, 20, 10, 20);

    h3.drm-bold#vertically-center Vertically Center

    .vertical-container 
        .vertically-center Vertically Centered

    p Vertially centers an element using absolute positioning

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $container-element-height: height of container element
        li $height: height of element to be positioned

    pre.center-block.
        .vertical-container {
            @extend %drm-container;
            height: 500px;
            position: relative;

            .vertically-center {
                box-sizing: border-box;
                @include drm-vertically-center(500px, 200px);
            }
        }
    
    h3.drm-bold#horizontally-center Horizontally Center

    .horizontal-container 
        .horizontally-center Horizontally Centered

    p Horizontally centers an element using absolute positioning

    h4.drm-bold Arguments:

    ul.drm-unstyled-list
        li $container-element-width: width of container element
        li $width: width of element to be positioned

    pre.center-block.
        .horizontal-container {
            @extend %drm-container;
            width: 800px;
            position: relative;  

            .horizontally-center {
                box-sizing: border-box;
                @include drm-horizontally-center(800px, 200px);
            }      
        }