section
    h1 Drm Lightbox

    ul.drm-lightbox-thumbnails
        li
            a(href="http://placekitten.com/700/700")
                img(src="http://placekitten.com/200/210" alt="thumbnail")            
        
        li
            a(href="http://placekitten.com/600/601")
                img(src="http://placekitten.com/200/201" alt="thumbnail")            
        
        li
            a(href="http://placekitten.com/604/602")
                img(src="http://placekitten.com/204/202" alt="thumbnail")            
        
        li
            a(href="http://placekitten.com/598/607")
                img(src="http://placekitten.com/198/207" alt="thumbnail")            
        
        li
            a(href="http://placekitten.com/610/604")
                img(src="http://placekitten.com/210/204" alt="thumbnail")

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-lightbox" target="_blank") Visit GitHub Repo