h2 Media Queries Example

.example-holder
    .media-queries
        ul
            li Trenta - Wide Screen
            li Venti - Laptop
            li Grande - Tablet Landscape
            li Tall - Tablet Portrait
            li Short - Small Tablet
            li Espresso - Mobile Landscape
            li Bean - Mobile Portrait       
    
    .hide-mobile This will be hidden on mobile phones