h1 Navigation Utilities

nav
    h2 Navigation Examples:
    ul.nav-bar-stacked
        li: a(href="#nav-bar") Nav Bar
        li: a(href="#nav-bar-stacked") Nav Bar Stacked
        li: a(href="#nav-bar-solid") Nav Bar Solid
        li: a(href="#nav-bar-solid-stacked") Nav Bar Solid Stacked
        li: a(href="#nav-bar-pills") Nav Bar Pills
        li: a(href="#nav-bar-pills-stacked") Nav Bar Pills Stacked
        li: a(href="#nav-bar-pills-solid") Nav Bar Pills Solid
        li: a(href="#nav-bar-pills-solid-stacked") Nav Bar Pills Solid Stacked
        li: a(href="#dropdown-nav") Dropdown Menu
        li: a(href="#button-link") Button Link
        li: a(href="#button-solid") Button Solid
        li: a(href="#button-rectangle") Rectangle Button
        li: a(href="#pill-button-link") Pill Button Link
        li: a(href="#pill-button-solid") Pill Button Solid
        li: a(href="#button-group") Button Group
        li: a(href="#dropdown-button-solid") Solid Dropdown Button
        li: a(href="#dropdown-button-split") Split Dropdown Button
        li: a(href="#offscreen-menu") Offscreen Menu
        li: a(href="#sticky-menu") Sticky Menu
        li: a(href="#back-to-top") Back to Top

.example-holder

    h3.drm-bold#nav-bar NavBar

    p Without nested ul
    nav
        ul.nav-bar
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch
    
    h3.drm-bold#nav-bar-stacked Nav Bar Stacked

    p Without nested ul
    nav
        ul.nav-bar-stacked
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-stacked
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-solid Nav Bar Solid
    
    p Without nested ul
    nav
        ul.nav-bar-solid
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-solid
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-solid-stacked Nav Bar Solid Stacked

    p Without nested ul
    nav
        ul.nav-bar-solid-stacked
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-solid-stacked
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-pills Nav Bar Pills

    p Without nested ul
    nav
        ul.nav-bar-pills
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-pills
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-pills-stacked Nav Bar Pills Stacked

    p Without nested ul
    nav
        ul.nav-bar-pills-stacked
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-pills-stacked
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-pills-solid Nav Bar Pills Solid

    p Without nested ul
    nav
        ul.nav-bar-pills-solid
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-pills-solid
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch    
    
    h3.drm-bold#nav-bar-pills-solid-stacked Nav Bar Pills Solid Stacked

    p Without nested ul
    nav
        ul.nav-bar-pills-solid-stacked
            li: a.active(href="#") Bears
            li: a(href="#") Dogs
            li: a(href="#") Big Cats
            li: a(href="#") Fish
            li: a(href="#") Birds

    p With nested ul
    nav
        ul.nav-bar-pills-solid-stacked
            li
                a.active(href="#") Bears
                ul
                    li: a(href="#") Grizzly
                    li: a(href="#") Polar
                    li: a(href="#") Giant Panda
                    li: a(href="#") Black
                    li: a(href="#") Brown
            li
                a(href="#") Dogs
                ul
                    li: a(href="#") Doberman
                    li: a(href="#") Shetland Sheepdog
                    li: a(href="#") Siberian Husky
                    li: a(href="#") Poodle
                    li: a(href="#") Scottish Terrier
            li
                a(href="#") Big Cats
                ul
                    li: a(href="#") Lion
                    li: a(href="#") Tiger
                    li: a(href="#") Jaguar
                    li: a(href="#") Leopard
                    li: a(href="#") Panther
            li
                a(href="#") Fish
                ul
                    li: a(href="#") Clown Fish
                    li: a(href="#") Swordfish
                    li: a(href="#") Angel Fish
                    li: a(href="#") Barracuda
                    li: a(href="#") Cod
            li
                a(href="#") Birds  
                ul
                    li: a(href="#") Parrot
                    li: a(href="#") Bald Eagle
                    li: a(href="#") Hawk
                    li: a(href="#") Macaw
                    li: a(href="#") Finch

    h3.drm-bold#dropdown-nav Drop Down Navigation

    a(href="dropdown.html") Dropdown Menu Example

    h3.drm-bold#button-link Button Link

    a.button-link(href="#") Click Here

    a.button-link-radius(href="#") Click Here

    h3.drm-bold#button-solid Button Solid

    a.button-solid(href="#") Click Here

    a.button-solid-radius(href="#") Click Here

    h3.drm-bold#button-rectangle Retangle Button

    a.button-rectangle(href="#") Click Here

    a.button-rectangle-radius(href="#") Click Here

    h3.drm-bold#pill-button-link Pill Button Link

    a.pill-button-link(href="#") Click Here

    h3.drm-bold#pill-button-solid Pill Button Solid

    a.pill-button-solid(href="#") Click Here

    h3.drm-bold#button-group Button Groups

    .button-group
        button Button 1
        button Button 2
        button Button 3
        button Button 4
        button Button 5
        button Button 6

    h3.drm-bold#dropdown-button-solid Solid Dropdown Button

    a(href="dropdown-buttons.html") Solid Dropdown Button Example

    h3.drm-bold#dropdown-button-split Split Dropdown Button

    a(href="dropdown-buttons.html") Split Dropdown Button Example

    h3.drm-bold#offscreen-menu Offscreen Menu

    a(href="offscreen-menu.html") Offscreen Menu Example

    h3.drm-bold#sticky-menu Sticky Menu

    a(href="sticky-nav.html") Sticky Menu Example
    a(href="sticky-sidebar.html") Sticky Sidebar Menu Example

    h3.drm-bold#back-to-top Back to Top

    a(href="back-to-top.html") Back to Top Example