section
    h1 Passwords

    p Click to scroll to the top of page

    h2 Live Demo

    form.tabular-form(role="form" action="")
        label(for="password") *Password:
        input.drm-valid-no-spaces#password(type="password" name="password" required)

    h2 Usage