section
    h1 Passwords

    p Click to scroll to the top of page

    h2 Live Demo

    form.tabular-form(role="form" action="")
        label(for="password") *Password:
        input.drm-valid-no-spaces.drm-password#password(type="password" name="password" required)

        button.drm-button.show-password Show Password

    h2 Usage