section
    h1 Drm Passwords

    p.
        Analyzes passwords for complexity. A password is considered strong if it uses a combination of 
        uppercase and lowercase letters, numbers, and special characters. It should also be st least 8
        characters.

    p Drm Passwords also ensures that passwords are not on a list of the most commonly used passwords.

    form.tabular-form(role="form" action="")
        label(for="password") *Password:
        input.drm-valid-no-spaces.drm-password#password(type="password" name="password" required)

        button.drm-button.show-password Show Password

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-passwords" target="_blank") Visit GitHub Repo