section
    h1 Drm Popover

    .example-holder
        .popover-holder
            button(type="button" data-popover="popover-left" data-direction="left") Popover Left
            .drm-popover.drm-popover-left#popover-left.
                Elaine: Nobody takes better care of their hair than me. You can serve dinner on my head     

        .popover-holder
            button(type="button" data-popover="popover-bottom" data-direction="bottom") Popover Bottom
            .drm-popover.drm-popover-bottom#popover-bottom Jerry: Super Terrific Carpal Tunnel Syndrome.        

        .popover-holder
            button(type="button" data-popover="popover-top" data-direction="top") Popover Top
            .drm-popover.drm-popover-top#popover-top.
                George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a 
                little George Costanza thing goin' on.  

        .popover-holder
            button(type="button" data-popover="popover-right" data-direction="right") Popover Right
            .drm-popover.drm-popover-right#popover-right.
                Jerry: Looking at cleavage is like looking at the sun. You don't stare at it. You get a 
                sense of it and you look away.

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-popover" target="_blank") Visit GitHub Repo