section
    h1 Drm Reorder

    p Drag and drop to reorder items

    h2 Live Demo

    p Coming Soon!

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-reorder" target="_blank") Visit GitHub Repo