ul
    li: a(href="effects") Effects
    li: a(href="forms") Forms
    li: a(href="helper-classes") Helper Classes
    li: a(href="layout") Layout
    li: a(href="media-queries") Media Queries
    li: a(href="navigation") Navigation
    li: a(href="page-elements") Page Elements
    li: a(href="shapes") Shapes