ul.drm-accordion-nav-inner
    li: a(href="effects.html") Effects
    li: a(href="forms.html") Forms
    li: a(href="helper-classes.html") Helper Classes
    li: a(href="layout.html") Layout
    li: a(href="media-queries.html") Media Queries
    li: a(href="navigation.html") Navigation
    li: a(href="page-elements.html") Page Elements
    li: a(href="shapes.html") Shapes
    li: a(href="tables.html") Tables