aside.elr-col-quarter.main-sidebar(data-position="right")
    ul.sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="javascript.html") JavaScript
            ul.sidebar-sub-menu.elr-accordion-nav-inner
                li: a(href="javascript.html") Calendar
                li: a(href="javascript.html") Sort
                li: a(href="javascript.html") Timestamps
    ul.sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="js-forms.html") JavaScript Forms
            ul.sidebar-sub-menu.elr-accordion-nav-inner
                li: a(href="js-forms.html") Dropdown Buttons
                li: a(href="js-forms.html") Form Controls
                li: a(href="js-forms.html") Passwords
                li: a(href="js-forms.html") Validation
    ul.sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="js-navigation.html") JavaScript Navigation
            ul.sidebar-sub-menu.elr-accordion-nav-inner
                li: a(href="js-navigation.html") Back to Top
                li: a(href="js-navigation.html") Dropdown Navigation
                li: a(href="js-navigation.html") Offscreen Menu
                li: a(href="js-navigation.html") Sticky Nav
                li: a(href="js-navigation.html") Sticky Sidebar
    ul.sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="js-ui.html") JavaScript UI
            ul.sidebar-sub-menu.elr-accordion-nav-inner
                li: a(href="js-ui.html") Accordion
                li: a(href="js-ui.html") Alerts
                li: a(href="js-ui.html") Flexible Grid
                li: a(href="js-ui.html") Lightbox
                li: a(href="js-ui.html") Modal
                li: a(href="js-ui.html") Popover
                li: a(href="js-ui.html") Simple Slider
                li: a(href="js-ui.html") Tablesorter
                li: a(href="js-ui.html") Tabs
    ul.sidebar-menu.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="js-utilities.html") JS Utilities
            ul.sidebar-sub-menu.elr-accordion-nav-inner
                li: a(href="js-utilities.html") Array
                li: a(href="js-utilities.html") Data
                li: a(href="js-utilities.html") DOM Manipulation
                li: a(href="js-utilities.html") Pattern
                li: a(href="js-utilities.html") Sort
                li: a(href="js-utilities.html") Time