.elr-col-quarter.main-sidebar-holder
    aside.smooth-scroll.main-sidebar(data-position="left")
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-animations.html") Animations
                ul.elr-submenu.elr-accordion-nav-inner(data-state="expanded")
                    li: a(href="sass-animations.html#fade") Fade
                    li: a(href="sass-animations.html#icons") Icons
                    li: a(href="sass-animations.html#links") Links
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-components.html") Components
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="sass-components.html#alerts") Alerts
                    li: a(href="sass-components.html#cards") Cards
                    //- li: a(href="sass-components.html#comments") Comments
                    li: a(href="sass-components.html#labels") Labels
                    //- li: a(href="sass-components.html#preloaders") Preloaders
                    //- li: a(href="sass-components.html#pricing-tables") Pricing Tables
                    //- li: a(href="sass-components.html#progress-meters") Progress Meters
                    //- li: a(href="sass-components.html#steps") Steps
                    li: a(href="sass-components.html#thumbnails") Thumbnails
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="css-helpers.html") CSS Helpers
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="css-helpers.html#buttons") Buttons
                    li: a(href="css-helpers.html#headings") Headings
                    li: a(href="css-helpers.html#layout") Layout
                    li: a(href="css-helpers.html#lists") Lists
                    li: a(href="css-helpers.html#positioning") Positioning
                    li: a(href="css-helpers.html#reset") Reset
                    li: a(href="css-helpers.html#responsive") Responsive
                    li: a(href="css-helpers.html#typography") Typography
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-elements.html") Elements
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="sass-elements.html#images") Images
                    li: a(href="sass-elements.html#lists") Lists
                    li: a(href="sass-elements.html#tables") Tables
                    //- li: a(href="sass-elements.html#videos") Videos
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-forms.html") Forms
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="sass-forms.html#form-elements") Form Elements
                    li: a(href="sass-forms.html#forms") Forms
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-grid.html") Grid
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-navigation.html") Navigation
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="sass-navigation.html#buttons") Buttons
                    //- li: a(href="sass-navigation.html#context-buttons") Context Buttons
                    //- li: a(href="sass-navigation.html#navbars") Nav Bars
                    li: a(href="sass-navigation.html#navigation") Navigation
                    li: a(href="sass-navigation.html#pagination") Pagination
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-layout.html") Sass Layout
                ul.elr-submenu.elr-accordion-nav-inner
                    //- li: a(href="sass-layout.html#content-block") Content Blocks
                    li: a(href="sass-layout.html#context-boxes") Context Boxes

                    li: a(href="sass-layout.html#layout") Layout
                    li: a(href="sass-layout.html#media-queries") Media Queries
                    li: a(href="sass-layout.html#shapes") Shapes
        ul.sidebar-menu.nav-bar-stacked
            li
                a.elr-accordion-nav-label(href="sass-typography.html") Typography
                ul.elr-submenu.elr-accordion-nav-inner
                    li: a(href="sass-typography.html#headings") Headings
                    li: a(href="sass-typography.html#text-effects") Text Effects