aside.drm-col-3.sidebar(data-position="right")
    ul.nav-bar-stacked
        li: a(href="css.html") CSS
        li: a(href="sass.html") Sass
        li: a(href="sass-components.html") Sass Components
    ul.nav-bar-stacked
        li: a(href="javascript.html") JavaScript