aside.elr-col-3.sidebar(data-position="right")
    ul.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="css.html") CSS
            ul.elr-accordion-nav-inner(data-state="expanded")
                li: a(href="css-alerts.html") Alerts
                li: a(href="css-headings.html") Headings
                li: a(href="css-layout.html") Layout
                li: a(href="css-lists.html") Lists
                li: a(href="css-responsive.html") Responsive
                li: a(href="css-typography.html") Typography
    ul.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass.html") Sass
            ul.elr-accordion-nav-inner
                li: a(href="sass-border-effects.html") Border Effects
                li: a(href="sass-box-effects.html") Box Effects
                li: a(href="sass-circles.html") Circles
                li: a(href="sass-forms.html") Forms
                li: a(href="sass-grid.html") Grid
                li: a(href="sass-images.html") Images
                li: a(href="sass-layout.html") Layout
                li: a(href="sass-lists.html") Lists
                li: a(href="sass-media-queries.html") Media Queries
                li: a(href="sass-rectangles.html") Rectangles
                li: a(href="sass-shadows.html") Shadows
                li: a(href="sass-shapes.html") Shapes
                li: a(href="sass-stars.html") Stars
                li: a(href="sass-tables.html") Tables
                li: a(href="sass-text-effects.html") Text Effects
                li: a(href="sass-triangles.html") Triangles
    ul.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="sass-components.html") Sass Components
            ul.elr-accordion-nav-inner
                li: a(href="sass-components-buttons.html") Buttons
                li: a(href="sass-components-cards.html") Cards
                li: a(href="sass-components-comments.html") Comments
                li: a(href="sass-components-content-boxes.html") Content Boxes
                li: a(href="sass-components-context-boxes.html") Context Boxes
                li: a(href="sass-components-headings.html") Headings
                li: a(href="sass-components-labels.html") Labels
                li: a(href="sass-components-navbars.html") Nav Bars
                li: a(href="sass-components-navigation.html") Navigation
                li: a(href="sass-components-pagination.html") Pagination
                li: a(href="sass-components-preloaders.html") Preloaders
                li: a(href="sass-components-pricing-tables.html") Pricing Tables
                li: a(href="sass-components-progress-meters.html") Progress Meters
                li: a(href="sass-components-steps.html") Steps
                li: a(href="sass-components-thumbnails.html") Thumbnails
                li: a(href="sass-components-videos.html") Videos
    ul.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="javascript.html") JavaScript
            ul.elr-accordion-nav-inner
                li: a(href="elr-accordion.html") Accordion
                li: a(href="elr-ajax.html") Ajax
                li: a(href="elr-alerts.html") Alerts
                li: a(href="elr-back-to-top.html") Back to Top
                li: a(href="elr-calendar.html") Calendar
                li: a(href="elr-carousel.html") Carousel
                li: a(href="elr-countdown.html") Countdown
                li: a(href="elr-datepicker.html") Datepicker
                li: a(href="elr-dropdown-buttons.html") Dropdown Buttons
                li: a(href="elr-dropdown.html") Dropdown
                li: a(href="elr-file-uploads.html") File Uploads
                li: a(href="elr-fixed.html") Fixed
                li: a(href="elr-flexible-grid.html") Flexible Grid
                li: a(href="elr-flexible-images.html") Flexible Images
                li: a(href="elr-form-controls.html") Form Controls
                li: a(href="elr-lightbox.html") Lightbox
                li: a(href="elr-maps.html") Maps
                li: a(href="elr-modal.html") Modal
                li: a(href="elr-offscreen-menu.html") Offscreen Menu
                li: a(href="elr-passwords.html") Passwords
                li: a(href="elr-placement.html") Placement
                li: a(href="elr-popover.html") Popover
                li: a(href="elr-random.html") Random
                li: a(href="elr-ratings.html") Ratings
                li: a(href="elr-reorder.html") Reorder
                li: a(href="elr-simple-slider.html") Simple Slider
                li: a(href="elr-sort.html") Sort
                li: a(href="elr-spreadsheet.html") Spreadsheet
                li: a(href="elr-sticky-nav.html") Sticky Nav
                li: a(href="elr-sticky-sidebar.html") Sticky Sidebar
                li: a(href="elr-tablesorter.html") Tablesorter
                li: a(href="elr-tabs.html") Tabs
                li: a(href="elr-timestamps.html") Timestamps
                li: a(href="elr-tooltips.html") Tooltips
                li: a(href="elr-typeahead.html") Typeahead
                li: a(href="elr-typeflow.html") Typeflow
                li: a(href="elr-validation.html") Validation
    ul.nav-bar-stacked
        li
            a.elr-accordion-nav-label(href="elr-js-utilities.html") JS Utilities
            ul.elr-accordion-nav-inner
                li: a(href="elr-array-utilities.html") Array
                li: a(href="elr-data-utilities.html") Data
                li: a(href="elr-dom-manipulation-utilities.html") DOM Manipulation
                li: a(href="elr-pattern-utilities.html") Pattern
                li: a(href="elr-sort-utilities.html") Sort
                li: a(href="elr-time-utilities.html") Time