h2 Simple Slider Demo

.drm-simple-slider
    .drm-simple-slide-holder
        .drm-simple-slider-nav
            button.drm-simple-slide-prev
            button.drm-simple-slide-next 
        .drm-simple-slider-list
            button(data-item-num="1")
            button(data-item-num="2")
            button(data-item-num="3")
            button(data-item-num="4")
            button(data-item-num="5")
            button(data-item-num="6")
        .drm-simple-slide
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/700/350')
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/710/350')
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/705/350')
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/715/350')
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/720/350')
            figure.drm-simple-slide-img
                img(src='http://placekitten.com/725/350')