section
    h1 Drm Simple Slider

    p A simple content slider. Content fades in and out

    .drm-simple-slider
        .drm-simple-slide-holder
            .drm-simple-slider-nav
                button.drm-simple-slide-prev(data-dir= 'prev')
                button.drm-simple-slide-next(data-dir= 'next')
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/700/350')
                    figcaption This is an image of slide 1 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/710/350')
                    figcaption This is an image of slide 2 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/705/350')
                    figcaption This is an image of slide 3 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/715/350')
                    figcaption This is an image of slide 4 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/720/350')
                    figcaption This is an image of slide 5 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/725/350')
                    figcaption This is an image of slide 6 kittens are cute

    .drm-simple-slider-2
        .drm-simple-slide-holder
            .drm-simple-slider-nav
                button.drm-simple-slide-prev(data-dir= 'prev')
                button.drm-simple-slide-next(data-dir= 'next')
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/500/340')
                    figcaption This is an image of slide 1 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/510/360')
                    figcaption This is an image of slide 2 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/505/370')
                    figcaption This is an image of slide 3 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/515/350')
                    figcaption This is an image of slide 4 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/520/364')
                    figcaption This is an image of slide 5 kittens are cute
            .drm-simple-slide
                figure.drm-simple-slide-img
                    img(src='http://placekitten.com/525/338')
                    figcaption This is an image of slide 6 kittens are cute

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-simple-slider" target="_blank") Visit GitHub Repo