section
    h1 Sort

    p Click to scroll to the top of page

    h2 Live Demo

    .button-group
        button.drm-sort-list(data-sort="ascending" data-list="numbers") Ascending
        button.drm-sort-list(data-sort="descending" data-list="numbers") Descending
    ul.drm-unstyled-list.drm-sortable#numbers
        li 7
        li 101
        li 74
        li 264
        li 0
        li 95

    .button-group
        button.drm-sort-list(data-sort="ascending" data-list="decimals") Ascending
        button.drm-sort-list(data-sort="descending" data-list="decimals") Descending
    ul.drm-unstyled-list.drm-sortable#decimals
        li 3.64
        li 101.33
        li 7.293
        li 2.472
        li 3.67
        li 12.3252

    .button-group
        button.drm-sort-list(data-sort="ascending" data-list="animals") Ascending
        button.drm-sort-list(data-sort="descending" data-list="animals") Descending
    ul.drm-unstyled-list.drm-sortable#animals
        li Cat
        li Dog
        li Bird
        li Rabbit
        li pet rock
        li Guinea Pig
        li Fish
        li frog
        li Snake

    .button-group
        button.drm-sort-list(data-sort="ascending" data-list="history") Ascending
        button.drm-sort-list(data-sort="descending" data-list="history") Descending
    ul.drm-unstyled-list.drm-sortable#history
        li 3/7/1945
        li 7/4/1776
        li 7/14/1789
        li 6/28/1914
        li 11/7/1917

    .button-group
        button.drm-sort-list(data-sort="ascending" data-list="hours") Ascending
        button.drm-sort-list(data-sort="descending" data-list="hours") Descending
    ul.drm-unstyled-list.drm-sortable#hours
        li 3:00pm
        li 8:23AM
        li 12:00AM
        li 3:00am
        li 6:00pm
        li 12:10am
        li 9:45am
        li 11:59pm

    h2 Usage