section
    h1 Drm Sticky Nav

    .example-holder
        nav.drm-sticky-sidebar(data-position="left")
            ul
                li: a(href="#section8") Section 8
                li: a(href="#section9") Section 9
                li: a(href="#section10") Section 10
                li: a(href="#section11") Section 11
                li: a(href="#section12") Section 12
                li: a(href="#section13") Section 13
                li: a(href="#section14") Section 14
        .sticky-sidebar-content
                section#section8
                    h1 Section Eight
                    p.
                        Kramer: Eight hours of jingle-belling and ho-ho-hoing. Boy, I am ho'd out. George: Yeah. I figured since I was lying about my 
                        income for a couple of years, I could afford a fake house in the Hamptons. George: I'm against all 'It's me's'. It's so self-absorbed 
                        and egotistical, like those hip musicians with their complicated shoes. There are no plans for that, sorry. George: Was he on his death 
                        bed? Jerry: No, he was on his regular bed.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        Kramer: Eight hours of jingle-belling and ho-ho-hoing. Boy, I am ho'd out. George: Yeah. I figured since I was lying about my 
                        income for a couple of years, I could afford a fake house in the Hamptons. George: I'm against all 'It's me's'. It's so self-absorbed 
                        and egotistical, like those hip musicians with their complicated shoes. There are no plans for that, sorry. George: Was he on his death 
                        bed? Jerry: No, he was on his regular bed.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.

                section#section9
                    h1 Section Nine
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        Jerry: They always remember the first time. George: I don't want to be remembered. I want to be forgotten? Jerry: Why do I always 
                        have the feeling everyone's doing something better than me on Saturday afternoon.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        Jerry: They always remember the first time. George: I don't want to be remembered. I want to be forgotten? Jerry: Why do I always 
                        have the feeling everyone's doing something better than me on Saturday afternoon.

                section#section10
                    h1 Section Ten
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.

                section#section11
                    h1 Section Eleven
                    p.
                        Jerry: They always remember the first time. George: I don't want to be remembered. I want to be forgotten? Jerry: Why do I always 
                        have the feeling everyone's doing something better than me on Saturday afternoon.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Mr. Peterman: I’m afraid it’s your urine, Elaine. You’ve tested positive for opium…White Lotus. Yam-yam. Shanghai Sally. George: 
                        I want to be the one person who doesn't die with dignity. Jerry: It's amazing that the amount of news that happens in the world 
                        every day always just exactly fits the newspaper. Puddy: I’m a recovering germ-o-phobe. Ten years. Elaine: What is this symbol? Puddy: 
                        It’s a germ. Jerry: I like the button fly. That is one place on my wardrobe I do not need sharp interlocking metal teeth.
                    p.
                        Jerry: They always remember the first time. George: I don't want to be remembered. I want to be forgotten? Jerry: Why do I always 
                        have the feeling everyone's doing something better than me on Saturday afternoon.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Mr. Peterman: I’m afraid it’s your urine, Elaine. You’ve tested positive for opium…White Lotus. Yam-yam. Shanghai Sally. George: 
                        I want to be the one person who doesn't die with dignity. Jerry: It's amazing that the amount of news that happens in the world 
                        every day always just exactly fits the newspaper. Puddy: I’m a recovering germ-o-phobe. Ten years. Elaine: What is this symbol? Puddy: 
                        It’s a germ. Jerry: I like the button fly. That is one place on my wardrobe I do not need sharp interlocking metal teeth.

                section#section12
                    h1 Section Twelve
                    p.
                        Mr. Peterman: I’m afraid it’s your urine, Elaine. You’ve tested positive for opium…White Lotus. Yam-yam. Shanghai Sally. George: 
                        I want to be the one person who doesn't die with dignity. Jerry: It's amazing that the amount of news that happens in the world 
                        every day always just exactly fits the newspaper. Puddy: I’m a recovering germ-o-phobe. Ten years. Elaine: What is this symbol? Puddy: 
                        It’s a germ. Jerry: I like the button fly. That is one place on my wardrobe I do not need sharp interlocking metal teeth.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Mr. Peterman: I’m afraid it’s your urine, Elaine. You’ve tested positive for opium…White Lotus. Yam-yam. Shanghai Sally. George: 
                        I want to be the one person who doesn't die with dignity. Jerry: It's amazing that the amount of news that happens in the world 
                        every day always just exactly fits the newspaper. Puddy: I’m a recovering germ-o-phobe. Ten years. Elaine: What is this symbol? Puddy: 
                        It’s a germ. Jerry: I like the button fly. That is one place on my wardrobe I do not need sharp interlocking metal teeth.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.

                section#section13
                    h1 Section Thirteen
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.
                    p.
                        Jerry: I don't return fruit. Fruit is a gamble. I know that going in. George: My mother had a Glamour magazine, I started leafing 
                        through it. So, one thing lead to another. George: You can stuff your sorries in a sack, mister! Frank Costanza: A Festivus for the 
                        rest of us? Jerry: I gotta get on that Internet. I'm late on everything. Kramer: I don’t know. But I woke up in the Hudson river in a 
                        SACK. Jerry: Vandelay Industries, Kel Varnsen speaking. May we help you. Kramer: Well, it all sounds pretty glamourous, but it's business 
                        as usual at Kramerica.
                    p.
                        Kramer: I’m at the corner of 1st and 1st… How can the same street intersect with itself? I must be at the nexus of the universe. 
                        Jerry: I thought you said people dressed up when they go to the opera? Kramer: People do. I don't. Jackie Chiles: That's totally 
                        inappropriate. It's lewd, vesivius, salacious, outrageous! Latvian orthodox: What aspect of the faith do you find particularly attractive? 
                        George: I think the hats.
                    p.
                        George: A plane crash? A heart attack? Lupus? Is it lupus. Gary: I've been living a lie. George: Just one? I'm living like twenty. 
                        Jerry: I think he re-gifted and then he de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. 
                        Newman: Too many people got their mail. Close to 80%. Nobody's ever cracked the 50% barrier. Jerry: I think he re-gifted and then he 
                        de-gifted and now he's using an upstairs invite as a springboard to a Superbowl sex romp. George: If they don't notice it, what's the 
                        point? Jerry: So you don't make it a habit of giving to the blind? George: Not bills.

                section#section14
                    h1 Section Fourteen
                    p.
                        Jerry: You know the difference between a dentist and a sadist, don't you? Newer magazines. Newman: He’s shipping us a rickshaw. 
                        It can’t miss! Jerry: Yes it can. George: I know the D is the biggest. I've based my whole life on knowing that the D is the biggest. 
                        Elaine: Men can sit through the most pointless, boring movie if there's even the slightest possibility that a woman will take her top off! 
                        Elaine: I will never understand people. Jerry: They're the worst. Jerry: And you want to be my latex salesman?; George: Yeah. I figured since I was 
                        lying about my income for a couple of years, I could afford a fake house in the Hamptons. Kruger: Kruger Industrial Smoothing is heading into the 
                        red. Or the black, or whatever the bad one is.
                    p.
                        Jerry: You know what a good mechanic is worth? You can't compare that to sex. Frank: At the Festivus dinner, you gather your family around 
                        and you tell them all the ways they have disappointed you over the past year. Jerry: You want me to take an overview? I see a very cheap man 
                        holding a sweater trying to get away with something. That's my overview. George: Women don't want to see need. They want a take-charge guy. A 
                        colonel, a kaiser, a czar. Elaine: Jerry, it’s three-thirty in the morning. I’m at a cockfight. What am I clinging to. George: I'm much more 
                        comfortable criticizing people behind their backs.
                    p.
                        Jerry: Well, you know, eighty-five percent of all homeless rickshaw businesses fail within the first three months. George: Alrighty. My 
                        last job was in publishing. I got fired for having sex in my office with the cleaning woman. Sidra: And by the way, they’re real and they’re 
                        spectacular. Jerry: Flaming globes of Sigmond! That's my note! That's what I thought was so funny? That's not funny. There's nothing funny 
                        about that. George: A plane crash? A heart attack? Lupus? Is it lupus. Jerry: Is someone there? Mr. Marbles? Jerry: People with guns don't 
                        understand. That's why they get guns: too many misunderstandings. Jerry: If the cops arrest a mime, do they tell him he has the right to remain 
                        silent? ... they just wake up one morning and go, 'Oh my god, there's a tree inside the house. George: I can't carry a pen. I'm afraid I'll puncture 
                        my scrotum. Jerry: You know, George, they're doing wonderful things at mental institutions these days. I'd be happy to set up a meet and greet. 
                        George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little George Costanza thing goin' on.
                    p.
                        Jerry: You know the difference between a dentist and a sadist, don't you? Newer magazines. Newman: He’s shipping us a rickshaw. 
                        It can’t miss! Jerry: Yes it can. George: I know the D is the biggest. I've based my whole life on knowing that the D is the biggest. 
                        Elaine: Men can sit through the most pointless, boring movie if there's even the slightest possibility that a woman will take her top off! 
                        Elaine: I will never understand people. Jerry: They're the worst. Jerry: And you want to be my latex salesman?; George: Yeah. I figured since I was 
                        lying about my income for a couple of years, I could afford a fake house in the Hamptons. Kruger: Kruger Industrial Smoothing is heading into the 
                        red. Or the black, or whatever the bad one is.
                    p.
                        Jerry: You know what a good mechanic is worth? You can't compare that to sex. Frank: At the Festivus dinner, you gather your family around 
                        and you tell them all the ways they have disappointed you over the past year. Jerry: You want me to take an overview? I see a very cheap man 
                        holding a sweater trying to get away with something. That's my overview. George: Women don't want to see need. They want a take-charge guy. A 
                        colonel, a kaiser, a czar. Elaine: Jerry, it’s three-thirty in the morning. I’m at a cockfight. What am I clinging to. George: I'm much more 
                        comfortable criticizing people behind their backs.
                    p.
                        Jerry: Well, you know, eighty-five percent of all homeless rickshaw businesses fail within the first three months. George: Alrighty. My 
                        last job was in publishing. I got fired for having sex in my office with the cleaning woman. Sidra: And by the way, they’re real and they’re 
                        spectacular. Jerry: Flaming globes of Sigmond! That's my note! That's what I thought was so funny? That's not funny. There's nothing funny 
                        about that. George: A plane crash? A heart attack? Lupus? Is it lupus. Jerry: Is someone there? Mr. Marbles? Jerry: People with guns don't 
                        understand. That's why they get guns: too many misunderstandings. Jerry: If the cops arrest a mime, do they tell him he has the right to remain 
                        silent? ... they just wake up one morning and go, 'Oh my god, there's a tree inside the house. George: I can't carry a pen. I'm afraid I'll puncture 
                        my scrotum. Jerry: You know, George, they're doing wonderful things at mental institutions these days. I'd be happy to set up a meet and greet. 
                        George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad you've got a little George Costanza thing goin' on.

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-sticky-nav" target="_blank") Visit GitHub Repo