h2 Tables Examples

.example-holder
    table.drm-table
        thead
            tr
                th Name
                th Abbr.
                th Capital
                th Largest City
                th Statehood Year
        tbody
            tr.drm-danger-row
                td Alabama
                td AL
                td Montgomery
                td Birmingham
                td 1819
            tr.drm-warning-row
                td Alaska
                td AK
                td Juneau
                td Anchorage
                td 1959
            tr.drm-success-row
                td Arizona
                td AZ
                td Phoenix
                td Phoenix
                td 1912
            tr.drm-muted-row
                td Arkansas
                td AR
                td Little Rock
                td Little Rock
                td 1836
            tr
                td California
                td CA
                td Sacramento
                td Los Angeles
                td 1850
            tr
                td Colorado
                td CO
                td Denver
                td Denver
                td 1876
            tr
                td Connecticut
                td CT
                td Hartford
                td Bridgeport
                td 1788
            tr
                td Delaware
                td DE
                td Dover
                td Wilmington
                td 1787

    table.drm-table-bordered
        thead
            tr
                th Name
                th Abbr.
                th Capital
                th Largest City
                th Statehood Year
        tbody
            tr.drm-danger-row
                td Alabama
                td AL
                td Montgomery
                td Birmingham
                td 1819
            tr.drm-warning-row
                td Alaska
                td AK
                td Juneau
                td Anchorage
                td 1959
            tr.drm-success-row
                td Arizona
                td AZ
                td Phoenix
                td Phoenix
                td 1912
            tr.drm-muted-row
                td Arkansas
                td AR
                td Little Rock
                td Little Rock
                td 1836
            tr
                td California
                td CA
                td Sacramento
                td Los Angeles
                td 1850
            tr
                td Colorado
                td CO
                td Denver
                td Denver
                td 1876
            tr
                td Connecticut
                td CT
                td Hartford
                td Bridgeport
                td 1788
            tr
                td Delaware
                td DE
                td Dover
                td Wilmington
                td 1787

    table.drm-table-rounded
        thead
            tr
                th Name
                th Abbr.
                th Capital
                th Largest City
                th Statehood Year
        tbody
            tr.drm-danger-row
                td Alabama
                td AL
                td Montgomery
                td Birmingham
                td 1819
            tr.drm-warning-row
                td Alaska
                td AK
                td Juneau
                td Anchorage
                td 1959
            tr.drm-success-row
                td Arizona
                td AZ
                td Phoenix
                td Phoenix
                td 1912
            tr.drm-muted-row
                td Arkansas
                td AR
                td Little Rock
                td Little Rock
                td 1836
            tr
                td California
                td CA
                td Sacramento
                td Los Angeles
                td 1850
            tr
                td Colorado
                td CO
                td Denver
                td Denver
                td 1876
            tr
                td Connecticut
                td CT
                td Hartford
                td Bridgeport
                td 1788
            tr
                td Delaware
                td DE
                td Dover
                td Wilmington
                td 1787

    table.drm-table-dark
        thead
            tr
                th Name
                th Abbr.
                th Capital
                th Largest City
                th Statehood Year
        tbody
            tr.drm-danger-row
                td Alabama
                td AL
                td Montgomery
                td Birmingham
                td 1819
            tr.drm-warning-row
                td Alaska
                td AK
                td Juneau
                td Anchorage
                td 1959
            tr.drm-success-row
                td Arizona
                td AZ
                td Phoenix
                td Phoenix
                td 1912
            tr.drm-muted-row
                td Arkansas
                td AR
                td Little Rock
                td Little Rock
                td 1836
            tr
                td California
                td CA
                td Sacramento
                td Los Angeles
                td 1850
            tr
                td Colorado
                td CO
                td Denver
                td Denver
                td 1876
            tr
                td Connecticut
                td CT
                td Hartford
                td Bridgeport
                td 1788
            tr
                td Delaware
                td DE
                td Dover
                td Wilmington
                td 1787