section
    h1 Tablesorter

    p Click to scroll to the top of page

    h2 Live Demo
    h3 Academy Award Best Picture Winners
    table.drm-sortable-table.drm-searchable-table#best-picture
        thead
            tr
                th Title
                    button.drm-sortable-table-button(data-dir="ascending") &#9650;
                    button.drm-sortable-table-button(data-dir="descending") &#9660;
                    form(role="form" method="Get" action=""): input.drm-search-table(type="text" placeholder="Filter Title")
                th Year
                    button.drm-sortable-table-button(data-dir="ascending") &#9650;
                    button.drm-sortable-table-button(data-dir="descending") &#9660;
                    form(role="form" method="Get" action=""): input.drm-search-table(type="text" placeholder="Filter Year")
                th Lead Actor
                    button.drm-sortable-table-button(data-dir="ascending") &#9650;
                    button.drm-sortable-table-button(data-dir="descending") &#9660;
                    form(role="form" method="Get" action=""): input.drm-search-table(type="text" placeholder="Filter Actor")
                th Lead Actress
                    button.drm-sortable-table-button(data-dir="ascending") &#9650;
                    button.drm-sortable-table-button(data-dir="descending") &#9660;
                    form(role="form" method="Get" action=""): input.drm-search-table(type="text" placeholder="Filter Actress")
        tbody
            tr
                td Wings
                td 1928
                td Charles 'Buddy' Rogers
                td Clara Bow
            tr
                td The Broadway Melody
                td 1929
                td Charles King
                td Anita Page
            tr
                td All Quiet on the Western Front
                td 1930
                td Louis Wolheim 
                td
            tr
                td Cimarron
                td 1931
                td Richard Dix
                td Irene Dunne
            tr
                td Grand Hotel
                td 1932
                td John Barrymore
                td Greta Garbo
            tr
                td Cavalcade
                td 1933
                td Clive Brook
                td Diana Wynyard
            tr
                td It Happened One Night
                td 1934
                td Clark Gable
                td Claudette Colbert
            tr
                td Mutiny on the Bounty
                td 1935
                td Charles Laughton
                td Spring Byington
            tr
                td The Great Ziegfeld
                td 1936
                td William Powell
                td Myrna Loy
            tr
                td The Life of Emile Zola
                td 1937
                td Paul Muni
                td Gale Sondergaard
            tr
                td You Can't Take It with You
                td 1938
                td James Stewart
                td Jean Arthur
            tr
                td Gone with the Wind
                td 1939
                td Clark Gable
                td Vivien Leigh
            tr
                td Rebecca
                td 1940
                td Laurence Olivier
                td Joan Fontaine
            tr
                td How Green Was My Valley
                td 1941
                td Walter Pidgeon
                td Maureen O'Hara
            tr
                td Mrs. Miniver
                td 1942
                td Walter Pidgeon
                td Greer Garson
            tr
                td Casablanca
                td 1943
                td Humphrey Bogart
                td Ingrid Bergman
            tr
                td Going My Way
                td 1944
                td
                td
            tr
                td The Lost Weekend
                td 1945
                td
                td
            tr
                td The Best Years of Our Lives
                td 1946
                td
                td
            tr
                td Gentleman's Agreement
                td 1947
                td
                td
            tr
                td Hamlet
                td 1948
                td
                td
            tr
                td All the King's Men
                td 1949
                td
                td
            tr
                td All About Eve
                td 1950
                td
                td
            tr
                td An American in Paris
                td 1951
                td
                td
            tr
                td The Greatest Show on Earth
                td 1952
                td
                td
            tr
                td From Here to Eternity
                td 1953
                td
                td
            tr
                td On the Waterfront
                td 1954
                td
                td
            tr
                td Marty
                td 1955
                td
                td
            tr
                td Around the World in 80 Days
                td 1956
                td
                td
            tr
                td The Bridge on the River Kwai
                td 1957
                td
                td
            tr
                td Gigi
                td 1958
                td
                td
            tr
                td Ben-Hur
                td 1959
                td
                td
            tr
                td The Apartment
                td 1960
                td
                td
            tr
                td West Side Story
                td 1961
                td
                td
            tr
                td Lawrence of Arabia
                td 1962
                td
                td
            tr
                td Tom Jones
                td 1963
                td
                td
            tr
                td My Fair Lady
                td 1964
                td
                td
            tr
                td The Sound of Music
                td 1965
                td
                td
            tr
                td A Man for All Seasons
                td 1966
                td
                td
            tr
                td In the Heat of the Night
                td 1967
                td
                td
            tr
                td Oliver!
                td 1968
                td
                td
            tr
                td Midnight Cowboy
                td 1969
                td
                td
            tr
                td Patton
                td 1970
                td
                td
            tr
                td The French Connection
                td 1971
                td
                td
            tr
                td The Godfather
                td 1972
                td
                td
            tr
                td The Sting
                td 1973
                td
                td
            tr
                td The Godfather Part II
                td 1974
                td
                td
            tr
                td One Flew Over the Cuckoo's Nest
                td 1975
                td
                td
            tr
                td Rocky
                td 1976
                td
                td
            tr
                td Annie Hall
                td 1977
                td
                td
            tr
                td The Deer Hunter
                td 1978
                td
                td
            tr
                td Kramer vs. Kramer
                td 1979
                td
                td
            tr
                td Ordinary People
                td 1980
                td
                td
            tr
                td Chariots of Fire
                td 1981
                td
                td
            tr
                td Gandhi
                td 1982
                td
                td
            tr
                td Terms of Endearment
                td 1983
                td
                td
            tr
                td Amadeus
                td 1984
                td
                td
            tr
                td Out of Africa
                td 1985
                td
                td
            tr
                td Platoon
                td 1986
                td
                td
            tr
                td The Last Emperor
                td 1987
                td
                td
            tr
                td Rain Man
                td 1988
                td
                td
            tr
                td Driving Miss Daisy
                td 1989
                td
                td
            tr
                td Dances with Wolves
                td 1990
                td
                td
            tr
                td The Silence of the Lambs
                td 1991
                td
                td
            tr
                td Unforgiven
                td 1992
                td
                td
            tr
                td Schindler's List
                td 1993
                td
                td
            tr
                td Forrest Gump
                td 1994
                td
                td
            tr
                td Braveheart
                td 1995
                td
                td
            tr
                td The English Patient
                td 1996
                td
                td
            tr
                td Titanic
                td 1997
                td
                td
            tr
                td Shakespeare in Love
                td 1998
                td
                td
            tr
                td American Beauty
                td 1999
                td
                td
            tr
                td Gladiator
                td 2000
                td
                td
            tr
                td A Beautiful Mind
                td 2001
                td
                td
            tr
                td Chicago
                td 2002
                td
                td
            tr
                td The Lord of the Rings: The Return of the King
                td 2003
                td
                td
            tr
                td Million Dollar Baby
                td 2004
                td
                td
            tr
                td Crash
                td 2005
                td
                td
            tr
                td The Departed
                td 2006
                td
                td
            tr
                td No Country for Old Men
                td 2007
                td
                td
            tr
                td Slumdog Millionaire
                td 2008
                td
                td
            tr
                td The Hurt Locker
                td 2009
                td
                td
            tr
                td The King's Speech
                td 2010
                td
                td
            tr
                td The Artist
                td 2011
                td
                td
            tr
                td Argo
                td 2012
                td
                td
            tr
                td 12 Years a Slave
                td 2013
                td
                td

    h2 Usage