h2 Tables Examples

.example-holder
    table.drm-table
        thead
            tr
                th Name
                th Capital
                th Statehood Year
        tbody
            tr
                td Alabama
                td Montgomery
                td 1819
            tr
                td Alaska
                td Juneau
                td 1959
            tr
                td Arizona
                td Phoenix
                td 1912
            tr
                td Arkansas
                td Little Rock
                td 1836

    table.drm-table-bordered
        thead
            tr
                th Name
                th Capital
                th Statehood Year
        tbody
            tr
                td Alabama
                td Montgomery
                td 1819
            tr
                td Alaska
                td Juneau
                td 1959
            tr
                td Arizona
                td Phoenix
                td 1912
            tr
                td Arkansas
                td Little Rock
                td 1836

    table.drm-table-rounded
        thead
            tr
                th Name
                th Capital
                th Statehood Year
        tbody
            tr
                td Alabama
                td Montgomery
                td 1819
            tr
                td Alaska
                td Juneau
                td 1959
            tr
                td Arizona
                td Phoenix
                td 1912
            tr
                td Arkansas
                td Little Rock
                td 1836