section
    h1 Drm Timestamps

    p Relative timestamps with JavaScript.  United States style only for now.

    h2 Right Now

    p.drm-now
    
    h2 Relative Time Elapsed

    p
        span.drm-timestamp 7/4/1776
        |&nbsp;- United States declares independence from England -&nbsp;
        span.drm-pretty-date 7/4/1776
    p
        span.drm-timestamp 7/14/1789
        |&nbsp;- Fall of the Bastille -&nbsp;
        span.drm-pretty-date 7/14/1789
    p
        span.drm-timestamp 6/28/1914
        |&nbsp;- Archduke Francis Ferdinand is assassinated in Sarajevo -&nbsp;
        span.drm-pretty-date 6/28/1914
    p
        span.drm-timestamp 11/7/1917
        |&nbsp;- October Revolution begins in Russia -&nbsp;
        span.drm-pretty-date 11/7/1917
    p
        span.drm-timestamp 3/7/1945
        |&nbsp;- VE Day -&nbsp;
        span.drm-pretty-date 3/7/1945

    p
        span.drm-timestamp Yesterday at 8:00am
        |&nbsp;- Yesterday at 8:00am
    p
        span.drm-timestamp Today at 12:00am
        |&nbsp;- Yesterday at 8:00am
    p
        span.drm-timestamp Today at 12:00pm
        |&nbsp;- Noon
    p
        span.drm-timestamp Today at 11:59:59pm
        |&nbsp;- Midnight    
    p
        span.drm-timestamp Tomorrow at 2:00pm
        |&nbsp;- Tomorrow at 2:00pm    
    p
        span.drm-timestamp March 24 2015
        |&nbsp;- My Birthday!!
    p
        span.drm-timestamp Thursday, June 25 2015
        |&nbsp;- Thursday, June 25 2015

    h2 Pretty Dates and Times

    p.drm-pretty-date March 24, 1983
    p.drm-pretty-date 7/4/1776
    p.drm-pretty-date 3:00pm

    h2 Countdown to Event

    p Countdown to Christmas 
        span.drm-countdown 12/25/2014

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-timestamps" target="_blank") Visit GitHub Repo