section
    h1 Drm Timestamps

    p Relative timestamps with JavaScript.  United States style only for now.

    h2 Right Now

    p.drm-now
    
    h2 Relative Time Elapsed

    p
        span.drm-timestamp 7/4/1776 
        |- United States declares independence from England
    p
        span.drm-timestamp 7/14/1789 
        |- Fall of the Bastille
    p
        span.drm-timestamp 6/28/1914 
        |- Archduke Francis Ferdinand is assassinated in Sarajevo
    p
        span.drm-timestamp 11/7/1917 
        |- October Revolution begins in Russia

    p
        span.drm-timestamp 3/7/1945 
        |- VE Day

    p.drm-timestamp Yesterday at 8:00am
    p.drm-timestamp Today at 12:00pm
    p.drm-timestamp Today at 11:59:59pm
    p.drm-timestamp Tomorrow at 2:00pm
    
    p.drm-timestamp March 24 2015
    //- p.drm-timestamp Mar. 24 2015
    //- p.drm-timestamp Mar 24 2015

    p.drm-timestamp Thursday, June 25 2015
    //- p.drm-timestamp Thurday June 25 2015
    //- p.drm-timestamp Thurs. June 25 2015
    //- p.drm-timestamp Thurs, June 25 2015
    //- p.drm-timestamp Thurs June 25 2015
    //- p.drm-timestamp Thurs, June 25 2015

    h2 Pretty Dates and Times

    p.drm-pretty-date 7/4/1776
    p.drm-pretty-date 3:00pm

    p Countdown to Christmas 
        span.drm-countdown 12/25/2014

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-timestamps" target="_blank") Visit GitHub Repo