section
    h1 Drm Timestamps

    p Relative timestamps with JavaScript
    p.drm-now
    
    p
        span.drm-timestamp 7/4/1776 
        |- United States declares independence from England
    p
        span.drm-timestamp 7/14/1789 
        |- Fall of the Bastille
    p
        span.drm-timestamp 6/28/1914 
        |- Archduke Francis Ferdinand is assassinated in Sarajevo
    p
        span.drm-timestamp 11/7/1917 
        |- October Revolution begins in Russia

    p
        span.drm-timestamp 3/7/1945 
        |- VE Day

    p.drm-timestamp Yesterday at 8:00am
    p.drm-timestamp Today at 12:00pm
    p.drm-timestamp Today at 11:59:59pm
    p.drm-timestamp Tomorrow at 2:00pm
    
    p.drm-timestamp 3/24/2015

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-timestamps" target="_blank") Visit GitHub Repo