section
    h1 Drm Timestamps

    p Relative timestamps with JavaScript.  United States style only for now.

    h2 Right Now

    p.drm-now
    
    h2 Relative Time Elapsed

    ul.drm-unstyled-list
        li
            h3.drm-bold United States declares independence from England - 
                span.drm-pretty-date 7/4/1776
            p: span.drm-timestamp 7/4/1776
        
        li
            h3.drm-bold Fall of the Bastille - 
                span.drm-pretty-date 7/14/1789
            p: span.drm-timestamp 7/14/1789
        
        li
            h3.drm-bold Archduke Francis Ferdinand is assassinated in Sarajevo setting off WWI - 
                span.drm-pretty-date 6/28/1914
            p: span.drm-timestamp 6/28/1914
        
        li
            h3.drm-bold October Revolution begins in Russia - 
                span.drm-pretty-date 11/7/1917
            p: span.drm-timestamp 11/7/1917
        
        li
            h3.drm-bold VE Day - 
                span.drm-pretty-date 3/7/1945
            p: span.drm-timestamp 3/7/1945
        
        li
            h3.drm-bold: span.drm-pretty-date 3/29/1955
            p: span.drm-timestamp 3/29/1955
        
        li
            h3.drm-bold: span.drm-pretty-date 6/29/2012
            p: span.drm-timestamp 6/29/2012
        
        li
            h3.drm-bold Yesterday at 8:00am
            p: span.drm-timestamp Yesterday at 8:00am
        
        li
            h3.drm-bold Today at 12:00am
            p: span.drm-timestamp Today at 12:00am
        
        li
            h3.drm-bold Noon
            p: span.drm-timestamp Today at 12:00pm
        
        li
            h3.drm-bold Today at 9:15:23pm
            p: span.drm-timestamp Today at 9:15:23pm
        
        li
            h3.drm-bold Midnight 
            p: span.drm-timestamp Today at 11:59:59pm
        
        li    
            h3.drm-bold Tomorrow at 2:00pm 
            p: span.drm-timestamp Tomorrow at 2:00pm
        
        li        
            h3.drm-bold My Birthday!! 
            p: span.drm-timestamp March 24 2015
        
        li    
            h3.drm-bold.drm-pretty-date July 25 2014
            p: span.drm-timestamp July 25 2014
        
        li    
            h3.drm-bold.drm-pretty-date Thursday, June 25 2015 
            p: span.drm-timestamp Thursday, June 25 2015
        

    h2 Pretty Dates and Times

    p.drm-pretty-date July 25 2014
    p.drm-pretty-date March 24, 1983
    p.drm-pretty-date 7/4/1776
    p.drm-pretty-date 3:00pm

    h2 Countdown to Event

    p Coming Soon!
    //- p Countdown to Christmas 
    //-     span.drm-countdown 12/25/2014

    h2 Usage

    h3 Prettify Dates
    h3 Relative Time Elapsed
    h3 Right Now
    h3 Countdown

    a(href="https://github.com/dynamicresponsemedia/drm-timestamps" target="_blank") Visit GitHub Repo