section
    h1 Typeahead

    p Click to scroll to the top of page

    h2 Live Demo
    p Coming Soon!

    h2 Usage

    a(href="https://github.com/dynamicresponsemedia/drm-typeahead" target="_blank") Visit GitHub Repo