h2 Form Validation Demo

.example-holder
    h2 Tabular Form
    form.tabular-form(role="form" action="" novalidate)
        label(for="full_name") Name:
        input.drm-valid-full-name#full-name(type="text" name="full_name" placeholder="First Last" data-min-length="3")
        small At least 3 characters

        label(for="nickname") Nickname:
        input.drm-valid-alpha#nickname(type="text" name="nickname" placeholder="Nickname" data-max-length="20")
        small No more than 20 characters

        label(for="username") *Username:
        input.drm-valid-alpha-num-underscore#username(type="text" name="username" placeholder="UserName" required)
        small Can include letters, underscores, and numbers

        label(for="password") *Password:
        input.drm-valid-no-spaces#password(type="password" name="password" required)

        label(for="email") *Email:
        input.drm-valid-email#email(type="email" name="email" placeholder="youremail@email.com" required)

        label(for="phone") Phone:
        input.drm-valid-phone#phone(type="tel" name="phone" placeholder="212-867-5309")
        small 212-867-5309x78 no spaces

        label(for="fav_website") Favorite Website:
        input.drm-valid-url#fav-website(type="url" name="fav_website" placeholder="http://amazon.com")
        small Must start with http://

        label(for="age") Age:
        input.drm-valid-integer#age(type="text" name="age" placeholder="25" data-min-value="1" data-max-value="130")
        small Must be between 1 and 130

        label(for="sides") # Sides:
        input.drm-valid-integer#sides(type="text" name="sides" placeholder="5" data-max-value="10")
        small No more than 10 sides

        label(for="meters") Meters:
        input.drm-valid-number#meters(type="text" name="meters" placeholder="12.5" data-min-value="0")
        small Must be a positive value

        label(for="birthday") Date of Birth:
        input.drm-valid-month-day-year#birthday(type="text" name="birthday" placeholder="03-14-1879")

        label(for="ccard") Credit Card #:
        input.drm-valid-credit-card#ccard(type="text" name="ccard" placeholder="0000-0000-0000-0000")
        small no dashes or spaces

        label(for="cvv") CVV:
        input.drm-valid-cvv#cvv(type="text" name="cvv" placeholder="000")

        label(for="zip") Zip Code:
        input.drm-valid-zip#zip(type="text" name="zip" placeholder="90210-0202")

        label(for="fav-animal") Favorite Animal:
        input.drm-valid-alpha#fav-animal(type="text" name="fav_animal" placeholder="Penguin" data-equal="Penguin")

        label(for="least-fav-animal") Least Favorite Animal:
        input.drm-valid-alpha#least-fav-animal(type="text" name="least_fav_animal" placeholder="Lizard" data-not-equal="Penguin")
        
        label(for="notes") Notes:
        textarea.drm-valid-no-tags#notes(name="notes" cols="30" rows="10" placeholder="These are some notes" data-min-length="50" data-max-length="250") 
        small No html tags allowed. Should be between 50 and 250 characters

        input(type="submit" id="submit" name="submit" value="Submit")