// Reset Classes

@mixin elr-reset {
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea, button, main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        vertical-align: baseline;
        background: transparent;
    }

    body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        font-size: 100%;
    }

    input, select, textarea {
        border: 1px solid #999;
    }

    html {
        font-size: $default-font-size#{px};
        // font-size: 100%;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    /*remember to define focus styles! */
    :focus {
        outline: 0;
        text-decoration: none;
    }

    /*remember to highlight inserts somehow! */
    ins {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

        del {
        text-decoration: line-through;
    }     

    /* set img max-width */
    img {
        height: auto;
    }

    /* ie 8 img max-width */
    @media \0screen {
        img { width: auto;}
    }

    body {
        line-height: $default-line-height;
        font-size: 1rem;
        font-family: $font-family;
        color: $main-color;
        background-color: $background-color;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    // add html5 compatibilty

    main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
        display: block;
    }

    // add box-sizing to block elements

    h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, blockquote, cite, form, 
    input, label, textarea, div, section, aside, header, footer, a, nav, button, span, button, span,
    article, main, pre, table, td, tr, th, thead, tbody, tfoot, details, img, figure, menu, figcaption, i, b {
        box-sizing: border-box;

        &:before, &:after {
            box-sizing: border-box;
        }
    }
}

// applies base styles to elements
@mixin elr-base {
    ul {
        margin: 0;
        padding: 10px 10px 10px 30px;
        list-style: disc;   
    }

    ol {
        margin: 0;
        padding: 10px 10px 10px 30px;
        list-style: decimal;
    }

    li, dd, dt {
        margin: 0;
        padding: 0 0 10px 0;
    }

    dl {
        padding: 0;
        margin: 0;
    }

    dt {
        font-weight: bold;
        padding-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 5px 0;
        font-weight: normal;
    }

    h1 {
        @include elr-em-font(48);

        @include elr-breakpoint(jupiter) {
            @include elr-em-font(40);
        }

        @include elr-breakpoint(saturn) {
            @include elr-em-font(36);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(24);
        }
    }

    h2 {
        @include elr-em-font(36);

        @include elr-breakpoint(jupiter) {
            @include elr-em-font(33);
        }

        @include elr-breakpoint(saturn) {
            @include elr-em-font(30);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(20);
        }
    }

    h3 {
        @include elr-em-font(30);

        @include elr-breakpoint(jupiter) {
            @include elr-em-font(26);
        }

        @include elr-breakpoint(saturn) {
            @include elr-em-font(20);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(18);
        }
    }

    h4 {
        @include elr-em-font(24);

        @include elr-breakpoint(jupiter) {
            @include elr-em-font(20);
        }

        @include elr-breakpoint(saturn) {
            @include elr-em-font(18);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(16);
        }   
    }

    h5 {
        @include elr-em-font(18);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(16);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(14);
        }
    }

    h6 {
        @include elr-em-font(16);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(14);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(12);
        }
    }

    mark {
        background-color: $main-color;
        color: white;
        padding-left: 3px;
        padding-right: 3px;
    }

    p {
        @include elr-em-font($default-font-size);
        margin: 0;
        padding: 0 0 10px 0;

        @include elr-breakpoint(neptune) {
            @include elr-em-font($default-font-size - 2);
        }
    }

    small {
        @include elr-em-font($default-font-size - 4);
    }

    blockquote {
        margin: 0;
        padding: 10px;
        font-style: italic;
    }

    cite {
        font-style: normal;
    }

    pre {
        @include elr-em-font(14);
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $lightest-grey;
        border: 1px solid $light-grey;
        padding: 10px;
        border-radius: 3px;
        white-space: pre-wrap;
        word-wrap: break-word;

        @include elr-breakpoint(neptune) {
            width: 100%;
        }
    }

    a {
        text-decoration: underline;
        color: $link-color;

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    input,
    select,
    textarea,
    fieldset {
        font-family: $font-family;
        font-size: $default-font-size#{px};
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }

    label {
        vertical-align: middle;
    }

    input[type=text],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=time],
    input[type=url],
    input[type=week] {
        height: 30px;
        padding: 10px;
        -webkit-appearance: none;
    }

    select {
        line-height: 1.75;
        padding: 10px;
    }

    select:not([multiple]) {
        height: 30px;
        vertical-align: middle;
    }

    textarea {
        line-height: 1.75;
        padding: 10px;
    }
}