.flipper {
    @include elr-flipper;
    padding: to-rems(40px);
}

.flipper-container {
    @include elr-circle($config: (width: 200px));
}

.flipper-front,
.flipper-back {
    @include elr-circle($config: (width: 200px));

    p {
        @include elr-centerer(
            $config: (
                vertical: true,
                horizontal: false
            )
        );
        font-size: to-rems(18px);
        width: 100%;
        color: $white;
        text-align: center;
    }
}

.flipper-front { background-color: $elr-blue; }
.flipper-back { background-color: $dark-pink; }

.spin {
    @include elr-circle($config: (width: 100px));
    background-color: lighten($elr-blue, 20%);
    text-align: center;
    color: $white;
    line-height: to-rems(90px);
    border: 4px dashed $elr-blue;

    p {
        padding: 0;
        margin: 0;
    }

    &:hover {
        @include elr-spin;
    }
}

.fade-box {
    color: $elr-blue;
    padding: to-rems(20px) to-rems(30px);
    margin-bottom: to-rems(20px);

    p {
        padding: 0 0 to-rems(20px);
        margin: 0;
        line-height: 1.3;
    }

    .box {
        width: 100%;
        height: to-rems(150px);
        background-color: lighten($elr-blue, 10%);
        border-color: $elr-blue;
        text-align: center;
        display: flex;
        align-items: center;
        color: $white;

        p {
            width: 100%;
            font-size: to-rems(24px);
        }
    }

    .fade-in,
    .fade-out {
        padding: to-rems(10px);
        background-color: $lightest-grey;
    }

    .fade-in {
        @include elr-fade($config: (type: 'show'));
    }

    .fade-out {
        @include elr-fade($config: (type: 'hide'));
    }
}

.slide-box {
    height: 250px;
}

.slide-down {
    cursor: pointer;

    h4 {
        background-color: $elr-blue;
        padding: to-rems(10px);
        color: $white;
        border-radius: to-rems(5px);
        margin-bottom: to-rems(5px);
    }

    .elr-slide-down {
        @include elr-slide;
        background-color: $elr-blue;
        color: $white;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: to-rems(5px);

        li { padding: to-rems(5px) to-rems(10px); }
    }
}

.icon-card {
    width: to-rems(350px);

    &:hover {
        h3 { color: lighten($link-color, 10%); }
    }

    p { font-size: to-rems(14px); }

    h3 {
        transition: color .3s;
        font-weight: $bold;
        color: $link-color;
    }
}

.icon-animated { @include elr-icon-animated; }
.icon-border { @include elr-icon-border; }
.icon-border-pop { @include elr-icon-border-pop; }
.icon-dash { @include elr-icon-dash; }
.icon-dash-rotate { @include elr-icon-dash($config: (rotate: true)); }
.icon-border-pull { @include elr-icon-border-pull; }
.icon-background-fade { @include elr-icon-background-fade; }
.icon-hamburger { @include elr-hamburger; }

.icon-close { @include elr-icon-close; }
.icon-arrow-left { @include elr-icon-arrow($config: (direction: 'left')); }
.icon-arrow-right { @include elr-icon-arrow($config: (direction: 'right')); }

.menu-animated { @include menu-animated; }
.menu-simple-lines { @include menu-simple-lines; }
.menu-double-lines { @include menu-double-lines; }
.menu-expanding-lines { @include menu-expanding-lines; }
.menu-drop-lines { @include menu-drop-lines($config: (line-thickness: 2px)); }
