// Button Examples

.button-link,
.button-solid,
.pill-button-link {
    margin-right: to-rems(20px);
}

.button-link {
    @include elr-button-link($link-color, transparent, $link-color, $link-color);
}

.button-solid {
    @include elr-button-link($white, $link-color);
}

.pill-button-link {
    @include elr-button-link($link-color, transparent, $link-color, $link-color, true);
}

.pill-button-solid {
    @include elr-button-link($white, $link-color, null, lighten($link-color, 10%), true);
}

.button-group,
.button-group-stacked,
.icon-button-group,
.icon-button-group-stacked {
    margin-bottom: to-rems(20px);
}

.button-group {
    @include elr-button-group(3px, row, auto);
}

.button-group-stacked {
    @include elr-button-group(3px, column, 200px);
}

.icon-button-group {
    @include elr-button-group;
}

.icon-button-group-stacked {
    @include elr-button-group(3px, column, 43px);
}

.dropdown-buttons {
    @include elr-breakpoint($saturn - 1, 'min-width') {
        display: flex;
    }
}

.elr-dropdown-button-holder {
    @include elr-dropdown-button-solid;
    margin-right: to-rems(20px);

    @include elr-breakpoint('saturn') {
        width: 100%;
    }
}

.elr-dropdown-button-holder-split {
    @include elr-dropdown-button-split;
    margin-right: to-rems(20px);

    @include elr-breakpoint('saturn') {
        width: 100%;
    }
}

.elr-dropdown-list {
    @include elr-dropdown-list($link-color, $background-color, none, 3px, 250px);
}

.mobile-toggle-button,
.mobile-toggle-button-border {
    margin-right: to-rems(10px);
}

.mobile-toggle-button {
    @include elr-mobile-toggle-button($white, $link-color);
}

.mobile-toggle-button-border {
    @include elr-mobile-toggle-button($link-color, transparent, 18px, 3px, $link-color);
}

.icon-button {
    @include elr-font-awesome-button('right');
}

.icon-button-left {
    @include elr-font-awesome-button('left');
}

.icon-only-button {
    @include elr-font-awesome-button(null, false, 43px);
}

.icon-circle {
    @include elr-font-awesome-button(null, true, 40px);
}

.heart-button {
    &::before {
        content: '\f004';
    }
}

.star-button {
    &::before {
        content: '\f005';
    }
}

.download-button {
    &::before {
        content: '\f019';
    }

}

.add-button {
    &::before {
        content: '\f055';
    }

}

.facebook-button {
    @include elr-button-link($white, $facebook-color);

    &::before {
        content: '\f09a';
    }
}

.twitter-button {
    @include elr-button-link($white, $twitter-color);

    &::before {
        content: '\f099';
    }
}

.google-plus-button {
    @include elr-button-link($white, $google-plus-color);

    &::before {
        content: '\f0d5';
    }
}

.pinterest-button {
    @include elr-button-link($white, $pinterest-color);

    &::before {
        content: '\f0d2';
    }
}

.instagram-button {
    @include elr-button-link($white, $instagram-color);

    &::before {
        content: '\f16d';
    }
}
