// Button Examples

.button-link,
.button-solid,
.pill-button-link {
    margin-right: to-rems(20px);
}

.button-link {
    @include elr-button-link(
        $config: (
            color: $link-color,
            bg-color: transparent,
            border-color: $link-color,
            hover-color: $link-color
        )
    );
}

.button-solid { @include elr-button-link; }

.pill-button-link {
    @include elr-button-link(
        $config: (
            color: $link-color,
            bg-color: transparent,
            border-color: $link-color,
            hover-color: $link-color,
            pill: true
        )
    );
}

.pill-button-solid {
    @include elr-button-link(
        $config: (
            color: $white,
            bg-color: $link-color,
            pill: true
        )
    );
}

.button-group,
.button-group-stacked,
.icon-button-group,
.icon-button-group-stacked {
    margin-bottom: to-rems(20px);
}

.button-group {
    @include elr-button-group($config: (direction: row));
}

.button-group-stacked {
    @include elr-button-group(
        $config: (
            direction: column,
            width: 200px
        )
    );
}

.icon-button-group {
    @include elr-button-group;
}

.icon-button-group-stacked {
    @include elr-button-group(
        $config: (
            direction: column,
            width: 43px
        )
    );
}

.dropdown-buttons {
    @include elr-breakpoint(
        $config: (
            point: $saturn - 1,
            modifier: 'min-width'
        )
    ) {
        display: flex;
    }
}

.elr-dropdown-button-holder {
    @include elr-dropdown-button-solid;
    margin-right: to-rems(20px);

    @include elr-breakpoint($config: (point: 'saturn')) {
        width: 100%;
    }
}

.elr-dropdown-button-holder-split {
    @include elr-dropdown-button-split;
    margin-right: to-rems(20px);

    @include elr-breakpoint($config: (point: 'saturn')) {
        width: 100%;
    }
}

.elr-dropdown-list {
    @include elr-dropdown-list($config: (width: 250px));
}

.mobile-toggle-button,
.mobile-toggle-button-border {
    margin-right: to-rems(10px);
}

.mobile-toggle-button {
    @include elr-mobile-toggle-button(
        $config: (
            color: $white,
            bg-color: $link-color
        )
    );
}

.mobile-toggle-button-border {
    @include elr-mobile-toggle-button($config: (border-color: $link-color));
}

.icon-button {
    @include elr-font-awesome-button($config: (icon-position: 'right'));
}

.icon-button-left {
    @include elr-font-awesome-button($config: (icon-position: 'left'));
}

.icon-only-button {
    @include elr-font-awesome-button($config: (width: 43px));
}

.icon-circle {
    @include elr-font-awesome-button(
        $config: (
            round: true,
            width: 40px
        )
    );
}

.heart-button {
    &::before { content: '\f004'; }
}

.star-button {
    &::before { content: '\f005'; }
}

.download-button {
    &::before { content: '\f019'; }
}

.add-button {
    &::before { content: '\f055'; }
}

.facebook-button {
    @include elr-button-link($config: (bg-color: $facebook-color));

    &::before { content: '\f09a'; }
}

.twitter-button {
    @include elr-button-link($config: (bg-color: $twitter-color));

    &::before { content: '\f099'; }
}

.google-plus-button {
    @include elr-button-link($config: (bg-color: $google-plus-color));

    &::before { content: '\f0d5'; }
}

.pinterest-button {
    @include elr-button-link($config: (bg-color: $pinterest-color));

    &::before { content: '\f0d2'; }
}

.instagram-button {
    @include elr-button-link($config: (bg-color: $instagram-color));

    &::before { content: '\f16d'; }
}
