.card-holder {
    width: 50%;
    padding: 20px;
}

.card {
    @include elr-card(
        $config: (
            bg-color: lighten($link-color, 40%),
            color: $link-color,
            padding: 20px,
            border-radius: 5px
        )
    );
}

.card-border {
    @include elr-card(
        $config: (
            bg-color: $white,
            color: $link-color,
            border-color: $light-grey,
            padding: 20px,
            border-radius: 5px
        )
    );

    .elr-card-thumbnail {
        @include elr-card-thumbnail;
    }
}

.card-centered {
    @include elr-card-centered;
}

.card-address { @include elr-address; }
