.context-box-info,
.context-box-success,
.context-box-danger,
.context-box-warning,
.context-box-muted,
.custom-context-box {
    margin: to-rems(20px) 0;

    p {
        padding: to-rems(10px) 0;
    }
}

.context-box-info {
    @include elr-context-box(
        $config: (
            type: 'info',
            border-radius: 3px
        )
    );
}

.context-box-success {
    @include elr-context-box(
        $config: (
            type: 'success',
            border-radius: 3px
        )
    );
}

.context-box-danger {
    @include elr-context-box(
        $config: (
            type: 'danger',
            border-radius: 3px
        )
    );
}

.context-box-warning {
    @include elr-context-box(
        $config: (
            type: 'warning',
            border-radius: 3px
        )
    );
}

.context-box-muted {
    @include elr-context-box(
        $config: (
            type: 'muted',
            border-radius: 3px
        )
    );
}

.custom-context-box {
    @include elr-context-box(
        $config: (
            type: 'custom',
            border-radius: 3px,
            color: lighten($coral, 20%)
        )
    );
}
