@include elr-flex-grid;

.demo-box {
    margin: to-rems(10px);
    text-align: center;
    padding: to-rems(20px);
    width: 100%;
    border-radius: to-rems(5px);
    background-color: $dark-pink;
    color: $white;
}

.demo {
    text-align: center;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    margin: to-rems(5px);
    padding: to-rems(20px);

    @include elr-breakpoint($config: (point: 'saturn')) {
        margin-left: 0;
        margin-right: 0;
    }

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    p {
        padding: 0;
        margin: 0;
    }
}

.flex-demo { margin-top: to-rems(20px); }
