// Forms Utilities Examples

.form-state { padding: to-rems(20px) 0; }
.form {
    @include elr-form(
        $config: (
            bk-color: $almost-white,
            border: $light-grey
        )
    );
}

.form-state,
.tabular-form { @include elr-tabular-form; }

.inline-form { @include elr-inline-form; }
