// Grid Examples

.example-col,
.example-col-nested {
    text-align: center;
    padding: 0;
    display: block;
    color: $white;
    border: 1px solid $main-color;

    p {
        padding: to-rems(10px);
    }
}

.example-col {
    background-color: $link-color;
    border-collapse: collapse;
}
