// Helper Classes Utilities Examples

.float-boxes {
    @include elr-clearfix;
    background-color: $background-color;
}

.box {
    @include elr-square(200px);
    background-color: lighten($main-color, 20%);
    border: 1px solid $main-color;
    text-align: center;
    color: $background-color;
    position: relative;

    p { @include elr-centerer; }
}

.box-model {
    box-sizing: border-box;
    background-color: $light-grey;
    height: to-rems(200px);
    width: to-rems(250px);
    border: 1px solid $grey;
    margin: to-rems(20px);
    padding: to-rems(20px);
}

.box-model-inner {
    background-color: $link-color;
    height: 100%;
    width: 100%;
}

.box-model-overflow {
    background-color: $accent-color;
    height: 150%;
    width: 150%;
    padding: to-rems(10px);
    color: $white;
}

.typography-classes { background-color: $background-color; }

.responsive-demo {
    border: 1px solid $elr-blue;
    padding: to-rems(10px);
    margin: to-rems(20px) 0 0;
    background-color: $elr-blue-light;
    border-radius: to-rems(5px);

    p {
        @include elr-em-font(14px);
        padding: 0;
        font-weight: $bold;
    }
}

.elr-inline-list li { padding-bottom: 0; }

.elr-button,
.elr-button-danger,
.elr-button-success,
.elr-button-warning,
.elr-button-info,
.elr-button-muted {
    margin-right: to-rems(10px);
    margin-bottom: to-rems(10px);
}
