.flexible-image {
    @include elr-flex-image;
}

// .image-container {
//     margin: 0;
//     padding: 0;
// }

.rounded-image-holder {
    margin-bottom: 10px;

    &:first-of-type {
        margin-right: 5px;
    }

    &:last-of-type {
        margin-left: 5px;
    }
}

.rounded-image {
    @include elr-rounded-image(10px);
    display: block;
}

.round-image {
    @include elr-circle-image(300px);
    margin: to-rems(20px);
    padding: 0;

    @include elr-breakpoint(1403px) {
        @include elr-circle-image(250px);
    }

    @include elr-breakpoint(1193px) {
        @include elr-circle-image(200px);
    }

    @include elr-breakpoint(972px) {
        @include elr-circle-image(150px);
    }

    @include elr-breakpoint(saturn) {
        @include elr-circle-image(300px);
        margin: 20px auto;
    }
}
