.flexible-image {
    @include elr-flex-image;
}

// .image-container {
//     margin: 0;
//     padding: 0;
// }

.rounded-image-holder {
    margin-bottom: 10px;

    &:first-of-type {
        margin-right: 5px;
    }

    &:last-of-type {
        margin-left: 5px;
    }
}

.rounded-image {
    @include elr-rounded-image($config: (border-radius: 10px));
    display: block;
}

.round-image {
    @include elr-circle-image($config: (width: 300px));
    margin: to-rems(20px);
    padding: 0;

    @include elr-breakpoint($config: (point: 1403px)) {
        @include elr-circle-image($config: (width: 250px));
    }

    @include elr-breakpoint($config: (point: 1193px)) {
        @include elr-circle-image($config: (width: 200px));
    }

    @include elr-breakpoint($config: (point: 972px)) {
        @include elr-circle-image($config: (width: 150px));
    }

    @include elr-breakpoint($config: (point: saturn)) {
        @include elr-circle-image($config: (width: 300px));
        margin: 20px auto;
    }
}
