// JavaScript Examples

.elr-accordion {
    @include elr-accordion($text-color, 5px, $white, $link-color, $link-color);
    max-width: to-rems(800px);
}

.elr-accordion-nav {
    @include elr-accordion-nav($link-color);
}

.back-to-top { @include elr-back-to-top; }

.elr-back-to-top-content {
    padding: 0;
    margin: 0;
}

@include elr-calendar;

.elr-calendar {
    margin-bottom: to-rems(40px);
}

.elr-dropdown-nav {
    @include elr-em-margin('bottom', 200px);
    @include elr-dropdown-nav;
    font-size: to-rems(14px);

    .elr-submenu { font-size: to-rems(12px); }
}

.elr-lightbox-thumbnails { @include elr-thumbnail-list; }

.elr-blackout { @include elr-lightbox-slideshow; }

.elr-modal-demo-buttons {
    @include elr-button-group(3px);
    margin: to-rems(10px) auto;
    width: to-rems(350px);

    button { font-size: to-rems(14px); }
}

.elr-modal {
    @include elr-modals;
    display: none;
}

.popover-holder {
    position: relative;
    width: to-rems(200px);
    margin: 0 auto to-rems(20px);
}

.elr-popover-bottom { @include elr-popover(bottom); }
.elr-popover-top { @include elr-popover(top); }
.elr-popover-left { @include elr-popover(left); }
.elr-popover-right { @include elr-popover(right); }

.elr-offscreen-menu {
    @include elr-offscreen-menu($main-color);
    font-size: to-rems(14px);
}

.elr-menu-button {
    background-color: $link-color;
    display: inline-block;
    border-radius: 0;
    padding: to-rems(7px);

    .hamburger {
        @include elr-icon-arrow('left', 30px, 4px);
        @include elr-hamburger(30px, $white, 4px);
    }
}

.elr-offscreen-nav {
    width: 100%;
    padding: to-rems(3px) to-rems(10px);
    background-color: $link-color;
    color: $white;
    font-weight: $bold;
    height: to-rems(70px);
    position: absolute;
    top: 0;
    left: 0;
}

.elr-offscreen-content {
    @include elr-clearfix;
    width: 100%;
    margin: to-rems(2px) auto;
    background-color: $background-color;
    border: to-rems(1px) solid $light-grey;
    padding-top: to-rems(70px);
    overflow: hidden;
    position: relative;

    p {
        padding: to-rems(10px) to-rems(20px);
    }
}

.elr-offscreen-content-holder {
    position: relative;

    .content {
        height: to-rems(500px);
        overflow-y: scroll;
    }
}

.elr-simple-slider { @include elr-simple-slider; }

.elr-simple-slider-2 { @include elr-simple-slider; }

.elr-sticky-nav {
    margin: to-rems(10px) 0;

    &.sticky-top {
        @include elr-sticky-menu('top');
        top: to-rems(60px);
    }

    ul {
        font-size: to-rems(14px);
        font-weight: $bold;
    }
}

.elr-sticky-sidebar {
    padding: 0;
    margin: 0;
    width: 25%;
    float: left;

    &.sticky-left {
        @include elr-sticky-menu('left');
        width: to-rems(250px);
    }

    ul {
        font-size: to-rems(14px);
        font-weight: $bold;
    }
}

.sticky-sidebar-content {
    margin: 0;
    width: 75%;
    padding: 0 1% 0 2%;
    float: right;

    section:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.elr-has-tooltip {
    text-decoration: underline;
    color: $main-color;

    &:hover {
        cursor: pointer;
    }
}

.elr-tooltip-left { @include elr-tooltip(left, $text-color, $background-color, 100px); }
.elr-tooltip-right { @include elr-tooltip(right, $text-color, $background-color, 100px); }
.elr-tooltip-top { @include elr-tooltip(top, $text-color, $background-color, 100px); }
.elr-tooltip-bottom { @include elr-tooltip(bottom, $text-color, $background-color, 100px); }

.elr-sortable-table { @include elr-table-rounded($background-color, $text-color, $link-color, $light-grey, $lightest-grey); }

.elr-flexible-grid { @include elr-flexible-grid(4); }

.elr-select { @include elr-select-control(200px); }

.password-holder {
    background-color: $lightest-grey;
    border: 1px solid $grey;
    border-radius: to-rems(3px);
    padding: 0 to-rems(10px);
    width: 100%;
    height: to-rems(30px);
    margin-bottom: to-rems(5px);

    p {
        font-size: to-rems(14px);
        margin: 0;
        padding: 0;
        line-height: to-rems(30px);
    }
}

.elr-generate-password {
    font-size: to-rems(14px);
}
