.label {
    @include elr-label;
    margin-bottom: to-rems(5px);
    margin-right: to-rems(10px);
}

.label-info { @include elr-label-context('info'); }
.label-danger { @include elr-label-context('danger'); }
.label-warning { @include elr-label-context('warning'); }
.label-success { @include elr-label-context('success'); }
.label-muted { @include elr-label-context('muted'); }
.label-corner { @include elr-label-corner(top, left, $accent-color); }
.label-corner-right { @include elr-label-corner(top, right, $success-color); }
.label-corner-bottom { @include elr-label-corner(bottom, left, $link-color); }
.label-corner-bottom-right { @include elr-label-corner(bottom, right, $success-color); }

.corner-label-box {
    @include elr-square(250px);
    background-color: $light-grey;
    position: relative;
    float: left;
    margin-right: to-rems(10px);
    margin-bottom: to-rems(10px);

    &:nth-child(3) { clear: left; }
}

.label-ribbon { @include elr-label-ribbon; }
