.label {
    @include elr-label;
    margin-bottom: to-rems(5px);
    margin-right: to-rems(10px);
}

.label-info {
    @include elr-label-context($config: (type: 'info'));
}

.label-danger {
    @include elr-label-context($config: (type: 'danger'));
}

.label-warning {
    @include elr-label-context($config: (type: 'warning'));
}

.label-success {
    @include elr-label-context($config: (type: 'success'));
}

.label-muted {
    @include elr-label-context($config: (type: 'muted'));
}

.label-corner {
    @include elr-label-corner(
        $config: (
          position-y:   top,
            position-x: left,
            bg-color: $accent-color
        )
    );
}

.label-corner-right {
    @include elr-label-corner(
        $config: (
          position-y:   top,
            position-x: right,
            bg-color: $success-color
        )
    );
}

.label-corner-bottom {
    @include elr-label-corner(
        $config: (
            position-y: bottom,
            position-x: left,
            bg-color: $link-color
        )
    );
}

.label-corner-bottom-right {
    @include elr-label-corner(
        $config: (
            position-y: bottom,
            position-x: right,
            bg-color: $success-color
        )
    );
}

.corner-label-box {
    @include elr-square($config: (width: 250px));
    background-color: $light-grey;
    position: relative;
    float: left;
    margin-right: to-rems(10px);
    margin-bottom: to-rems(10px);

    &:nth-child(3) { clear: left; }
}

.label-ribbon { @include elr-label-ribbon; }
