// scss-lint:disable NestingDepth SelectorDepth
// Layout Utilities Examples

.center-block {
    @include elr-center-block(50%);
    margin-top: to-rems(10px);
    margin-bottom: to-rems(10px);
    padding: to-rems(10px);
    border: 1px solid $grey;
    background-color: $white;
}

.horizontal-container,
.vertical-container,
.center-container {
    position: relative;
    height: to-rems(400px);
    width: to-rems(500px);
}

.horizontally-center,
.vertically-center,
.centered {
    height: to-rems(200px);
    width: to-rems(275px);
    background-color: $warning-color;
}

.horizontal-container .horizontally-center {
    @include elr-centerer(false, true);
}

.vertical-container .vertically-center {
    @include elr-centerer(true, false);
}

.center-container .centered {
    @include elr-centerer;
}

.ratiobox,
.ratiobox-square {
    width: 50%;

    @include elr-breakpoint(997px) {
        max-width: none;
        width: 100%;
    }

    .elr-ratiobox-inner {
        background-color: $elr-blue;
        color: $white;
    }

    &:nth-child(odd) .elr-ratiobox-inner {
        margin-right: to-rems(20px);

        @include elr-breakpoint(997px) {
            margin-right: 0;
        }
    }

    &:nth-child(even) .elr-ratiobox-inner {
        margin-left: to-rems(20px);

        @include elr-breakpoint(997px) {
            margin-left: 0;
        }
    }
}

.ratiobox {
    @include elr-ratiobox(16, 9);
    margin-bottom: to-rems(40px);
}

.ratiobox-square {
    @include elr-ratiobox(1, 1);
}
