// Navigation Utilities Examples

.nav-bar,
.nav-bar-stacked,
.nav-bar-solid,
.nav-bar-pills,
.nav-bar-pills-solid,
.nav-bar-solid-stacked,
.nav-bar-pills-stacked,
.nav-bar-pills-solid-stacked {
    font-size: to-rems(14px);

    .elr-submenu { font-size: to-rems(12px); }
}

.nav-bar,
.nav-bar-stacked,
.nav-bar-solid,
.nav-bar-pills,
.nav-bar-pills-solid {
    margin-top: to-rems(10px);
    margin-bottom: to-rems(10px);
}

.nav-bar-solid-stacked,
.nav-bar-pills-stacked,
.nav-bar-pills-solid-stacked { width: to-rems(300px); }

.nav-bar { @include elr-nav-bar; }

.nav-bar-solid {
    @include elr-nav-bar(
        $config: (
            text-color: $white,
            hover-color: $white,
            divider-color: transparent,
            background-color: $link-color,
            active-color: lighten($link-color, 10%)
        )
    );
}

.nav-bar-stacked {
    @include elr-nav-bar(
        $config: (
            divider-color: transparent,
            inline: false,
            active-color: transparent
        )
    );
}

.nav-bar-solid-stacked {
    @include elr-nav-bar(
        $config: (
            text-color: $white,
            hover-color: $white,
            divider-color: transparent,
            background-color: $link-color,
            inline: false,
            active-color: lighten($link-color, 10%)
        )
    );
}

.nav-bar-pills {
    @include elr-nav-bar(
        $config: (
            hover-color: $white,
            align: center,
            divider-color: transparent,
            border-radius: 3px,
            active-color: $link-color
        )
    );
}

.nav-bar-pills-stacked {
    @include elr-nav-bar(
        $config: (
            text-color: $link-color,
            hover-color: $white,
            divider-color: transparent,
            inline: false,
            border-radius: 3px,
            active-color: $link-color
        )
    );
}

.nav-bar-pills-solid {
    @include elr-nav-bar(
        $config: (
            text-color: $white,
            hover-color: $white,
            align: center,
            divider-color: transparent,
            background-color: $link-color,
            border-radius: 3px,
            active-color: lighten($link-color, 10%)
        )
    );
}

.nav-bar-pills-solid-stacked {
    @include elr-nav-bar(
        $config: (
            text-color: $white,
            hover-color: $white,
            divider-color: transparent,
            background-color: $link-color,
            border-radius: 3px,
            active-color: lighten($link-color, 10%),
            inline: false
        )
    );
}

.css-dropdown-menu {
    @include elr-css-dropdown-menu;
}

.breadcrumbs { @include elr-breadcrumbs; }
.breadcrumbs-arrow { @include elr-breadcrumbs-arrow; }
