.pagination { @include elr-pagination; }

.pagination-base {
    text-align: center;

    a { font-size: to-rems(14px); }
}

.pagination-links-round {
    @include elr-pagination-links(
        $config: (
            color: $link-color,
            border-radius: 50%,
            centered: true
        )
    );
}
