@mixin elr-pricing-table() {
    height: 450px;
    min-height: min-content;

    .pricing-package {
        border-radius: 5px;
        border: 1px solid $light-grey;
        margin: 0 10px;
        flex-grow: 1;
        text-align: center;
        max-width: 300px;
        align-self: center;
        height: 100%;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pricing-package-popular {
        flex-grow: 2;
        max-width: 350px;
        height: 115%;
    }

    .pricing-package-header,
    .pricing-package-body,
    .pricing-package-footer {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .pricing-package-header {
        padding: 10px 20px;

        p {
            padding: 0;
            margin: 0;
        }

        span {
            display: block;
            line-height: 1;
        }
    }

    .pricing-package-price {
        font-size: 36px;
        font-weight: $extra-bold;
    }

    .pricing-package-duration {
        font-weight: $light;
        font-size: 12px;
    }

    .pricing-package-name,
    .pricing-package-description {
        line-height: 1;
        font-weight: $light;
        padding: 0;
    }

    .pricing-package-name {
        font-size: 36px;
    }

    .pricing-package-body {
        border-top: 1px solid $light-grey;
        padding: 20px 0;
    }

    .pricing-package-description {
        font-size: 14px;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-grey;
        width: 100%;
    }

    .pricing-package-features {
        list-style: none;
        padding: 20px 0 10px;

        li {
            padding: 5px 0;
            margin: 0;
            font-weight: $light;
        }
    }

    .pricing-package-footer {
        padding: 20px 10px 10px;
        border-top: 1px solid $light-grey;

        .elr-button {
            margin-right: 0;
        }
    }
}

.pricing-table-container {
    @include elr-pricing-table;
}
