.pricing-table-container {
    @include elr-pricing-table(
        $config: (
            border-color: $white,
            background-color: lighten($elr-blue, 30%),
            color: darken($elr-blue, 15%),
            border-radius: 5px
        )
    );
}
