// Tables Examples

.elr-table-bordered {
    @include elr-table-base(
        $config: (
            bk-color: $background-color,
            color: $text-color,
            hover-bk: $link-color,
            border-color: $light-grey,
            stripes: $lightest-grey,
            border-radius: 5px
        )
    );
}
