section#flex-grid
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Flex Box Grid
                p Columns can be nested and take up equal widths by default
                p This allows for grid sizes that aren't available in typical 12 column grid systems
        .elr-flex-row
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia doloremque, culpa repellat inventore sequi blanditiis maiores ullam pariatur nostrum perspiciatis.
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolorum quibusdam aut quidem dolor aliquam, odio quia. Voluptatibus laborum, porro ex fugit, exercitationem ipsam. Ad deleniti accusantium, sit animi laboriosam.
        .elr-flex-row
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cumque eos ratione repellat illo odio nihil quidem explicabo, molestias magni.
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem perspiciatis incidunt facere, aliquid ab deleniti natus totam eum vel consequatur! Deserunt, veniam odio explicabo laboriosam.
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, debitis.
        .elr-flex-row
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iusto cupiditate pariatur aut quas ut tempora minima in tenetur optio!
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores nulla, itaque pariatur eaque quasi iusto aliquid cupiditate officia eum eos nemo consequuntur non, reiciendis.
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, perspiciatis!
            .elr-flex-col.demo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quo excepturi, officia eius dolore repudiandae distinctio adipisci architecto eveniet, delectus!
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 5
            .elr-flex-col.demo
                p 1 / 5
            .elr-flex-col.demo
                p 1 / 5
            .elr-flex-col.demo
                p 1 / 5
            .elr-flex-col.demo
                p 1 / 5
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 6
            .elr-flex-col.demo
                p 1 / 6
            .elr-flex-col.demo
                p 1 / 6
            .elr-flex-col.demo
                p 1 / 6
            .elr-flex-col.demo
                p 1 / 6
            .elr-flex-col.demo
                p 1 / 6
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
            .elr-flex-col.demo
                p 1 / 7
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
            .elr-flex-col.demo
                p 1 / 8
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
            .elr-flex-col.demo
                p 1 / 9
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
            .elr-flex-col.demo
                p 1 / 10
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
            .elr-flex-col.demo
                p 1 / 11
        .elr-flex-row
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
            .elr-flex-col.demo
                p 1 / 12
        .elr-col-full
            h4.example-subheading Unequal width columns
            .elr-flex-row
                .elr-flex-row.elr-flex-col
                    .elr-flex-col.demo
                        p 1 / 2
                    .elr-flex-row.elr-flex-col
                        .elr-flex-col.demo
                            p 1 / 2
                        .elr-flex-col.demo
                            p 1 / 2
                .elr-flex-col.demo
                    p 1 / 2
            .elr-flex-row
                .elr-flex-col.elr-flex-col-full.demo
                    p Full
            .elr-flex-row
                .elr-flex-col.elr-flex-col-half.demo
                    p 1 / 2
                .elr-flex-col.demo
                    p auto
                .elr-flex-col.demo
                    p auto
            .elr-flex-row
                .elr-flex-col.demo
                    p auto
                .elr-flex-col.demo
                    p auto
                .elr-flex-col.elr-flex-col-half.demo
                    p 1 / 2
            .elr-flex-row
                .elr-flex-col.elr-flex-col-third.demo
                    p 1 / 3
                .elr-flex-col.demo
                    p auto
            .elr-flex-row
                .elr-flex-col.elr-flex-col-quarter.demo
                    p 1 / 4
                .elr-flex-col.demo
                    p auto
            .elr-flex-row
                .elr-flex-col.elr-flex-col-fifth.demo
                    p 1 / 5
                .elr-flex-col.elr-flex-col-fifth.demo
                    p 1 / 5
                .elr-flex-col.demo
                    p auto
        .elr-col-full
            h4.example-subheading Align to the top
            .elr-flex-row.elr-flex-row-top
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti molestiae minus, ab dicta qui ullam voluptas ratione, rem quo non consequuntur sequi aut, fuga quidem. Alias molestiae, nisi vitae.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi dicta ullam doloribus expedita cupiditate esse animi temporibus ratione praesentium ab hic, iste soluta accusamus repellat saepe, quod iusto. Quos asperiores nesciunt rerum itaque blanditiis nisi nemo, obcaecati, nulla maxime.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, doloremque.
        .elr-col-full
            h4.example-subheading Align along a center axis
            .elr-flex-row.elr-flex-row-center
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti molestiae minus, ab dicta qui ullam voluptas ratione, rem quo non consequuntur sequi aut, fuga quidem. Alias molestiae, nisi vitae.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi dicta ullam doloribus expedita cupiditate esse animi temporibus ratione praesentium ab hic, iste soluta accusamus repellat saepe, quod iusto. Quos asperiores nesciunt rerum itaque blanditiis nisi nemo, obcaecati, nulla maxime.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, doloremque.
        .elr-col-full
            h4.example-subheading Align to the bottom
            .elr-flex-row.elr-flex-row-bottom
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti molestiae minus, ab dicta qui ullam voluptas ratione, rem quo non consequuntur sequi aut, fuga quidem. Alias molestiae, nisi vitae.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus commodi dicta ullam doloribus expedita cupiditate esse animi temporibus ratione praesentium ab hic, iste soluta accusamus repellat saepe, quod iusto. Quos asperiores nesciunt rerum itaque blanditiis nisi nemo, obcaecati, nulla maxime.
                .elr-flex-col.demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, doloremque.
