section#layout
    .elr-container.example-section
        .elr-row
            .elr-col-full.example-holder
                h3.example-heading Clear Fix
                p A modern clearfix alternative to overflow: hidden
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.example-heading Em Margin
                p Converts px margin to ems; enter value only - no units
                h4.example-subheading Arguments:
                ul.elr-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                h3.example-heading Em Padding
                p Converts px padding to ems; enter value only - no units
                h4.example-subheading Arguments:
                ul.elr-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Center Block
                p horizontally centers an element within its container using display block and margin auto.
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full.example-holder
                .center-block
                    h1 Center Block
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
                pre @include elr-center-block($width);
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Horizontally Center
                p Horizontally centers an element using absolute positioning and translate
            .elr-col-full.example-holder.example-holder-light.horizontal-container
                    .horizontally-center
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Vertically Center
                p Vertially centers an element using absolute positioning and translate
            .elr-col-full.example-holder.example-holder-light.vertical-container
                    .vertically-center
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Centered
                p Vertically and horizontally centers an element within its container
            .elr-col-full.example-holder.example-holder-light.center-container
                    .centered
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Ratio Box
                p These boxes keep their aspect ratio at all times. This one is 16:9
            .elr-col-full.example-holder
                    .ratiobox
                        .elr-ratiobox-inner
                            h3.elr-ratiobox-centeredtext Some Centered Text
                    .ratiobox
                        .elr-ratiobox-inner
                            h3.elr-ratiobox-centeredtext Some Centered Text
                    .ratiobox-square
                        .elr-ratiobox-inner
                            h3.elr-ratiobox-centeredtext Some Centered Text
                    .ratiobox-square
                        .elr-ratiobox-inner
                            h3.elr-ratiobox-centeredtext Some Centered Text
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.