section#shapes
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Circles and Ellipses
            .elr-col-full.example-holder
                .circle
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Rectangles
                p Easy rectangles and squares.
            .elr-col-full.example-holder
                .elr-col-half
                    .elr-rectangle
                .elr-col-half
                    .elr-rounded-rectangle
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                h3.example-heading Squares
            .elr-col-full.example-holder
                .elr-col-half
                    .elr-square
                .elr-col-half
                    .elr-rounded-square
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.
        .elr-row
            .elr-col-full
                    h3.example-heading Triangles
            .elr-full.example-holder
                .elr-col-half
                    .elr-triangle
                .elr-col-half
                    .elr-equilateral-triangle
        .elr-row.source-section
            .elr-col-full.source-holder
                h4.example-subheading HTML
                pre.
                h4.example-subheading Sass
                pre.