section#shapes
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h3.example-heading Circles and Ellipses
            .elr-col-full.example-holder
                .circle
            .elr-col-full
                h3.example-heading Rectangles
                p Easy rectangles and squares.
            .elr-col-full
                pre @include elr-rectangle($width, $height, $display, $border-radius);
            .elr-col-full.example-holder
                .elr-col-half
                    .elr-rectangle
                .elr-col-half
                    .elr-rounded-rectangle
            .elr-col-full
                pre @include elr-rectangle(300px, 200px, block);
                pre @include elr-rectangle(300px, 200px, block, 5px);
            .elr-col-full
                h3.example-heading Squares
            .elr-col-full
                pre @include elr-square($width, $display, $border-radius);
            .elr-col-full.example-holder
                .elr-col-half
                    .elr-square
                .elr-col-half
                    .elr-rounded-square
            .elr-col-full
                pre @include elr-square(300px, block);
                pre @include elr-square(300px, block, 5px);
            .elr-col-full
                    h3.example-heading Triangles
            .elr-full.example-holder
                .elr-col-half
                    .elr-triangle
                .elr-col-half
                    .elr-equilateral-triangle