section#elr-dropdown-buttons
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Dropdown Buttons
                p Show or hide a menu when a button is clicked. Available in solid or split buttons.
        .elr-row
            .elr-col-full.example-holder.elr-flex
                .elr-dropdown-button-holder
                    button.elr-button.elr-button-primary.elr-dropdown-button Info
                    ul.elr-dropdown-list
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li.divider
                        li: a(href="#") Info 4
                .elr-dropdown-button-holder
                    button.elr-button.elr-button-primary.elr-dropdown-button More Info
                    ul.elr-dropdown-list
                        li: a.text-disabled(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
                .elr-dropdown-button-holder
                    button.elr-button.elr-button-primary.elr-dropdown-button Click Me!
                    ul.elr-dropdown-list
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
        .elr-row
            .elr-col-full.example-holder.elr-flex
                .elr-dropdown-button-holder-split
                    .elr-dropdown-button-group.button-group
                        button.elr-button.elr-button-primary Alert
                        button.elr-button.elr-button-primary.elr-dropdown-button &#9662;
                        ul.elr-dropdown-list
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4
                .elr-dropdown-button-holder-split
                    .elr-dropdown-button-group.button-group
                        button.elr-button.elr-button-primary Choose an Option
                        button.elr-button.elr-button-primary.elr-dropdown-button &#9662;
                        ul.elr-dropdown-list
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4