section#elr-dropdown-buttons
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Dropdown Buttons
                p Show or hide a menu when a button is clicked. Available in solid or split buttons.
    .elr-container
        .elr-row
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button Info
                    ul.elr-dropdown-list
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li.divider
                        li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button More Info
                    ul.elr-dropdown-list
                        li: a.text-disabled(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button Click Me!
                    ul.elr-dropdown-list
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
    .elr-container
        .elr-row
            .elr-col-quarter
                .elr-dropdown-split-btn-holder
                    .elr-dropdown-button-group
                        button Alert
                        button &#9662;
                        ul.elr-dropdown-list
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-split-btn-holder
                    .elr-dropdown-button-group
                        button Choose an Option
                        button &#9662;
                        ul.elr-dropdown-list
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4