section#elr-form-controls
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Form Controls
                p JavaScript powered custom form controls
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                .elr-select
                    .dropdown-label
                        span.dropdown-text Favorite Color
                        .dropdown-button
                            i.fa.fa-chevron-down
                    ul.dropdown
                        li(data-option="0") Blue
                        li(data-option="1") Green
                        li(data-option="2") Red
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-form-controls" target="_blank") Visit GitHub Repo