section#elr-form-controls
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Form Controls
                p JavaScript powered custom form controls
            .elr-col-full.example-holder
                h3.example-subheading Demo
                .elr-select
                    .dropdown-label
                        span.dropdown-text Favorite Color
                        .dropdown-button
                            i.fa.fa-chevron-down
                    ul.dropdown
                        li(data-option="0") Blue
                        li(data-option="1") Green
                        li(data-option="2") Red