section#elr-passwords
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Passwords
                p Analyzes passwords for complexity. A password is considered strong if it uses a combination ofuppercase and lowercase letters, numbers, and special characters. It should also be st least 8 characters.
                p ELR Passwords also ensures that passwords are not on a list of the most commonly used passwords.
        .elr-row
            .elr-col-half.example-holder
                form.form.tabular-form(role="form" action="")
                    label(for="password") *Password:
                    input.elr-valid-no-spaces.elr-password#password(type="password" name="password" required)
                    button.elr-button.elr-button-success.elr-show-password Show Password
        .elr-row
            .elr-col-half.example-holder
                .password-holder: p password
                small.elr-block Be sure to store this password in a safe place
                button.elr-button.elr-button-primary.elr-generate-password Generate Password