section#data-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 Data Utilities
                p A collection of utility methods for make it easier to work with data.
    .elr-container
        .elr-row
            .elr-col-full
                h3 Data Type Checks
                h4 Is Date
                h4 Is Number
                h4 Is Alpha
                h4 Is Time
            .elr-col-full
                h3 Get Data Types
            .elr-col-full
                h3 Generate Random String
            .elr-col-full
                h3 Check Blacklist
            .elr-col-full
                h3 Check Length
            .elr-col-full
                h3 Get Text
            .elr-col-full
                h3 Get Value
            .elr-col-full
                h3 Parse Time
            .elr-col-full
                h3 Clean Alpha
            .elr-col-full
                h3 Capitalize