doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 404:Page Not Found&nbsp;
                            i.fa.fa-wrench
                        p Sorry, but the page you were trying to view does not exist.
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                                p Maybe you want to return to the
                                    a(href="index.html") &nbsp;homepage
                                // IE requires 512+ bytes: http://www.404-error-page.com/404-error-page-too-short-problem-microsoft-ie.shtml
                include partials/sidebar
        include partials/footer