doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-container
            .drm-row
                main.drm-col-9.main-content
                    h1 Page Not Found
                    p Sorry, but the page you were trying to view does not exist.
                    // IE requires 512+ bytes: http://www.404-error-page.com/404-error-page-too-short-problem-microsoft-ie.shtml

                include partials/sidebar

        include partials/footer