extends templates/base
block title
    | 404:Page Not Found
block pagetitle
    | 404:Page Not Found
block subtitle
    | A collection of reusable, modular Sass and JavaScript components
block content
    p Maybe you want to return to the
        a(href="index.html") 
        | homepage
    // IE requires 512+ bytes: http://www.404-error-page.com/404-error-page-too-short-problem-microsoft-ie.shtml