doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-container
            .drm-row
                main.drm-col-9.main-content
                    include partials/alerts
                include partials/sidebar

        include partials/footer