doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            .main-content
                include partials/alerts
            include partials/sidebar

        include partials/footer