doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-container
            .drm-row
                main.drm-col-9.main-content
                    h1 Contact Me

                    p My contact info is available on 
                        a(href='http://elizabeth-rogers.com') &nbsp;elizabeth-rogers.com
                include partials/sidebar

        include partials/footer