extends templates/base
block title
    | Contact Me
block pagetitle
    | Contact Me
block content
    p My contact info is available on
        | 
        a(href='http://elizabeth-rogers.com') elizabeth-rogers.com