doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            main
                h1 Contact Me

                p My contact info is available on 
                    a(href='http://elizabeth-rogers.com') &nbsp;elizabeth-rogers.com
            include partials/sidebar

        include partials/footer