doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 JS Utilities&nbsp;
                            i.fa.fa-wrench
                        p These are some pre-defined CSS classes and HTML element default styles I find myself using over and over.
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                                p Some helpful js utility functions
                    include partials/js-utilities/pattern-utilities
                    include partials/js-utilities/array-utilities
                    include partials/js-utilities/dom-manipulation-utilities
                    include partials/js-utilities/data-utilities
                    include partials/js-utilities/time-utilities
                    include partials/js-utilities/sort-utilities
                include partials/sidebar

        include partials/footer