doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 Frequently Asked Questions&nbsp;
                            i.fa.fa-wrench
                        p A collection of reusable, modular Sass and JavaScript components
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                                h2 Can I use ELR Utilities on my website?
                                p.
                                    ELR Utilities is free and open source so feel free to use it on your site.
                                    However, it is still an ongoing project so there are probably still a lot of bugs and documentation is still incomplete.
                include partials/sidebar
        include partials/footer