doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            main
                h1 FAQ

                h2 Can I use DRM Utilities on my website?
                p.
                    DRM Utilities is free and open source so feel free to use it on your site.
                    However, it is still an ongoing project so there are probably still a lot of bugs and documentation is still incomplete.

            include partials/sidebar

        include partials/footer