doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .drm-container
                .drm-row
                    .drm-col-full
                        h1 Get Started&nbsp;
                            i.fa.fa-wrench
                        p How you can use DRM Utiltiies in your own project
        main.main-content.drm-container
            .drm-row
                article.drm-col-9
                    .drm-container
                        .drm-row
                            .drm-col-full
                                h1 Get started with DRM Utilities
                include partials/sidebar
        include partials/footer