doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            main
                include partials/grid
            include partials/sidebar

        include partials/footer