doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            main
                h1 How to Get Started Using DRM Utilities
                p.
                    Jerry: You know the difference between a dentist and a sadist, don't you? Newer magazines? Newman: Well, I wouldn't hear of it. 
                    I said 'Nice try, Granny,' and I sent her to the back of the line. Jerry: I do not like the bank. I've heard the expression 
                    'Laughing all the way to the bank'. I have never seen anyone actually doing it. Elaine: Snapple? Babu's Brother: No, too fruity. 
                    George: I hate asking for change. They always make a face. It's like asking them to donate a kidney. Jerry: Artistic integrity. 
                    Where did you come up with that? You're not artistic and you have no integrity. Kramer: Bookman. The library cop’s name is 
                    Bookman. That’s like an ice cream man being named Cone! George [about a massage]: I feel guilty about getting the pleasure. 
                    Feel like I don't deserve it, so I talk. It stops me from enjoying it.
                p.
                    Kramer: Well, people kept ringing the bell!: Kramer: Jerry, now what you do with your personal life is your business. But when 
                    you're on my set, you clean it up mister. Mr. Ross: It's a terrible tragedy when parents outlive their children. George: Yes, 
                    I agree. I hope my parents go long before I do. By the way, celebrates its second birthday today!, Kramer: I've cut slices so 
                    thin, I couldn't even see them. Elaine: How'd you know you cut it? Kramer: Well, I guess I just assumed.
                p.
                    Mr. Ross: It's a terrible tragedy when parents outlive their children. George: Yes, I agree. I hope my parents go long before I 
                    do. Kramer: Oh, this power! Look what I'm doing! I'm dangerous, Jerry! I'm very very dangerous. Jerry: But are you still master 
                    of your domain.
                p.
                    Elaine: I don't know how you guys walk around with those things. Jerry: I don’t get you. Who goes on vacation without a job? 
                    What, do you need a break from getting up at 11:00! Jerry: Elaine, have you ever gone out with a bald man? Elaine: No. Jerry: 
                    You know what that makes you? A baldist. George: If it wasn't for the toilet, there would be no books. Jerry: Maybe your yogurt 
                    isn't so non-fat. Kramer: Oh, guess again, tubby. Darren: Hi, this is Darren from Kramer’s office. Mr. Kramer would like to 
                    schedule a lunch with you at Monk’s coffee shop. Jerry: Do you really want a shower radio? I guess there's no better place to 
                    dance than a slick surface next to a glass door. George: Jerry! Jerry, I'm trapped under my desk. Steinbrenner's in the room. 
                    You gotta help me! Jerry: Who is this? Jerry: People who read the tabloids deserve to be lied to. Jerry: I don't return fruit. 
                    Fruit is a gamble. I know that going in. Elaine: Snapple? Babu's Brother: No, too fruity. Jerry: Elaine, have you ever gone out 
                    with a bald man? Elaine: No. Jerry: You know what that makes you? A baldist. Jerry: The New York Yankees? George: The New York 
                    Yankees! Jerry: Ruth, Gehrig, DiMaggio, Mantle... Costanza? The Bubble Boy: What are you looking at? You never seen a kid in a 
                    bubble before? Jerry: Maybe your yogurt isn't so non-fat. Kramer: Oh, guess again, tubby! Jerry: Two hundred seats on a plane, 
                    I gotta wind up next to Yukon Jack and his dog Cujo. Elaine: You know, it's not fair people are seated first-come-first-served. 
                    It should be based on who's hungriest. Elaine: I will never understand people. Jerry: They're the worst. Morty Seinfeld: How 
                    could you spend $200 on a tip calculator.
                p.
                    Jackie Chiles: You put the balm on? Who told you to put the balm on? I didn’t tell you to put the balm on. Why’d you put the 
                    balm on. George: I want to be the one person who doesn't die with dignity. I live my whole life in shame. Why should I die with 
                    dignity. Jerry: Dear Barry. Consider this letter to be official termination of our relationship effective immediately. Kramer: 
                    Exclamation point. Mickey: It's 100% cotton, and some wool! Kramer: Yeah, I eat the whole apple. The core, stem, seeds, 
                    everything. Jerry: Why would anybody want a friend? Kramer: Karate. It's a lifetime pursuit of balance and harmony. Jerry: 
                    But with punching and kicking. Jerry: A bookstore is one of the only pieces of evidence we have that people are still thinking. 
                    George: You know, if you take everything I've done in my entire life and condense it down into one day, it looks decent. Puddy: 
                    I painted my face. Elaine: You painted your face? Puddy: Yeah. Elaine: Why? Puddy: Well, you know, support the team. Sheila: 
                    You're a shmoopy. Jerry: You're a shmoopy. George: From where I was standing I could see directly into the eye of the great fish. 
                    Jerry: Mammal. George: Whatever. George: I don't trust men in capes. George: Believe me, baldness will catch on. When the aliens 
                    come, who do you think they’re gonna relate to. Jerry: If the cops arrest a mime, do they tell him he has the right to remain 
                    silent. Jerry: They're ladies glasses. All you need is that little chain around your neck so you can wear them while you're 
                    playing Canasta. The Bubble Boy: What are you looking at? You never seen a kid in a bubble before.
                p.
                    George [on Elaine's dancing style]: It's more like a full-body dry heave set to music. George: Bald men with no jobs and no 
                    money who live with their parents don't approach strange women. Kramer: Karate. It's a lifetime pursuit of balance and harmony. 
                    Jerry: But with punching and kicking. Man on beach: Is anyone here a marine biologist? Jerry [about Kramer]: The last thing this 
                    guy's qualified to give a tour of is reality? Thank you, we were waiting for that. Jerry: I do not like the bank. I've heard 
                    the expression 'Laughing all the way to the bank'. I have never seen anyone actually doing it?
                p.
                    Jerry: If the cops arrest a mime, do they tell him he has the right to remain silent. George: My father was a quitter, my 
                    grandfather was a quitter, I was raised to give up. It's one of the few things I do well. George: I can't carry a pen. I'm 
                    afraid I'll puncture my scrotum? Mr. Peterman: I’m afraid it’s your urine, Elaine. You’ve tested positive for opium…White Lotus. 
                    Yam-yam. Shanghai Sally. George: I don't think I've ever been to an appointment in my life where I wanted the other guy to 
                    show up. ; Jerry: They’d pick her up in about ten minutes. George [on Elaine's dancing style]: It's more like a full-body dry 
                    heave set to music. Jerry: Hello, Newman. Newman: It's so great to see a show that's about something. George: My father was a 
                    quitter, my grandfather was a quitter, I was raised to give up. It's one of the few things I do well? Timmy: Did you just 
                    double-dip that chip?; Sidra: And by the way, they're real and they're spectacular. Jerry: Why would anybody want a friend? 
                    Kenny Banya [reading]: Why do they call it Ovaltine? The mug is round. The jar is round. They should call it Roundtine?
                p.
                    George: Have you seen the new addition to the Guggenheim? Lois: You did that? George: Yep. And it didn’t take very long either. 
                    Jerry: There's too much urinary freedom in this society. I'm proud to hold it in. It builds character. Man on beach: Is anyone 
                    here a marine biologist? George: I'm speechless. Speechless! I have no speech. Kramer: Yamahama, it's fright night! Puddy: I 
                    painted my face. Elaine: You painted your face? Puddy: Yeah. Elaine: Why? Puddy: Well, you know, support the team. Jerry: 
                    Looking at cleavage is like looking at the sun. You don't stare at it. You get a sense of it and you look away. bit.ly/9p1mxj. 
                    George: Why would we want to help somebody? That's what nuns and Red Cross workers are for. Elaine: Perhaps, there's more to 
                    Newman than meets the eye. Jerry: No. there's less."
                p.
                    George: I know the D is the biggest. I've based my whole life on knowing that the D is the biggest. Newman: Jerry, I’m a little 
                    offended. Jerry: You’re not a little anything, Newman. Newman: It's so great to see a show that's about something. Kramer: Oh, 
                    I'm looking right at you, big daddy? George [visiting a mental institution]: I should be in a place like this. Jerry: You're 
                    going on Regis &amp; Kathy Lee? I'll loan you my puffy shirt. George: I don't have a spare set. All my keys say 'do not duplicate'. 
                    George: You could do your taxes in the time it takes me to have an orgasm. George: Bald men with no jobs and no money who live 
                    with their parents don’t approach strange women. George: She's got a little Marissa Tomei thing goin' on. Jerry: Ah, too bad 
                    you've got a little George Costanza thing goin' on.
                p.
                    Jerry: And you want to be my latex salesman? George: Who buys an umbrella anyway? You can get them for free at the coffee shop 
                    in those metal cans." George: I don't have a spare set. All my keys say 'do not duplicate'. Timmy: Did you just double-dip that 
                    chip? Jerry: People with guns don't understand. That's why they get guns. Too many misunderstandings. Jerry: I don't like the 
                    opera. What are they singing for? Who sings? You got something to say, say it? Latvian orthodox: What aspect of the faith do 
                    you find particularly attractive? George: I think the hats.
                    
            include partials/sidebar

        include partials/footer