doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 ELR Utilities&nbsp;
                            i.fa.fa-wrench
                        p A collection of reusable, modular Sass and JavaScript components
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                                h1 How to Get Started Using ELR Utilities
                                p.
                                    ELR Utilities is a framework of Sass Mixins and JavaScript Components designed to speed up 
                                    and streamline the development process.
                                p.
                                    Unlike most front-end frameworks, ELR Utilities uses Sass Mixins instead of plain CSS.  This allows for less overhead since you 
                                    only generate CSS for the styles you actually use.
                                p.
                                    It is very simple to get started, but I should note that this is a work in progress so it is 
                                    updated frequently and there will be bugs.  While this code is available for anyone to use it 
                                    was created as an internal project for Dynamic Response Media and is tailored to our projects.  
                                    It may or may not suit your projects.  However, you are welcome to customize for your needs.
                                p.
                                    I welcome any constructive feedback on GitHub and if you find any bugs or have any suggestions 
                                    please let me know.
                                
                                p The ELR Utilities Code is available at GitHub at 
                                    a(href="https://github.com/elr-utilities") ELR Utilities
                include partials/sidebar
        include partials/footer