doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-container
            .drm-row
                main.drm-col-9.main-content
                    .drm-container
                        .drm-row
                            .drm-col-full
                                h1 How to Get Started Using DRM Utilities
                                p. DRM Utilities is a framework of Sass Utilities and JavaScript Components designed to speed up and streamline the development process.
                                p. It is very simple to get started, but I should note that this is a work in progress so it is updated frequently and there will be bugs.  While this
                                    code is available for anyone to use it was created as an internal project for Dynamic Response Media and is tailored to our projects.  
                                    It may or may not suit your projects.  However, you are welcome to customize for your needs.
                                p. I welcome any constructive feedback on GitHub and if you find any bugs or have any suggestions please let me know.
                                
                                p The DRM Utilities Code is available at GitHub at 
                                    a(href="https://github.com/drm-utilities") DRM Utilities
                        
                include partials/sidebar

        include partials/footer