extends templates/base
block vars
    - var tech = 'javascript'
block title
    | JavaScript Components
block pagetitle
    | JavaScript Components
block subtitle
    | Interactive JavaScript components
block content
    ul
        li: a(href="js-accordion.html") Accordion
        li: a(href="js-alerts.html") Alerts
        li: a(href="js-back-to-top.html") Back to Top
        //- li: a(href="js-calendar.html") Calendar
        li: a(href="js-dropdown-buttons.html") Dropdown Buttons
        li: a(href="js-dropdown-navigation.html") Dropdown Navigation
        li: a(href="js-flexible-grid.html") Flexible Grid
        li: a(href="js-form-controls.html") Form Controls
        li: a(href="js-lightbox.html") Lightbox
        li: a(href="js-modal.html") Modal
        li: a(href="js-offscreen-menu.html") Offscreen Menu
        li: a(href="js-passwords.html") Passwords
        li: a(href="js-popover.html") Popover
        li: a(href="js-simple-slider.html") Simple Slider
        li: a(href="js-sort.html") Sort
        li: a(href="js-sticky-nav.html") Sticky Nav
        li: a(href="js-sticky-sidebar.html") Sticky Sidebar
        li: a(href="js-tablesorter.html") Tablesorter
        li: a(href="js-tabs.html") Tabs
        //- li: a(href="js-timestamps.html") Timestamps
        li: a(href="js-validation.html") Validation