doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 JavaScript&nbsp;
                            i.fa.fa-wrench
                        p A collection of reusable, modular Sass and JavaScript components
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                    include partials/javascript-demo/accordion
                    include partials/javascript-demo/ajax
                    include partials/javascript-demo/alerts
                    include partials/javascript-demo/back-to-top
                    include partials/javascript-demo/calendar
                    include partials/javascript-demo/carousel
                    include partials/javascript-demo/countdown
                    include partials/javascript-demo/datepicker
                    include partials/javascript-demo/dropdown-buttons
                    include partials/javascript-demo/dropdown
                    include partials/javascript-demo/file-uploads
                    include partials/javascript-demo/fixed
                    include partials/javascript-demo/flexible-grid
                    include partials/javascript-demo/flexible-images
                    include partials/javascript-demo/form-controls
                    include partials/javascript-demo/lightbox
                    include partials/javascript-demo/maps
                    include partials/javascript-demo/modal
                    include partials/javascript-demo/offscreen-menu
                    include partials/javascript-demo/passwords
                    include partials/javascript-demo/popover
                    include partials/javascript-demo/ratings
                    include partials/javascript-demo/reorder
                    include partials/javascript-demo/simple-slider
                    include partials/javascript-demo/sort
                    include partials/javascript-demo/spreadsheet
                    include partials/javascript-demo/tablesorter
                    include partials/javascript-demo/tabs
                    include partials/javascript-demo/timestamps
                    include partials/javascript-demo/tooltips
                    include partials/javascript-demo/typeahead
                    include partials/javascript-demo/typeflow
                    include partials/javascript-demo/validation
                include partials/sidebar

        include partials/footer