extends templates/base
block vars
    - var tech = 'javascript'
block title
    | JavaScript Dropdown Buttons
block pagetitle
    | JavaScript Dropdown Buttons
block subtitle
    | Interactive JavaScript components
block content
    include partials/js-forms/dropdown-buttons