doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .drm-wrapper
            main.main-content
                include partials/resize-image-holder
            include partials/sidebar

        include partials/footer