doctype html
html.no-js(lang="en")
    include partials/head
    body
        .wrapper
            section.sass
                h1 DRM Sass Utilities
                include partials/sass-utilities-list
        include partials/footer