extends templates/base
block title
    | Sass Flex
block pagetitle
    | Sass Flex
block subtitle
    | Sass mixins for common page elements
block content
    //- include partials/sass-flex/flex
    include partials/sass-flex/flex-grid