doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .elr-container
                .elr-row
                    .elr-col-full
                        h1 Sass Components&nbsp;
                            i.fa.fa-wrench
                        p A collection of reusable, modular Sass and JavaScript components
        main.main-content.elr-container
            .elr-row
                article.elr-col-9
                    .elr-container
                        .elr-row
                            .elr-col-full
                    include partials/components-demo/buttons
                    include partials/components-demo/cards
                    include partials/components-demo/comments
                    include partials/components-demo/content-blocks
                    include partials/components-demo/context-boxes
                    include partials/components-demo/context-buttons
                    include partials/components-demo/headings
                    include partials/components-demo/labels
                    include partials/components-demo/navbars
                    include partials/components-demo/navigation
                    include partials/components-demo/pagination
                    include partials/components-demo/preloaders
                    include partials/components-demo/pricing-tables
                    include partials/components-demo/progress-meters
                    include partials/components-demo/steps
                    include partials/components-demo/videos
                include partials/sidebar

        include partials/footer