doctype html
html.no-js(lang="en")
    include partials/head
    body
        include partials/header
        .hero-unit
            .drm-container
                .drm-row
                    .drm-col-full
                        h1 Pricing Tables&nbsp;
                            i.fa.fa-wrench
                        p These are some pre-defined CSS classes and HTML element default styles I find myself using over and over.
        main.main-content.drm-container
            .drm-row
                article.drm-col-9
                    .drm-container
                        .drm-row
                            .drm-col-full
                                p To include it in your project add the following line to your main stylesheet
                                pre @include drm-helper-classes();
                    include partials/components-demo/pricing-tables
                include partials/sidebar

        include partials/footer