doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .wrapper
            main.main-content
                include partials/spreadsheet
            include partials/sidebar

        include partials/footer