doctype html
html.no-js(lang="en")

    include partials/head

    body
        include partials/header
        .wrapper
            .main-content
                include partials/sticky-nav
            include partials/sidebar

        include partials/footer