.card {
    @include elr-card(lighten($link-color, 40%), $link-color, null, 20px, 20px);
    
    .elr-card-thumbnail img {
        float: right;
    }
}

.card-border {
    @include elr-card(white, $link-color, $light-grey, 20px, 20px, 5px);
    
    .elr-card-thumbnail img {
        float: right;
    }
}

.card-border {
    border: 1px solid $light-grey;
    background-color: white;
}