/*-----------------------------------------------------------------------------
    Circles Styles
-----------------------------------------------------------------------------*/

.circle {
    margin-top: 20px;
    background-color: $main-color;
    @include drm-circle(200px);
}

.ellipse {
    margin-top: 20px;
    background-color: $main-color;
    @include drm-ellipse(200px, 150px);
}

.ellipse-tall {
    margin-top: 20px;
    background-color: $main-color;
    @include drm-ellipse(150px, 200px);
}