// Circles Styles

.circle {
    margin-top: 20px;
    background-color: $main-color;
    @include elr-circle(200px);
}

.ellipse {
    margin-top: 20px;
    background-color: $main-color;
    @include elr-ellipse(200px, 150px);
}

.ellipse-tall {
    margin-top: 20px;
    background-color: $main-color;
    @include elr-ellipse(150px, 200px);
}