.context-box-info {
    @include elr-context-box(info, 3px);

    p {
        padding: 10px 0;
    }
}

.context-box-success {
    @include elr-context-box(success, 3px);

    p {
        padding: 10px 0;
    }
}

.context-box-danger {
    @include elr-context-box(danger, 3px);

    p {
        padding: 10px 0;
    }
}

.context-box-warning {
    @include elr-context-box(warning, 3px);

    p {
        padding: 10px 0;
    }
}

.context-box-muted {
    @include elr-context-box(muted, 3px);

    p {
        padding: 10px 0;
    }
}

.custom-context-box {
    @include elr-context-box(custom, 3px, coral, 100%);

    p {
        padding: 10px 0;
    }
}