/*-----------------------------------------------------------------------------
    Grid Examples
-----------------------------------------------------------------------------*/

.example-col {
    background-color: $drm-blue;
    text-align: center;
    padding: 0;
    display: block;
    border-radius: 3px;
    color: white;
    margin-bottom: 20px;
}

.example-col-nested {
    background-color: white;
    text-align: center;
    padding: 0;
    display: block;
    border-radius: 3px;
    color: #333;
    margin: 20px 0;

    @include drm-breakpoint(jupiter) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.grids-examples .drm-row {

    .drm-row + .drm-row .example-col-nested {
        margin-top: 0;
    }
}