/*-----------------------------------------------------------------------------
    Effects Utilities Examples
-----------------------------------------------------------------------------*/

.solid-drop-shadow {
	margin: 20px;
	padding: 20px;
	background-color: white;
	@include box-sizing(border-box);
	@include drm-solid-drop-shadow(#999);
}

.background-transparent {
	margin: 20px;
	padding: 20px;
	border: 1px solid $drm-blue;
	color: white;
	@include box-sizing(border-box);
	@include drm-background-transparent($drm-blue, 0.5);
}

.border-transparent {
	margin: 20px;
	padding: 20px;
	background-color: white;
	@include box-sizing(border-box);
	@include drm-border-transparent($dark-pink);
}

.stitched-box {
	margin: 20px;
	padding: 20px;
	color: white;
	@include box-sizing(border-box);
	@include drm-stitched-box($drm-blue);
}

.stitched-row {
	padding: 20px;
	margin: 20px 2px 20px 2px;
	color: white;
	@include box-sizing(border-box);
	@include drm-stitched-row($dark-pink);
}

.stitched-row-transparent {
	padding: 20px;
	margin: 20px 3px 20px 3px;
	color: white;
	@include drm-stitched-row($drm-blue, white, #333, .5, transparent);
}

.stitched-row-shadow {
	padding: 20px;
	margin: 20px 4px 20px 4px;
	color: white;
	@include drm-stitched-row($dark-pink, white, #999, 1, #333);
}

.figure-border {
	margin: 20px;
	padding: 20px;
	background-color: white;
	position: relative;
	z-index: 100;
	border: 1px solid $grey;
	@include box-sizing(border-box);

	figure {
		@extend %drm-center-block;
		@extend %drm-reset-box;
		width: 560px;
		height: 373px;
		@include drm-figure-transparent-border($dark-pink, $drm-blue, 10px);

		img {
			@extend %drm-reset-box;
			width: 560px;
			height: 373px;
		}
	}
}

.triple-shadow {
	margin: 20px;
	padding: 20px;
	background-color: white;
	@include drm-triple-shadow($dark-aqua, $dark-pink);
}

.inset-text {
	margin: 20px;
	padding: 20px;
	background-color: $drm-blue;
	border: 1px solid $dark-aqua;
	@include drm-inset-text($off-white);
}

.inset-border {
	margin: 20px;
	padding: 20px;
	color: $dark-grey;
	background-color: $drm-blue;
	border: 1px solid $dark-aqua;
	@include drm-inset-text($off-white);

	ul {
		padding: 20px;	
	}

	li {
		list-style: none;
		padding: 5px;
		@include drm-inset-border($dark-aqua, lighten($dark-aqua, 40%));
	}
}

.inset-box {
	margin: 20px;
	padding: 20px;
	background-color: $drm-blue;
	border: 1px solid $grey;
	@include drm-inset-box($off-white);
}

.boxy-drop-shadow {
	margin: 20px;
	padding: 20px;
	background-color: $drm-blue;
	border: 1px solid $dark-grey;
	@include drm-boxy-drop-shadow();
}