/*-----------------------------------------------------------------------------
    JavaScript Examples
-----------------------------------------------------------------------------*/

.drm-accordion {
    max-width: 800px;
    @include drm-accordion($drm-blue, 5px);
}

.back-to-top {
    @include drm-back-to-top();
}

.drm-back-to-top-content {
    padding: 0;
    margin: 0;
}

.drm-dropdown-nav {
    margin-bottom: 200px;
    @include drm-dropdown-nav(white, $drm-blue, white);
}

.drm-dropdown-solid-btn-holder {
    margin: 20px 10px 20px 10px;
    float: left;
    @include drm-dropdown-button-solid($drm-blue, white, 200px, $drm-blue, 3px);
}

.drm-dropdown-split-btn-holder {
    margin: 20px 10px 20px 10px;
    float: left;
    @include drm-dropdown-button-split($drm-blue, white, 3px, $drm-blue, $light-grey);
}

.drm-lightbox-thumbnails {
    @include drm-thumbnail-list();
}

.drm-blackout {
    @include drm-lightbox-slideshow();
}

.drm-modal-demo-buttons {
    margin: 10px auto 10px auto;
    width: 350px;
    @include drm-button-group($drm-blue, white, 3px, $drm-blue);
}

.drm-modal-lightbox {
    display: none;
    @include drm-modals();
}

.popover-holder {
    float: left;
    position: relative;

    button {
        margin: 5px;    
        @include drm-button-solid($drm-blue, white, 200px, null, 3px, $drm-blue, inline-block); 
    }
}

.drm-popover-bottom {
    @include drm-popover(bottom);
}

.drm-popover-top {
    @include drm-popover(top);
}

.drm-popover-left {
    @include drm-popover(left);
}

.drm-popover-right {
    @include drm-popover(right);
}

.drm-content-holder {
    @extend %drm-center-block;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    @include drm-clearfix();
}

.drm-offscreen-menu {
    @include drm-offscreen-menu($link-color, 20%);  
}

.drm-menu-button {
    border: none;
    background-color: $dark-grey;
    color: white;
    padding: 5px 10px 5px 10px;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: $dark-grey;
    }
}

.drm-offscreen-nav {
    width: 100%;
    padding: 10px;
    background-color: $dark-grey;
    box-sizing: border-box;
}

.drm-offscreen-content {
    width: 80%;
    position: relative;
    left: 20%;
    box-sizing: border-box;

    p {     
        padding: 10px 20px 10px 20px;
    }
}

.drm-simple-slider {
    @include drm-simple-slider;
}

.drm-simple-slider-2 {
    @include drm-simple-slider;
}

.drm-sticky-nav {
    &.sticky-top {
        @include drm-sticky-menu('top');          
    }

    ul {
        @include drm-nav-bar-pills;
    }   
}

.drm-sticky-sidebar {
    @extend %drm-reset-box;
    width: 25%;
    float: left;
    box-sizing: border-box;

    &.sticky-left {
        box-sizing: border-box;
        @include drm-sticky-menu('left');

        @include drm-breakpoint(trenta) {            
            width: 250px;
        }
        
        @include drm-breakpoint(venti) {
            width: 200px;
        }
    }

    ul {
        @include drm-nav-bar-pills-solid-stacked(white, $drm-blue, left, $drm-blue);
    }
}

.sticky-sidebar-content {
    @extend %drm-reset-box;
    width: 75%;
    padding: 0 1% 0 2%;
    float: right;
    box-sizing: border-box;

    section:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.drm-tab-holder {
    border: 1px solid $light-grey;
    border-radius: 0 5px 5px 5px;

    img {
        float: left;
        margin: 20px 20px 0 0;
        @include drm-thumbnail(white, 200px, 175px);
    }

    section {
        display: none;
    }

    &:first-child {
        display: block;
    }
}

.drm-tab-list {
    @extend %drm-reset-box;
    width: 100%;
    position: relative;
    top: 1px;

    ul {
        @extend %drm-reset-box;
        @include drm-clearfix();

        li {
            padding: 0;
            margin: 0 2px 0 0;
            list-style: none;
            display: block;
            float: left;
            box-sizing: border-box;

            &:last-child {
                margin-right: 0;
            }

            a {
                padding: 5px 15px 5px 15px;
                width: 100%;
                text-align: left;
                display: block;
                text-decoration: none;
                box-sizing: border-box;
                transition: all, .3s;
                border: 1px solid $drm-blue;
                border-bottom-color: $light-grey;
                border-radius: 5px 5px 0 0;
                color: white;
                background-color: $drm-blue;
                @include drm-em-font(14);

                &.active {
                    color: $drm-blue;
                    border-color: $light-grey;
                    transition: all, .3s;
                    border-bottom-color: white;

                    &:hover, &:focus {
                        border-bottom-color: white;
                    }

                    &:visited {
                        color: $drm-blue;
                        background-color: white;
                    }
                }

                &:visited {
                    color: white;
                    background-color: $drm-blue;
                }

                &.text-disabled {
                    color: $light-grey;
                    cursor: not-allowed;
                }

                &:hover, &:focus {
                    color: $drm-blue;
                    background-color: white;
                    border-color: $light-grey;
                    transition: all, .3s;
                } 
            }   
        }
    }
}

span.drm-has-tooltip {
    text-decoration: underline;
    color: $drm-blue;

    &:hover {
        cursor: pointer;
    }
}

.drm-tooltip-left {
    @include drm-tooltip(left, $dark-grey, white, 100px);
}

.drm-tooltip-right {
    @include drm-tooltip(right, $dark-grey, white, 100px);
}

.drm-tooltip-top {
    @include drm-tooltip(top, $dark-grey, white, 100px);
}

.drm-tooltip-bottom {
    @include drm-tooltip(bottom, $dark-grey, white, 100px);
}