/*-----------------------------------------------------------------------------
    Navigation Utilities Examples
-----------------------------------------------------------------------------*/

.nav-bar {
	margin: 10px;
	@include drm-nav-bar;
}

.nav-bar-stacked {
	@include drm-nav-bar-stacked;
}

.nav-bar-solid {
	margin: 10px;
	@include drm-nav-bar-solid;
}

.nav-bar-solid-stacked {
	width: 300px;
	@include drm-nav-bar-solid-stacked;
}

.nav-bar-pills {
	margin: 10px;
	@include drm-nav-bar-pills;
}

.nav-bar-pills-stacked {
	width: 300px;
	@include drm-nav-bar-pills-stacked;
}

.nav-bar-pills-solid {
	margin: 10px;
	@include drm-nav-bar-pills-solid;
}

.nav-bar-pills-solid-stacked {
	width: 300px;
	@include drm-nav-bar-pills-solid-stacked;
}

.button-link {
	@include drm-button-link($drm-blue, white, 80%, left, 0, white, block);
}

.button-link-radius {
	@include drm-button-link($drm-blue, white, 80%, left, 3px, white, block);
}

.button-solid {
	@include drm-button-solid($drm-blue, white, 80%, left, 0, $drm-blue, block);
}

.button-solid-radius {
	@include drm-button-solid($drm-blue, white, 80%, left, 3px, $drm-blue, block);
}

.button-rectangle {
	@include drm-rectangle-button($drm-blue, white, 0, 80%, left, block);
}

.button-rectangle-radius {
	@include drm-rectangle-button($drm-blue, white, 3px, 80%, left, block);
}

.pill-button-link {
	@include drm-pill-button-link(50px, $drm-blue, white, 80%, left, $drm-blue, block);
}

.pill-button-solid {
	@include drm-pill-button-solid(50px, $drm-blue, white, 80%, left, $drm-blue, block);
}

.button-group {
	@include drm-button-group(white, $drm-blue, 3px, $drm-blue);

	button {
		@include drm-em-font(14);
	}
}