/*-----------------------------------------------------------------------------
    Page Elements Utilities Examples
-----------------------------------------------------------------------------*/

.rounded-heading {
    width: 400px;
    margin-bottom: 10px;
    @include drm-rounded-heading;
}

.pill-heading {
    width: 400px;
    margin-bottom: 10px;
    @include drm-pill-heading;
}

.ribbon-heading {
    width: 400px;
    margin: 30px 0;
    @include drm-ribbon-heading($main-color, $background-color, $background-color, 20);
}

.unstyled-list-left {
    @include drm-unstyled-list(left);
}

.unstyled-list-center {
    @include drm-unstyled-list(center);
}

.unstyled-list-right {
    @include drm-unstyled-list(right);
}

.border-list-left {
    @include drm-border-list(left);
}

.border-list-center {
    @include drm-border-list(center, $main-color);
}

.border-list-right {
    @include drm-border-list(right, green);
}

.inline-list {
    @include drm-inline-list;
}

.breadcrumbs {
    @include drm-breadcrumbs;
}

.bullet-list {
    @include drm-bullet-list;
}

.context-box {
    @include drm-context-box(info, 3px);
}

.custom-context-box {
    @include drm-context-box(custom, 3px, coral, 100%);
}

.label-info {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(info);
}

.label-danger {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(danger);
}

.label-warning {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(warning);
}

.label-success {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(success);
}

.label-muted {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(muted);
}

.label-custom {
    margin-bottom: 5px;
    @include drm-em-font(12);
    @include drm-label(custom, 5px, coral);
}

.pagination-bar {
    @include drm-pagination-bar;
}

.dark-pagination-bar {
    @include drm-pagination-bar($text-color, 5px, $text-color, $background-color);
}