/*-----------------------------------------------------------------------------
    JavaScript Examples
-----------------------------------------------------------------------------*/

.drm-accordion {
    max-width: 800px;
    @include drm-accordion($drm-blue, 5px);
}

.back-to-top {
    @include drm-back-to-top();
}

.drm-back-to-top-content {
    padding: 0;
    margin: 0;
}

@include drm-calendar();

.drm-dropdown-nav {
    margin-bottom: 200px;
    @include drm-dropdown-nav(white, $drm-blue, white);
}

.drm-dropdown-solid-btn-holder {
    margin: 20px 0;
    @include drm-dropdown-button-solid($drm-blue, white, 200px, $drm-blue, 3px);

    button {
        @include drm-em-font(14);
    }
}

.drm-dropdown-split-btn-holder {
    margin: 20px 0;
    @include drm-dropdown-button-split($drm-blue, white, 3px, $drm-blue, $light-grey, 200px);

    button {
        @include drm-em-font(14);
    }
}

.drm-lightbox-thumbnails {
    @include drm-thumbnail-list();
}

.drm-blackout {
    @include drm-lightbox-slideshow();
}

.drm-modal-demo-buttons {
    margin: 10px auto 10px auto;
    width: 350px;
    @include drm-button-group($drm-blue, white, 3px, $drm-blue);
}

.drm-modal-lightbox {
    display: none;
    @include drm-modals();
}

.popover-holder {
    float: left;
    position: relative;

    button {
        margin: 5px;    
        @include drm-button-solid($drm-blue, white, 200px, null, 3px, $drm-blue, inline-block); 
    }
}

.drm-popover-bottom {
    @include drm-popover(bottom);
}

.drm-popover-top {
    @include drm-popover(top);
}

.drm-popover-left {
    @include drm-popover(left);
}

.drm-popover-right {
    @include drm-popover(right);
}

.drm-content-holder {
    width: 95%;
    margin: 2px auto;
    position: relative;
    background-color: white;
    overflow: hidden;
    border: 1px solid $light-grey;
    @include drm-clearfix();
}

.drm-offscreen-menu {
    @include drm-offscreen-menu($link-color, 20%);  
}

.drm-menu-button {
    border: none;
    background-color: $dark-grey;
    color: white;
    padding: 5px 10px 5px 10px;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: $dark-grey;
    }
}

.drm-offscreen-nav {
    width: 100%;
    padding: 10px;
    background-color: $dark-grey;
}

.drm-offscreen-content {
    width: 80%;
    position: relative;
    left: 20%;

    p {     
        padding: 10px 20px 10px 20px;
    }
}

.drm-simple-slider {
    @include drm-simple-slider;
}

.drm-simple-slider-2 {
    @include drm-simple-slider;
}

.drm-sticky-nav {
    &.sticky-top {
        @include drm-sticky-menu('top');          
    }

    ul {
        @include drm-nav-bar-pills;
    }   
}

.drm-sticky-sidebar {
    padding: 0;
    margin: 0;
    width: 25%;
    float: left;

    &.sticky-left {
        @include drm-sticky-menu('left');

        @include drm-breakpoint(mercury) {            
            width: 250px;
        }
        
        @include drm-breakpoint(venus) {
            width: 200px;
        }
    }

    ul {
        @include drm-nav-bar-pills-solid-stacked(white, $drm-blue, left, $drm-blue);
    }
}

.sticky-sidebar-content {
    margin: 0;
    width: 75%;
    padding: 0 1% 0 2%;
    float: right;

    section:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.drm-tab-holder {
    @include drm-tabbed-content();
}

.drm-tab-list {
    @include drm-tab-list();
}

span.drm-has-tooltip {
    text-decoration: underline;
    color: $drm-blue;

    &:hover {
        cursor: pointer;
    }
}

.drm-tooltip-left {
    @include drm-tooltip(left, $dark-grey, white, 100px);
}

.drm-tooltip-right {
    @include drm-tooltip(right, $dark-grey, white, 100px);
}

.drm-tooltip-top {
    @include drm-tooltip(top, $dark-grey, white, 100px);
}

.drm-tooltip-bottom {
    @include drm-tooltip(bottom, $dark-grey, white, 100px);
}

.drm-sortable-table {
    @include drm-table-rounded(white, $dark-grey, $link-color, $light-grey, $lightest-grey);
}

.drm-flexible-grid {
    @include drm-flexible-grid(4, true);
}

.drm-select {
    @include drm-select-control(200px);
}