// Helper Classes Utilities Examples

.float-boxes {
    @include elr-clearfix;
	background-color: $background-color;
}

.box {
    @include elr-square(200px);
	background-color: lighten($main-color, 20%);
	border: 1px solid $main-color;
	text-align: center;
	color: $background-color;
}

.typography-classes {
	background-color: $background-color;
}

.responsive-demo {
    border: 1px solid $elr-blue;
    padding: 10px;
    margin: 20px 0 0 0;
    background-color: $elr-blue-light;
    border-radius: 5px;

    p {
        @include elr-em-font(14);
        padding: 0;
        font-weight: 700;
    }
}