// Grid Examples

.example-col {
    background-color: white;
    text-align: center;
    padding: 0;
    display: block;
    border: 1px solid $main-color;
    color: $main-color;
    border-collapse: collapse;

    p {
        padding: 10px;
    }
}

.example-col-nested {
    text-align: center;
    padding: 0;
    display: block;
    color: $text-color;
    border: 1px solid $main-color;

    p {
        padding: 10px;
    }
}

.grids-examples .elr-row {

    .elr-row + .elr-row .example-col-nested {
        margin-top: 0;
    }
}