// Page Elements Utilities Examples

.rounded-heading {
    width: 400px;
    margin-bottom: 10px;
    @include elr-rounded-heading;
}

.pill-heading {
    width: 400px;
    margin-bottom: 10px;
    @include elr-pill-heading;
}

.ribbon-heading {
    width: 400px;
    margin: 30px 0;
    @include elr-ribbon-heading($main-color, $background-color, $background-color, 20);
}

.unstyled-list-left {
    @include elr-unstyled-list(left);
}

.unstyled-list-center {
    @include elr-unstyled-list(center);
}

.unstyled-list-right {
    @include elr-unstyled-list(right);
}

.border-list-left {
    @include elr-border-list(left);
}

.border-list-center {
    @include elr-border-list(center, $main-color);
}

.border-list-right {
    @include elr-border-list(right, green);
}

.inline-list {
    @include elr-inline-list;
}

.breadcrumbs {
    @include elr-breadcrumbs;
}

.bullet-list {
    @include elr-bullet-list;
}

.context-box {
    @include elr-context-box(info, 3px);
}

.custom-context-box {
    @include elr-context-box(custom, 3px, coral, 100%);
}

.label-info {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(info);
}

.label-danger {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(danger);
}

.label-warning {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(warning);
}

.label-success {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(success);
}

.label-muted {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(muted);
}

.label-custom {
    margin-bottom: 5px;
    @include elr-em-font(12);
    @include elr-label(custom, 5px, coral);
}

.pagination-bar {
    @include elr-pagination-bar;
}

.dark-pagination-bar {
    @include elr-pagination-bar($text-color, 5px, $text-color, $background-color);
}