// Effects Utilities Examples

.triple-shadow {
	@include elr-triple-shadow($main-color, lighten($main-color, 20%));
	margin: 12px;
	padding: 20px;
	background-color: $background-color;
}

.inset-text {
	@include elr-inset-text($shadow-color);
	margin: 0;
	padding: 20px;
	background-color: lighten($accent-color, 30%);
}

.inset-border {
	@include elr-inset-text($shadow-color);
	margin: 0;
	padding: 20px;
	color: $accent-color;
	background-color: lighten($accent-color, 30%);

	ul {
		padding: 20px;	
	}

	li {
		@include elr-inset-border($accent-color, lighten($accent-color, 40%));
		list-style: none;
		padding: 5px;

		&:last-child {
			padding-bottom: 5px;
		}
	}
}

.inset-box-holder {
    @include elr-clearfix();
	background-color: $light-grey;
    margin: 20px auto;
}

.inset-box {
	@include elr-inset-box($shadow-color);
	margin: 20px;
	padding: 20px;
	background-color: lighten($accent-color, 30%);
	border: 1px solid $grey;
}

.boxy-drop-shadow {
	@include elr-boxy-drop-shadow();
	margin: 0;
	padding: 20px;
	color: $background-color;
	background-color: $main-color;
	border: 1px solid $text-color;
}

.softer-thick-box-shadow {
	@include elr-softer-thick-box-shadow();
	margin: 0;
	padding: 20px;
	color: $background-color;
	background-color: $main-color;
	border: 1px solid $text-color;
}

.elr-thumbnail {
	@include elr-thumbnail($background-color, 150px, 125px, 0);
}

.rounded-thumbnail {
	@include elr-thumbnail($background-color, 150px, 125px, 5px);
}

.round-thumbnail {
	@include elr-thumbnail($background-color, 150px, null, round);
}