/*-----------------------------------------------------------------------------
    General Styles
-----------------------------------------------------------------------------*/

// include drm-helper-classes

@include drm-helper-classes();

// include drm-grid

@include drm-grid();

.drm-button {
    margin-top: 10px;
    margin-bottom: 10px;
    @include drm-em-font(14);
	@include drm-button-solid($main-color, $background-color, 200px, left, 3px, $main-color);
}

.drm-button-inline {
	@include drm-button-solid($main-color, $background-color, 200px, null, 3px, $main-color, inline-block);
}

.options-list {
	@include drm-em-font(14);
}

.copyright {
    text-align: center;
    @include drm-em-font(12);
}