// General Styles

// include elr-helper-classes

@include elr-helper-classes();

// include elr-grid

@include elr-grid();

.elr-button {
    margin-top: 10px;
    margin-bottom: 10px;
    @include elr-em-font(14);
	@include elr-button-solid($main-color, $background-color, 200px, left, 3px, $main-color);
}

.elr-button-inline {
	@include elr-button-solid($main-color, $background-color, 200px, null, 3px, $main-color, inline-block);
}

.options-list {
	@include elr-em-font(14);
}

.copyright {
    text-align: center;
    @include elr-em-font(12);
}