/*-----------------------------------------------------------------------------
    Header
-----------------------------------------------------------------------------*/

header {
    nav {
        @extend %drm-container-full-width;
        padding-top: 10px;
        padding-bottom: 10px;

        ul.drm-dropdown-nav {
            float: right;
            margin: 10px;

            li {
                margin: 0 5px 0 0;

                ul {
                    margin-top: 5px;
                    background-color: transparent;
                    border: 1px solid #ccc;
                    border-radius: 3px;

                    li {
                        margin: 0;
                        background-color: transparent;

                        &:first-child a {
                            border-radius: 3px 3px 0 0;
                        }

                        &:last-child a {
                            border-radius: 0 0 3px 3px;
                        }
                    }

                    a {
                        border-radius: 0;
                        background-color: white;
                        color: $drm-blue;

                        &:hover {
                            background-color: $drm-blue;
                            color: white;

                            &:visited {
                                color: white;
                            }
                        }

                        &:visited {
                            color: $drm-blue;
                        }
                    }
                }
            }

            a {
                background-color: white;
                color: $drm-blue;
                margin: 0;
                border-radius: 3px;

                &:hover {
                    background-color: $drm-blue;
                    color: white;

                    li:hover {
                        background-color: transparent;
                    }

                    &:visited {
                        color: white;
                    }
                }

                &:visited {
                    color: $drm-blue;
                }
            }

            @include drm-breakpoint(tall) {
                float: none;
                text-align: center;

                li {
                    float: none;
                    display: inline-block;
                }
            }
        }
    }
}

.hero-unit {
    @extend %drm-container-full-width;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $drm-blue;
    color: white;
    line-height: 1.5;

    h1 {
        @extend %drm-reset-box;
        text-align: left;
        font-weight: bold;
        @include drm-em-font(48);

        @include drm-breakpoint(grande) {
            padding-left: 20px;
        }

        @include drm-breakpoint(tall) {
            padding: 0;
            margin: 0;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: lighten($drm-blue, 10%);
            }
        }
    }

    p {
        @include drm-breakpoint(grande) {
            padding-left: 20px;
        }

        @include drm-breakpoint(tall) {
            padding: 0 20px 0 20px;
            margin: 0;
            text-align: center;
        }
    }
}