.rounded-heading {
    width: 400px;
    margin-bottom: 10px;
    @include elr-rounded-heading;
}

.pill-heading {
    width: 400px;
    margin-bottom: 10px;
    @include elr-pill-heading;
}

.ribbon-heading {
    width: 400px;
    margin: 30px 0;
    @include elr-ribbon-heading($main-color, $background-color, $background-color, 20);
}

#headings {
    @include elr-headings();
}