/*-----------------------------------------------------------------------------
    Header
-----------------------------------------------------------------------------*/

header {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    @include elr-clearfix;

    @include elr-breakpoint(saturn) {
        width: 100%;
    }

    h1 {
        padding: 10px 0 10px 20px;
        float: left;

        a {
            color: $main-color;
            font-weight: bold;
            text-decoration: none;

            &:visited {
                color: $main-color;
            }
        }

        @include elr-breakpoint(saturn) {
            float: none;
            text-align: center;
        }
    }

    .mobile-nav-holder {
        display: none;

        @include elr-breakpoint(saturn) {
            display: block;
        }
    }

    nav {
        padding-top: 10px;
        padding-bottom: 10px;
        @include elr-clearfix;

        @include elr-breakpoint(saturn) {
            display: none;
        }

        &.mobile-nav-holder {
            padding-bottom: 0;
            @include elr-clearfix;

            .mobile-menu-toggle {
                background-color: transparent;
                border: 1px solid $main-color;
                padding: 5px 10px;
                border-radius: 3px;
                margin-right: 20px;
                margin-bottom: 10px;
                color: $main-color;
                cursor: pointer;
                float: right;
                @include elr-em-font(20);

                i {
                    margin-left: 5px;
                }

                &:hover, &:active {
                    background-color: $main-color;
                    color: $background-color;
                }
            }
        }

        .mobile-nav {
            list-style: none;
            padding: 0;
            clear: both;
            display: none;

            li {
                margin: 0;
                padding: 0;

                &:first-child a {
                    padding-top: 10;
                }

                &:last-child a {
                    padding-bottom: 10;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 0;

                        a {
                            padding-left: 40px;
                        }

                        &:first-child a {
                            padding-top: 10;
                        }

                        &:last-child a {
                            padding-bottom: 10;
                        }
                    }
                }
            }

            a {
                background-color: $main-color;
                color: $background-color;
                text-decoration: none;
                display: block;
                padding: 10px 20px;

                &:hover, &:active {
                    background-color: $background-color;
                    color: $main-color;
                }
            }
        }

        ul.elr-dropdown-nav {
            float: right;
            margin: 10px;

            li {
                margin: 0 5px 0 0;

                a {
                    background-color: $background-color;
                    color: $main-color;
                    margin: 0;
                    border-radius: 3px;
                    padding-left: 10px;
                    padding-right: 10px;

                    &:hover {
                        background-color: $main-color;
                        color: $background-color;

                        li:hover {
                            background-color: transparent;
                        }

                        &:visited {
                            color: $background-color;
                        }
                    }

                    &:visited {
                        color: $main-color;
                    }
                }

                ul {
                    margin-top: 5px;
                    background-color: transparent;
                    border: 1px solid $light-grey;
                    border-radius: 3px;

                    li {
                        margin: 0;
                        background-color: transparent;

                        &:first-child a {
                            border-radius: 3px 3px 0 0;
                        }

                        &:last-child a {
                            border-radius: 0 0 3px 3px;
                        }
                    }

                    a {
                        border-radius: 0;
                        background-color: $background-color;
                        color: $main-color;
                        @include elr-em-font(12);

                        &:hover {
                            background-color: $main-color;
                            color: $background-color;

                            &:visited {
                                color: $background-color;
                            }
                        }

                        &:visited {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

.hero-unit {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $main-color;
    color: $background-color;
    line-height: 1.5;

    h1 {
        margin: 0;
        padding: 0 0 0 20px;
        text-align: left;
        font-weight: bold;
        @include elr-em-font(48);

        @include elr-breakpoint(saturn) {
            padding: 0;
            margin: 0;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: $background-color;

            &:hover {
                color: lighten($main-color, 10%);
            }
        }
    }

    p {
        margin: 0;
        padding: 0 0 0 20px;

        @include elr-breakpoint(saturn) {
            padding: 0 20px;
            margin: 0;
            text-align: center;
        }
    }
}