// Layout Utilities Examples

.center-block {
	@include elr-center-block(50%);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid $grey;
	background-color: white;
}

.horizontal-container {
	position: relative;
	height: 400px;
	height: 500px;

	.horizontally-center {
		@include elr-centerer(false, true);
		height: 200px;
		width: 275px;
		background-color: purple;
	}
}

.vertical-container {
	position: relative;
	height: 400px;
	height: 500px;

	.vertically-center {
		@include elr-centerer(true, false);
		height: 200px;
		width: 275px;
		background-color: purple;
	}
}

.center-container {
	position: relative;
	height: 400px;
	height: 500px;

	.centered {
		@include elr-centerer;
		height: 200px;
		width: 275px;
		background-color: purple;
	}
}