// Main Content Styles

.main-content {
    padding-top: 20px;
    min-height: 800px;
}

pre {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.argument-list {
    padding-left: 0;

    h2 {
        @include elr-em-font(18);
    }
}