// Main Content Styles

.main-content {
    padding: 60px 10px 20px;
    min-height: 800px;

    h1 {
        @include elr-em-font(30px);
    }

    h2 {
        @include elr-em-font(24px);
    }

    h3 {
        @include elr-em-font(18px);
    }

    .elr-col-9:first-child {
        padding-left: 10px;
    }
}

.example-section {
    padding-bottom: 40px;
}

.example-holder {
    padding: 20px;
    // border: 1px solid $elr-blue;
    // background-color: $elr-blue-light;

    &.example-holder-light {
        background-color: $white;
        border-color: $elr-blue-light;
    }

    h1 {
        @include elr-em-font(48px);
    }

    h2 {
        @include elr-em-font(36px);
    }

    h3 {
        @include elr-em-font(30px);
    }
}

pre {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.argument-list {
    padding-left: 0;

    h2 {
        @include elr-em-font(18px);
    }
}

.inline-demo {
    border: 1px solid $elr-blue;
    padding: 10px;
    margin: 20px 0 0;
    background-color: $elr-blue-light;
    border-radius: 3px;

    &.demo-light {
        background-color: $white;
        border-color: $elr-blue-light;
    }

    p {
        padding: 0;
    }
}
