/*-----------------------------------------------------------------------------
    Main Content Styles
-----------------------------------------------------------------------------*/

main {
    width: (100% / 4) * 3;
    float: left;
    box-sizing: border-box;

    @include drm-breakpoint(grande) {
        padding: 0 20px 0 20px;
        width: 100%;
        float: none;
    }
}

.example-holder {
    margin: 20px auto 20px auto;
    @include drm-clearfix();
}

section {
    @extend %drm-container-full-width;
    padding: 20px;
}

pre.center-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.example {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid $grey;
    box-sizing: border-box;
    @include drm-clearfix();
}

.argument-list {
    padding-left: 40px;

    h2 {
        @include drm-em-font(18);
    }
}