// Shapes Utilities Examples

.circle {
    @include elr-circle(200px);
    margin-top: 20px;
    background-color: $main-color;
}

.ellipse {
    @include elr-ellipse(200px, 150px);
    margin-top: 20px;
    background-color: $main-color;
}

.ellipse-tall {
    @include elr-ellipse(150px, 200px);
    margin-top: 20px;
    background-color: $main-color;
}

.elr-rectangle {
    @include elr-rectangle(300px, 200px);
    background-color: $main-color;
    margin: 20px;
}

.elr-rounded-rectangle {
    @include elr-rectangle(300px, 200px, null, 5px);
    background-color: $main-color;
    margin: 20px;
}

.elr-square {
    @include elr-square(200px);
    background-color: $main-color;
    margin: 20px;
}

.elr-rounded-square {
    @include elr-square(200px, null, 5px);
    background-color: $main-color;
    margin: 20px;
}

.shapes .elr-col-4 {
    height: 300px;
}

.elr-diamond {
    @include elr-quadrilateral-diamond(100px, 10);
    background-color: $main-color;
    margin: 60px;
}

.elr-pentagon {
    @include elr-pentagon(160px, 160px, $main-color);
    margin: 60px;
}

.elr-hexagon {
    @include elr-hexagon(160px, 160px, $main-color);
    margin: 60px;
}

.elr-parallelogram {
    @include elr-parallelogram(150px, 100px);
    background-color: $main-color;
    margin: 60px;
}

.elr-trapezoid {
    @include elr-trapezoid(200px, $main-color);
    margin: 60px;
}

.elr-star-5 {
    @include elr-star-5(100px, $main-color);
}

.elr-star-6 {
    @include elr-star-6(200px, $main-color);
}

.elr-star-8 {
    margin: 60px;
    @include elr-star-8(100px, $main-color);
}

.elr-badge {
    @include elr-badge(100px, $main-color);
    margin: 60px;
}

.elr-triangle {
    @include elr-triangle(top-left, 200px, auto, $main-color);
}

.elr-equilateral-triangle {
    @include elr-equilateral-triangle(top, 200px, $main-color);
}