// Sidebar
// scss-lint:disable ImportantRule

.main-sidebar-holder {
    @include elr-clearfix;
    position: relative;
    height: 1px;
}

.main-sidebar {
    // padding-top: 20px;
    // padding-left: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;

    @include elr-breakpoint('saturn') {
        display: none;
    }

    &.sticky-left {
        @include elr-sticky-menu('left');
    }
}

.sidebar-menu {
    @include elr-nav-bar-stacked;

    &.nav-bar-stacked > li {
        @include elr-breakpoint('mars') {
            padding-left: 40px;
        }
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    a {
        @include elr-em-font(20px);
        color: $text-color;
        font-weight: $bold;
        padding: 5px 10px 10px;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $text-color;
        }
    }

    .elr-submenu {
        padding-top: 0;
        padding-left: 15px;
        padding-bottom: 10px;

        li {
            @include elr-breakpoint('mars') {
                padding-left: 0;
            }
        }

        a {
            @include elr-em-font(14px);
            color: $text-color;
            font-weight: $normal;
            padding: 2px 10px;
        }

        a:hover {
            text-decoration: underline;
            color: $text-color;
        }
    }
}
