/*-----------------------------------------------------------------------------
    Sidebar
-----------------------------------------------------------------------------*/

.sidebar {
    width: (100% / 3);
    float: left;
    padding-left: 40px;
    box-sizing: border-box;

    h1 {
        padding: 10px;
    }

    ul {
        @include drm-nav-bar-stacked;
    }
}