// Sidebar

.elr-container .elr-row aside.sidebar {
    padding-top: 20px;
    padding-left: 60px;

    @include elr-breakpoint(saturn) {
        display: none;
    }

    &.sticky-right {
        @include elr-sticky-menu('left');
    }

    ul {
        @include elr-nav-bar-stacked;

        & > li {
            @include elr-breakpoint(mars) {
                padding-left: 40px;
            }
        }

        li {
            padding-top: 2px;
            padding-bottom: 2px;

            & > a {
                color: $text-color;
                font-weight: bold;
                padding: 5px 10px 10px 10px;
                @include elr-em-font(20);

                &:hover, &:focus {
                    text-decoration: none;
                    color: $text-color;
                }
            }

            & > ul {

                & > li {
                    @include elr-breakpoint(mars) {
                        padding-left: 0;
                    }
                }

                a {
                    color: $text-color;
                    font-weight: normal;
                    padding: 2px 10px;
                    @include elr-em-font(14);

                    &:hover {
                        text-decoration: underline;
                        color: $text-color;
                    }
                }
            }
        }
    }
}