section#border-effects
    .drm-container
        .drm-row
            .drm-col-full
                h1 Border Effects
    .drm-container
        .drm-row
            .drm-col-full
                h3 Border Transparent
                .border-transparent.example
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                        maxime molestias est numquam quos recusandae dignissimos commodi 
                        vero sequi ipsum sed nesciunt optio?
                p Creates a transparent border with a hex color backup for browsers that do not support rgba colors 
                pre @include drm-border-transparent($color, $thickness, $opacity);
                    
                h3 Stitched Box
                p Creates a box with a cute stitching effect around the edges
                .stitched-box.example
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                        maxime molestias est numquam quos recusandae dignissimos commodi 
                        vero sequi ipsum sed nesciunt optio?
                pre @include drm-stitched-box($color, $stitch-color, $border-radius, $border-color, $opacity);
                    
                h3 Stitched Row
                p creates a row that has a cute stitching effect along the top and bottom
                .stitched-row.example
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                        maxime molestias est numquam quos recusandae dignissimos commodi 
                        vero sequi ipsum sed nesciunt optio?
                pre @include drm-stitched-box($color, $stitch-color, $border-color, $opacity, $shadow);
                    
                h3 Stitched Row with Shadow
                p creates a row that has a cute stitching effect along the top and bottom
                .stitched-row-shadow.example
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                        maxime molestias est numquam quos recusandae dignissimos commodi 
                        vero sequi ipsum sed nesciunt optio?
                pre @include drm-stitched-box($color, $stitch-color, $border-color, $opacity, $shadow);
                    
                h3 Transparent Figure Border
                p Creates a transparent, inset border that transitions to another color when the user hovers over the figure.
                .figure-border
                    figure 
                        img(src="images/cat.jpg" alt="Kitten")
                pre @include drm-solid-drop-shadow($color);

                h3 Inset Border
                p Applies a simple inset bottom border effect to an element.
                .inset-border.example        
                    ul.drm-unstyled-list
                        li List Item
                        li List Item
                        li List Item