section#circles
    .elr-container
        .elr-row
            .elr-col-full
                h1 Circles and Ellipses
    .elr-container
        .elr-row
            .elr-col-third
                .circle
            .elr-col-third
                .ellipse
            .elr-col-third
                .ellipse-tall