section#forms
    .drm-container
        .drm-row
            .drm-col-full
                h2 Forms
    .drm-container
        .drm-row
            .drm-col-full
                h2 Form State
                p Adds an active and focus state to form fields
                form.form-state(role="form" action="")
                    .drm-container
                        .drm-row
                            .drm-col-full
                                label Name:
                            .drm-col-half
                                input(type="text" name="fname" id="fname" placeholder="First")
                            .drm-col-half
                                input(type="text" name="lname" id="lname" placeholder="Last")
    .drm-container
        .drm-row
            .drm-col-full
                h2 Tabular Form
                form.tabular-form(role="form" action="")
                    .drm-container
                        .drm-row
                            .drm-col-full
                                label Name:
                            .drm-col-half
                                input(type="text" name="fname" id="fname" placeholder="First")
                            .drm-col-half
                                input(type="text" name="lname" id="lname" placeholder="Last")
                    .drm-container
                        .drm-row
                            .drm-col-full
                                label Address:
                                input(type="text" name="address" id="address" placeholder="Street Address")
                            .drm-col-third
                                input(type="text" name="city" id="city" placeholder="City")
                            .drm-col-third
                                input(type="text" name="state" id="state" placeholder="State")
                            .drm-col-third
                                input(type="text" name="zip" id="zip" placeholder="Zip")
                    .drm-container
                        .drm-row
                            .drm-col-half
                                label(for="email") Email:
                                input(type="email" id="email" name="email" placeholder="youremail@email.com" required)
                            .drm-col-half
                                label(for="phone") Phone:
                                input(type="tel" id="phone" name="phone" placeholder="212-867-5309" disabled)
                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-inline-control-group
                                    label(for="fav-animal2") Fav. Animal:
                                    input(type="text" id="fav-animal2" name="fav-animal2" placeholder="Penguin")
                                .drm-inline-control-group
                                    label(for="fav-city") Favorite City:
                                    input(type="text" id="fav-city" name="fav-city" placeholder="New York City")
                                .drm-inline-control-group
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="one") 
                                            | One
                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-control-group
                                    label
                                        input(type="checkbox" value="sign up") 
                                        | Sign me up!
                                .drm-control-group
                                    label
                                        input(type="checkbox" value="true" checked) 
                                        | Checked Option

                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-inline-control-group
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="one") 
                                            | One
                                    
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="two") 
                                            | Two
                                    
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="three")
                                            | Three
                                    
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="four" disabled) 
                                            | Four


                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-tabular-control-group
                                    h3.drm-control-label Select an Option
                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-options" id="option1" value="option1" checked) 
                                            | Option 1  
                                    
                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-options" id="option2" value="option2") 
                                            | Option 2

                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-options" id="option3" value="option3") 
                                            | Option 3              

                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-options" id="option4" value="option4") 
                                            | Option 4
                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-inline-control-group
                                    h3.drm-control-label Select a Color
                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-colors" value="red") 
                                            | Red                 
                                    
                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-colors" value="green") 
                                            | Green                 
                                    
                                    .drm-control-group
                                        label
                                            input(type="radio" name="radio-colors" value="blue") 
                                            | Blue
                    .drm-container
                        .drm-row
                            .drm-col-half
                                label(for="fav-num") Favorite Number:
                                select
                                    option Favorite Number
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                            .drm-col-half
                                label(for="fav-color") Favorite Color:
                                select(disabled)
                                    option Favorite Color
                                    option Red
                                    option Yellow
                                    option Green
                                    option Blue
                                    option Orange
                    .drm-container
                        .drm-row
                            .drm-col-half
                                .drm-inline-control-group 
                                    label(for="fav-animal") Favorite Animal:
                                    select
                                        option Favorite Animal
                                        option Pengiun
                                        option Owl
                                        option Dog
                                        option Cat
                                        option Panda Bear
                            .drm-col-half
                                label(for="fav-num-2") Favorite Number:
                                select(multiple)
                                    option Favorite Number
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                            .drm-col-full
                                label(for="notes") Notes:
                                textarea(name="notes" id="notes" cols="30" rows="10" placeholder="These are some notes") 
                                small This is some instructional text
                    
                    .drm-container
                        .drm-row
                            .drm-col-full
                                input.drm-pull-left(type="submit" id="submit" name="submit" value="Submit") 
                                input.drm-pull-left(type="submit" id="disabled" name="disabled" disabled value="Disabled Input") 
                                button.drm-pull-left(type="submit" disabled) Disabled Button
    .drm-container
        .drm-row
            .drm-col-full
                h2 Inline Form
                form.inline-form(role="form" action="")
                    .drm-container
                        .drm-row
                            .drm-col-full
                                .drm-inline-control-group
                                    label(for="username") Email:
                                    input(type="text" id="username" name="username" placeholder="youremail@email.com" required)
                                .drm-inline-control-group
                                    label(for="password") Password:
                                    input(type="password" id="password" name="password")
                                .drm-inline-control-group
                                    .drm-control-group
                                        label
                                            input(type="checkbox" value="remember") 
                                            | Remember Me
                                .drm-inline-control-group
                                    input(type="submit" id="submit" name="submit" value="Submit")
    .drm-container
        .drm-row
            .drm-col-full
                h2 Form Validation Styles
                form.tabular-form(role="form" action="")
                    .drm-container
                        .drm-row
                            .drm-col-third
                                label(for="fname") Name:
                                input(type="text" class="drm-form-success" name="fname" placeholder="First Last") 
                            .drm-col-third
                                label(for="email-address") Email:
                                input(type="email" class="drm-form-warning" name="email-address" placeholder="youremail@email.com")
                            .drm-col-third
                                label(for="phone-num") Phone:
                                input(type="tel" class="drm-form-danger" name="phone-num" placeholder="212-867-5309")
                            .drm-col-full
                                input(type="submit" id="submit" name="submit" value="Submit")