section#grid
    h1 Grid
    .elr-container
        .elr-row
            .elr-col-12
                .example-col
                    p .elr-col-12
        .elr-row
            .elr-col-6
                .example-col
                    p .elr-col-6
            .elr-col-6
                .example-col
                    p .elr-col-6
        .elr-row
            .elr-col-4
                .example-col
                    p .elr-col-4
            .elr-col-4
                .example-col
                    p .elr-col-4
            .elr-col-4
                .example-col
                    p .elr-col-4
        .elr-row
            .elr-col-3
                .example-col
                    p .elr-col-3
            .elr-col-3
                .example-col
                    p .elr-col-3
            .elr-col-3
                .example-col
                    p .elr-col-3
            .elr-col-3
                .example-col
                    p .elr-col-3
        .elr-row
            .elr-col-8
                .example-col
                    p .elr-col-8
            .elr-col-4
                .example-col
                    p .elr-col-4
        .elr-row
            .elr-col-2
                .example-col
                    p .elr-col-2
            .elr-col-2
                .example-col
                    p .elr-col-2
            .elr-col-2
                .example-col
                    p .elr-col-2
            .elr-col-2
                .example-col
                    p .elr-col-2
            .elr-col-2
                .example-col
                    p .elr-col-2
            .elr-col-2
                .example-col
                    p .elr-col-2
        .elr-row
            .elr-col-full
                .example-col
                    p .elr-col-full
        .elr-row
            .elr-col-half
                .example-col
                    p .elr-col-half
            .elr-col-half
                .example-col
                    p .elr-col-half
        .elr-row
            .elr-col-third
                .example-col
                    p .elr-col-third
            .elr-col-two-thirds
                .example-col
                    p .elr-col-two-thirds
        .elr-row
            .elr-col-third
                .example-col
                    p .elr-col-third
            .elr-col-third
                .example-col
                    p .elr-col-third
            .elr-col-third
                .example-col
                    p .elr-col-third
        .elr-row
            .elr-col-three-fourths
                .example-col
                    p .elr-col-three-fourths
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter
        .elr-row
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter
        .elr-row
            .elr-col-fifth
                .example-col
                    p .elr-col-fifth
            .elr-col-fifth
                .example-col
                    p .elr-col-fifth
            .elr-col-fifth
                .example-col
                    p .elr-col-fifth
            .elr-col-fifth
                .example-col
                    p .elr-col-fifth
            .elr-col-fifth
                .example-col
                    p .elr-col-fifth
        .elr-row
            .elr-col-6
                .example-col
                    .elr-container
                        .elr-row
                            .elr-col-6
                                .example-col-nested
                                    p .elr-col-6
                            .elr-col-6
                                .example-col-nested
                                    p .elr-col-6
            .elr-col-6
                .example-col
                    .elr-container
                        .elr-row
                            .elr-col-6
                                .example-col-nested
                                    p .elr-col-6
                            .elr-col-6
                                .example-col-nested
                                    p .elr-col-6
        .elr-row
            .elr-col-two-thirds
                .example-col
                    .elr-container
                        .elr-row
                            .elr-col-third
                                .example-col-nested
                                    p .elr-col-third
                            .elr-col-third
                                .example-col-nested
                                    p .elr-col-third
                            .elr-col-third
                                .example-col-nested
                                    p .elr-col-third
                        .elr-row
                            .elr-col-full
                                .example-col-nested
                                    p .elr-col-full
                        .elr-row
                            .elr-col-full
                                .example-col-nested
                                    p .elr-col-full
            .elr-col-third
                .example-col
                    .elr-container
                        .elr-row
                            .elr-col-full
                                .example-col-nested
                                    p .elr-col-full
                        .elr-row
                            .elr-col-full
                                .example-col-nested
                                    p .elr-col-full
                        .elr-row
                            .elr-col-full
                                .example-col-nested
                                    p .elr-col-full
        .elr-row
            .elr-col-half.elr-col-offset-6
                .example-col
                    p .elr-col-half .elr-col-offset-6
        .elr-row
            .elr-col-quarter.elr-col-offset-6
                .example-col
                    p .elr-col-quarter .elr-col-offset-6
            .elr-col-quarter
                .example-col
                    p .elr-col-quarter