section#layout
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Clear Fix
                p A modern clearfix alternative to overflow: hidden
                pre @include elr-clearfix();

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Em Margin
                p Converts px margin to ems; enter value only - no units
                h3.elr-bold Arguments:
                ul.elr-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
                pre @include elr-em-margin(10, 20, 10, 20);

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Em Padding
                p Converts px padding to ems; enter value only - no units
                h3.elr-bold Arguments:
                ul.elr-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
                pre @include elr-em-padding(10, 20, 10, 20);
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Center Block
                p horizontally centers an element within its container using display block and margin auto.
                .example-holder
                    .center-block
                        h1 Center Block
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
                pre @include elr-center-block($width);

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Horizontally Center
                p Horizontally centers an element using absolute positioning and translate
                .example-holder.horizontal-container
                    .horizontally-center

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Vertically Center
                p Vertially centers an element using absolute positioning and translate
                .example-holder.vertical-container
                    .vertically-center
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Centered
                p Vertically and horizontally centers an element within its container
                .example-holder.center-container
                    .centered