section#layout
    .drm-container
        .drm-row
            .drm-col-full
                h1 Layout Utilities
    .drm-container
        .drm-row
            .drm-col-full
                h3 Clear Fix
                p A modern clearfix alternative to overflow: hidden
                pre @include drm-clearfix();
    .drm-container
        .drm-row
            .drm-col-full
                h3 Center Block
                .center-block
                    h1 Center Block
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo, quia, dolorum, labore ratione quisquam doloribus consectetur 
                        officia perferendis tenetur sed nobis corrupti voluptatum. Eligendi, repudiandae velit voluptates cum officia aliquid eos molestiae vel 
                        quia nam illo obcaecati molestias expedita eveniet aut exercitationem placeat minus possimus aliquam minima. Nemo, nihil.
                p horizontally centers an element within its container using margin auto. container must have a width rule.
                pre @extend %drm-center-block;

    .drm-container
        .drm-row
            .drm-col-full
                h3 Em Font
                p Converts px font-size to ems; enter value only - no units
                h4.drm-bold Arguments:
                ul.drm-unstyled-list
                    li $font-size: enter value only - no units
                pre @include drm-em-font(18);

    .drm-container
        .drm-row
            .drm-col-full
                h3 Em Margin
                p Converts px margin to ems; enter value only - no units
                h4.drm-bold Arguments:
                ul.drm-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
                pre @include drm-em-margin(10, 20, 10, 20);

    .drm-container
        .drm-row
            .drm-col-full
                h3 Em Padding
                p Converts px padding to ems; enter value only - no units
                h4.drm-bold Arguments:
                ul.drm-unstyled-list
                    li $top: enter value only - no units
                    li $right: enter value only - no units
                    li $bottom: enter value only - no units
                    li $left: enter value only - no units
                pre @include drm-em-padding(10, 20, 10, 20);

    .drm-container
        .drm-row
            .drm-col-full
                h3 Vertically Center
                .vertical-container 
                    .vertically-center Vertically Centered
                p Vertially centers an element using absolute positioning
                h4.drm-bold Arguments:
                ul.drm-unstyled-list
                    li $container-element-height: height of container element
                    li $height: height of element to be positioned
                pre.
                    .vertical-container {
                        height: 500px;
                        position: relative;

                        .vertically-center {
                            @include drm-vertically-center(500px, 200px);
                        }
                    }