section#lists
    .drm-container
        .drm-row
            .drm-col-full
                h1 Lists
    .drm-container
        .drm-row
            .drm-col-quarter
                h3 Unstyled List Left
                ul.unstyled-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li.divider
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3.drm-text-center Unstyled List Centered
                ul.unstyled-list-center
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3.drm-text-right Unstyled List Right
                ul.unstyled-list-right
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .drm-container
        .drm-row
            .drm-col-quarter
                h3 Border List Left
                ul.border-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3.drm-text-center Border List Center
                ul.border-list-center
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3.drm-text-right Border List Right
                ul.border-list-right
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .drm-container
        .drm-row
            .drm-col-full
                h3 Inline List
                ul.inline-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .drm-container
        .drm-row
            .drm-col-quarter
                h3 Bullet List
                ul.bullet-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3 Triangle List
                ul.drm-triangle-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .drm-col-quarter
                h3 Checked List
                ul.drm-checked-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five