section#lists
    .elr-container
        .elr-row
            .elr-col-full
                h1 Lists
    .elr-container
        .elr-row
            .elr-col-third
                h3 Unstyled List Left
                ul.unstyled-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li.divider
                    li Item Four
                    li Item Five
            .elr-col-third
                h3.elr-text-center Unstyled List Centered
                ul.unstyled-list-center
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-third
                h3.elr-text-right Unstyled List Right
                ul.unstyled-list-right
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .elr-container
        .elr-row
            .elr-col-third
                h3 Border List Left
                ul.border-list-left
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-third
                h3.elr-text-center Border List Center
                ul.border-list-center
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-third
                h3.elr-text-right Border List Right
                ul.border-list-right
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .elr-container
        .elr-row
            .elr-col-full
                h3 Inline List
                ul.inline-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
    .elr-container
        .elr-row
            .elr-col-third
                h3 Bullet List
                ul.bullet-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-third
                h3 Triangle List
                ul.elr-triangle-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five
            .elr-col-third
                h3 Checked List
                ul.elr-checked-list
                    li Item One
                    li Item Two
                    li Item Three
                    li Item Four
                    li Item Five