section#media-queries
    .drm-container
        .drm-row
            .drm-col-full
                h1 Media Queries Example
    .drm-container
        .drm-row
            .drm-col-full
                ul.drm-unstyled-list
                    li mercury: 1680px - widescreen
                    li venus: 1680px - widescreen
                    li earth: 1366px - large desktop
                    li mars: 1200px - laptop
                    li jupiter: 1024px - tablet horizontal
                    li saturn: 768px - tablet vertical
                    li uranus: 640px - small tablet
                    li neptune: 480px - phone horizontal
                    li pluto: 400px - phone vertical