section#shadows
    .drm-container
        .drm-row
            .drm-col-full
                h1 Shadows
    .drm-container
        .drm-row
            .drm-col-full
                h3 Solid Drop Shadow
                .drm-container.solid-drop-shadow
                    .drm-row
                        .drm-col-full
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                    maxime molestias est numquam quos recusandae dignissimos commodi 
                                    vero sequi ipsum sed nesciunt optio?
                p Creates a solid drop shadow effect
                pre @include drm-solid-drop-shadow($color);
                    
                h3 Triple Shadow
                p Creates a triple border effect
                .drm-container.triple-shadow
                    .drm-row
                        .drm-col-full
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                    maxime molestias est numquam quos recusandae dignissimos commodi 
                                    vero sequi ipsum sed nesciunt optio?
                pre @include drm-solid-drop-shadow($color);
                    
                h3 Boxy Drop Shadow           
                .drm-container.boxy-drop-shadow
                    .drm-row
                        .drm-col-full
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                maxime molestias est numquam quos recusandae dignissimos commodi 
                                vero sequi ipsum sed nesciunt optio?
                pre @include drm-solid-drop-shadow($shadow-color);
                    
                h3 Soft Drop Shadow
                .drm-container.softer-thick-box-shadow
                    .drm-row
                        .drm-col-full
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                maxime molestias est numquam quos recusandae dignissimos commodi 
                                vero sequi ipsum sed nesciunt optio?
                pre @include drm-softer-thick-box-shadow($shadow-color);