section#shadows
    .elr-container
        .elr-row
            .elr-col-full
                h1 Shadows
    .elr-container
        .elr-row
            .elr-col-full
                h3 Solid Drop Shadow
                .elr-container.solid-drop-shadow
                    .elr-row
                        .elr-col-full
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                    maxime molestias est numquam quos recusandae dignissimos commodi 
                                    vero sequi ipsum sed nesciunt optio?
                p Creates a solid drop shadow effect
                pre @include elr-solid-drop-shadow($color);
                    
                h3 Triple Shadow
                p Creates a triple border effect
                .elr-container.triple-shadow
                    .elr-row
                        .elr-col-full
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                    maxime molestias est numquam quos recusandae dignissimos commodi 
                                    vero sequi ipsum sed nesciunt optio?
                pre @include elr-solid-drop-shadow($color);
                    
                h3 Boxy Drop Shadow           
                .elr-container.boxy-drop-shadow
                    .elr-row
                        .elr-col-full
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                maxime molestias est numquam quos recusandae dignissimos commodi 
                                vero sequi ipsum sed nesciunt optio?
                pre @include elr-solid-drop-shadow($shadow-color);
                    
                h3 Soft Drop Shadow
                .elr-container.softer-thick-box-shadow
                    .elr-row
                        .elr-col-full
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                                maxime molestias est numquam quos recusandae dignissimos commodi 
                                vero sequi ipsum sed nesciunt optio?
                pre @include elr-softer-thick-box-shadow($shadow-color);