section#shapes
    .elr-container
        .elr-row
            .elr-col-full
                h1 Shapes
    .elr-container.shapes
        .elr-row
            .elr-col-4
                h3 Diamond
                .elr-diamond
            .elr-col-4
                h3 Pentagon
                .elr-pentagon
            .elr-col-4
                h3 Hexagon
                .elr-hexagon
            .elr-col-4
                h3 Octagon
                .elr-octagon
            .elr-col-4
                h3 Parallelogram
                .elr-parallelogram
            .elr-col-4
                h3 Trapezoid
                .elr-trapezoid
    .elr-container.ribbon
        .elr-row
            .elr-col-6
                h3 ribbon
                .elr-ribbon-wrapper
                    p This is a ribbon wrapper