section#shapes
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Circles and Ellipses
        .elr-row.example-holder
            .elr-col-third
                .circle
            .elr-col-third
                .ellipse
            .elr-col-third
                .ellipse-tall
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Rectangles
                p Easy rectangles and squares.
        .elr-row
            .elr-col-full
                pre @include elr-rectangle($width, $height, $display, $border-radius);
        .elr-row.example-holder
            .elr-col-half
                .elr-rectangle
            .elr-col-half
                .elr-rounded-rectangle
        .elr-row
            .elr-col-full
                pre @include elr-rectangle(300px, 200px, block);
                pre @include elr-rectangle(300px, 200px, block, 5px);

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Squares
        .elr-row
            .elr-col-full
                pre @include elr-square($width, $display, $border-radius);
        .elr-row.example-holder
            .elr-col-half
                .elr-square
            .elr-col-half
                .elr-rounded-square
        .elr-row
            .elr-col-full
                pre @include elr-square(300px, block);
                pre @include elr-square(300px, block, 5px);
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Triangles
        .elr-row.example-holder
            .elr-col-half
                .elr-triangle
            .elr-col-half
                .elr-equilateral-triangle
    .elr-container
        .elr-row.example-holder
            .elr-col-third
                p Diamond
                .elr-diamond
            .elr-col-third
                p Pentagon
                .elr-pentagon
            .elr-col-third
                p Hexagon
                .elr-hexagon
        .elr-row.example-holder
            .elr-col-third
                p Parallelogram
                .elr-parallelogram
            .elr-col-third
                p Trapezoid
                .elr-trapezoid
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Stars
        .elr-row.example-holder
            .elr-col-half
                p Five-Pointed Star
                .elr-star-5
            .elr-col-half
                p Six-Pointed Star
                .elr-star-6
        .elr-row.example-holder
            .elr-col-half
                p Eight-Pointed Star
                .elr-star-8
            .elr-col-half
                p Badge
                .elr-badge
    .elr-container
        .elr-row
            .elr-col-6.ribbon
                h3.elr-bold Ribbon
        .elr-row.example-holder
                .elr-ribbon-wrapper
                    p This is a ribbon wrapper