section#stars
    .elr-container
        .elr-row
            .elr-col-full
                h1 Stars
    .elr-container
        .elr-row
            .elr-col-full
                h3 Five-Pointed Star
                .elr-star-5
            .elr-col-full
                h3 Six-Pointed Star
                .elr-star-6
            .elr-col-full
                h3 Eight-Pointed Star
                .elr-star-8
            .elr-col-full
                h3 Badge
                .elr-badge