section#text-effects
    .drm-container
        .drm-row
            .drm-col-full
                h1 Text Effects
    .drm-container
        .drm-row
            .drm-col-full                        
                h3 Inset Text
                p Applies a simple inset text effect.
                .inset-text.example   
                    p. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deserunt, assumenda, neque vitae voluptatem alias ducimus porro 
                        maxime molestias est numquam quos recusandae dignissimos commodi 
                        vero sequi ipsum sed nesciunt optio?
                pre @include drm-solid-drop-shadow($color);