section#triangles
    .elr-container
        .elr-row
            .elr-col-full
                h1 Triangles
    .elr-container
        .elr-row
            .elr-col-full
                h3 Triangle
                .elr-triangle
            .elr-col-full
                h3 Equilateral Triangle
                .elr-equilateral-triangle