section#array-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 Array Utilities
                p A series of methods that make it easier to work with arrays.

    .elr-container
        .elr-row
            .elr-col-full
                h3 To Array
            .elr-col-full
                h3 Create Arrays
            .elr-col-full
                h3 Concat Arrays