section#array-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 Array Utilities
                p A series of methods that make it easier to work with arrays.

    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold String to Array
                p Converts an array in string form to an array. Is commonly used to convert text retrieved from within a DOM element to an array.
                .test-box
                    p.is-array fish, cat, dog
                    p.output-holder

            .elr-col-full
                h3.elr-bold In Array
                p Checks to see that a given value is in an array.
                .test-box-in-array
                    p.elr-bold Pets
                    p.in-array fish, cat, dog, bird
                    p.test-value dog
                    p.output-holder
                .test-box-in-array
                    p.elr-bold Countries I've been to
                    p.in-array France, Canada, Italy, Spain
                    p.test-value Japan
                    p.output-holder

            .elr-col-full
                h3.elr-bold To Array
                ul.city-list
                    li New York City
                    li Rome
                    li London
                    li Tokyo
                    li Sydney
                p.output-holder-city-list
            .elr-col-full
                h3.elr-bold Create Arrays
            .elr-col-full
                h3.elr-bold Concat Arrays