section#dom-manipulation-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 DOM Manipulation Utilities
                p A collection of utilities for working with the DOM
    .elr-container
        .elr-row
            .elr-col-full
                h3 Throttle Event
            .elr-col-full
                h3 Clear Element
            .elr-col-full
                h3 Create Element
            .elr-col-full
                h3 To Top
            .elr-col-full
                h3 Kill Event
            .elr-col-full
                h3 Scroll to View