section#pattern-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 Pattern Utilities
                p A collection of regular expressions for finding common patterns in strings
    .elr-container
        .elr-row
            .elr-col-full
                h3 Numeral
                p Checks for numerals in a string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="numeral")
                    small.regex-test-results
                pre elr.patterns.numeral
            .elr-col-full
                h3 Alpha Lowercase
                p Checks for lowercase alpha characters in a string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alphaLower")
                    small.regex-test-results
                pre elr.patterns.alphaLower
            .elr-col-full
                h3 Alpha Uppercase
                p Checks for uppercase alpha characters in a string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alphaUpper")
                    small.regex-test-results
                pre elr.patterns.alphaUpper
            .elr-col-full
                h3 Special Characters
                p Checks for special characters in a string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="specialCharacters")
                    small.regex-test-results
                pre elr.patterns.specialCharacters
            .elr-col-full
                h3 All Numbers
                p Checks if a string is just numbers.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="allNumbers")
                    small.regex-test-results
                pre elr.patterns.allNumbers
            .elr-col-full
                h3 All Alpha Uppercase
                p Checks if a string is just uppercase alpha characters.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="allAlphaUpper")
                    small.regex-test-results
                pre elr.patterns.allAlphaUpper
            .elr-col-full
                h3 All Alpha Lowercase
                p Checks if a string is just lowercase alpha characters.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="allAlphaLower")
                    small.regex-test-results
                pre elr.patterns.allAlphaLower
            .elr-col-full
                h3 All Special Characters
                p Checks if a string is just special characters.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="allSpecialCharacters")
                    small.regex-test-results
                pre elr.patterns.allSpecialCharacters
            .elr-col-full
                h3 Hour
                p Looks for the hour component of a time string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="hour")
                    small.regex-test-results
                pre elr.patterns.hour
            .elr-col-full
                h3 Minute
                p Looks for the minute component of a time string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="minute")
                    small.regex-test-results
                pre elr.patterns.minute
            .elr-col-full
                h3 AM/PM
                p Looks for the ampm component of a time string.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="ampm")
                    small.regex-test-results
                pre elr.patterns.ampm
            .elr-col-full
                h3 Integer
                p An integer can be negative or positive and can include one comma separator followed by exactly 3 numbers
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="integer")
                    small.regex-test-results
                pre elr.patterns.integer
            .elr-col-full
                h3 Number
                p A number can be negative or positive and can include one comma separator followed by exactly 3 numbers.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="number")
                    small.regex-test-results
                pre elr.patterns.number
            .elr-col-full
                h3 URL
                p Checks a string to make sure it is a valid URL.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="url")
                    small.regex-test-results
                pre elr.patterns.url
            .elr-col-full
                h3 Email
                p Checks a string to make sure it is a valid email.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="email")
                    small.regex-test-results
                pre elr.patterns.email
            .elr-col-full
                h3 Zip Code
                p Checks a string to make sure it is a properly formatted zip code. Allows for 5 digit and 9 digit zip codes.
                p Note: Does not check for a zip code's existance.
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="zip")
                    small.regex-test-results
                pre elr.patterns.zip
            .elr-col-full
                h3 Phone
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="phone")
                    small.regex-test-results
                pre elr.patterns.phone
            .elr-col-full
                h3 Full Name
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="fullName")
                    small.regex-test-results
                pre elr.patterns.fullName
            .elr-col-full
                h3 Alpha
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alpha")
                    small.regex-test-results
                pre elr.patterns.alpha
            .elr-col-full
                h3 Alpha Numeric
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alphaNum")
                    small.regex-test-results
                pre elr.patterns.alphaNum
            .elr-col-full
                h3 No Spaces
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="noSpaces")
                    small.regex-test-results
                pre elr.patterns.noSpaces
            .elr-col-full
                h3 Alpha Numeric Dash
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alphaNumDash")
                    small.regex-test-results
                pre elr.patterns.alphaNumDash
            .elr-col-full
                h3 Alpha Numeric Underscore
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="alphaNumUnderscore")
                    small.regex-test-results
                pre elr.patterns.alphaNumUnderscore
            .elr-col-full
                h3 HTML
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="toTags")
                    small.regex-test-results
                pre elr.patterns.toTags
            .elr-col-full
                h3 Date
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="monthDateYear")
                    small.regex-test-results
                pre elr.patterns.monthDateYear
            .elr-col-full
                h3 Time
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="time")
                    small.regex-test-results
                pre elr.patterns.time
            .elr-col-full
                h3 Credit Card
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="creditCard")
                    small.regex-test-results
                pre elr.patterns.creditCard
            .elr-col-full
                h3 CVV
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="cvv")
                    small.regex-test-results
                pre elr.patterns.cvv
            .elr-col-full
                h3 Long Date
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="longDate")
                    small.regex-test-results
                pre elr.patterns.longDate
            .elr-col-full
                h3 Short Date
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="shortDate")
                    small.regex-test-results
                pre elr.patterns.shortDate
            .elr-col-full
                h3 Long Time
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="longTime")
                    small.regex-test-results
                pre elr.patterns.longTime
            .elr-col-full
                h3 Long Month
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="longMonth")
                    small.regex-test-results
                pre elr.patterns.longMonth
            .elr-col-full
                h3 Date Number
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="dateNumber")
                    small.regex-test-results
                pre elr.patterns.dateNumber
            .elr-col-full
                h3 Year
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="year")
                    small.regex-test-results
                pre elr.patterns.year
            .elr-col-full
                h3 Date Keywords
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="dateKeywords")
                    small.regex-test-results
                pre elr.patterns.dateKeywords
            .elr-col-full
                h3 Time Keywords
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="timeKeywords")
                    small.regex-test-results
                pre elr.patterns.timeKeywords
            .elr-col-full
                h3 Single Space
                p 
                h4 Regex Tester
                form.tabular-form.regex-tester
                    input(type="text" placeholder="test regex" data-pattern="singleSpace")
                    small.regex-test-results
                pre elr.patterns.singleSpace