section#sort-utilities
    .elr-container
        .elr-row
            .elr-col-full
                h1 Sort Utilities
                p A collection of utility methods for sorting data.
    .elr-container
        .elr-row
            .elr-col-full
                h3 Sort Values
            .elr-col-full
                h3 Sort Complex List
            .elr-col-full
                h3 Comparators
                h4 Sort Date
                h4 Sort Time
                h4 Sort Alpha
                h4 Sort Sort Number