.fade-box {
    color: $elr-blue;
    padding: 20px 30px;
    margin-bottom: 20px;

    p {
        padding: 0 0 20px;
        margin: 0;
        line-height: 1.3;
    }

    .box-pink {
        width: 100%;
        height: 150px;
        background-color: lighten($dark-pink, 10%);
        border-color: $dark-pink;
        cursor: pointer;
    }

    .fade-in {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .fade-in { @include elr-fade('show'); }
        .fade-out { @include elr-fade('hide'); }
    }
}

.icon-animated { @include elr-icon-animated; }
.icon-border { @include elr-icon-border; }
.icon-border-pop { @include elr-icon-border-pop; }
.icon-dash { @include elr-icon-dash; }
.icon-dash-rotate { @include elr-icon-dash(true); }
.icon-border-pull { @include elr-icon-border-pull; }
.icon-background-fade { @include elr-icon-background-fade; }

.menu-animated { @include menu-animated(); }
.menu-simple-lines { @include menu-simple-lines(); }
.menu-double-lines { @include menu-double-lines(); }
.menu-expanding-lines { @include menu-expanding-lines(); }
