// Navigation Utilities Examples

.nav-bar,
.nav-bar-solid,
.nav-bar-pills,
.nav-bar-pills-solid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar-solid-stacked,
.nav-bar-pills-stacked,
.nav-bar-pills-solid-stacked {
    width: 300px;
}

.nav-bar { @include elr-nav-bar; }

.nav-bar-stacked { @include elr-nav-bar-stacked; }

.nav-bar-solid { @include elr-nav-bar-solid; }

.nav-bar-solid-stacked { @include elr-nav-bar-solid-stacked; }

.nav-bar-pills { @include elr-nav-bar-pills; }

.nav-bar-pills-stacked { @include elr-nav-bar-pills-stacked; }

.nav-bar-pills-solid { @include elr-nav-bar-pills-solid; }

.nav-bar-pills-solid-stacked { @include elr-nav-bar-pills-solid-stacked; }
