/*-----------------------------------------------------------------------------
    JavaScript Examples
-----------------------------------------------------------------------------*/

.drm-accordion {
	@include drm-accordion($drm-blue, 5px);
}

.drm-show-all, .drm-hide-all {
	margin: 5px;
	@include drm-button-solid($drm-blue, white, 200px, null, 3px, none, inline-block);
}

.drm-dropdown-nav {
	@include drm-dropdown-nav(white, $drm-blue, white);
}

.drm-dropdown-solid-btn-holder {
	margin: 20px 10px 200px 10px;
	float: left;
	@include drm-dropdown-button-solid($drm-blue, white, 200px);
}

.drm-dropdown-split-btn-holder {
	margin: 20px 10px 200px 10px;
	float: left;
	@include drm-dropdown-button-split($drm-blue, white, $light-grey, 3px);

	.button-group {
		margin: 0;
	}
}