/*-----------------------------------------------------------------------------
    JavaScript Examples
-----------------------------------------------------------------------------*/

.drm-accordion {
	@include drm-accordion($drm-blue, 5px);
}

.drm-show-all, .drm-hide-all {
	margin: 5px;
	@include drm-button-solid($drm-blue, white, 200px, null, 3px, none, inline-block);
}

.drm-dropdown-nav {
	@include drm-dropdown-nav(white, $drm-blue, white);
}

.drm-dropdown-solid-btn-holder {
	margin: 20px 10px 200px 10px;
	float: left;
	@include drm-dropdown-button-solid($drm-blue, white, 200px);
}

.drm-dropdown-split-btn-holder {
	margin: 20px 10px 200px 10px;
	float: left;
	@include drm-dropdown-button-split($drm-blue, white, $light-grey, 3px);

	.button-group {
		margin: 0;
	}
}

.drm-lightbox-thumbnails {
	@include drm-thumbnail-list();
}

.drm-blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 998;
	@include drm-background-transparent(black, 0.7);

	.close {
		@extend %drm-reset-box;
		border: none;
		background: none;
		color: white;
		position: relative;
		top: 20px;
		left: 95%;
		cursor: pointer;
		@include drm-em-font(18);
	}

	img {
		@extend %drm-center-block;
	}
}	