/*-----------------------------------------------------------------------------
    Layout Utilities Examples
-----------------------------------------------------------------------------*/

.container {
	@extend %drm-container;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid $grey;
}

.container-full-width {
	@extend %drm-container-full-width;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
}

.center-block {
	@extend %drm-center-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 50%;
	background-color: white;
	border: 1px solid $grey;
}

.feature-boxes-holder {
	@extend %drm-container-full-width;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;

	.feature-box {
		background-color: $dark-pink;
		height: 200px;
		margin-top: 1%;
		margin-bottom: 1%;
		padding: 2%;
		color: white;
		text-align: center;
		@include drm-feature-box(3);
	}

	.feature-box-margin {
		background-color: lighten($dark-pink, 20%);
		border: 1px solid $dark-pink;
		height: 200px;
		margin-top: 1%;
		margin-bottom: 1%;
		padding: 2%;
		color: white;
		text-align: center;
		@include drm-feature-box-margin(3);
	}
}

.circle-blocks-holder {
	@extend %drm-center-block;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	width: 800px;
	border: 1px solid $grey;
	@include drm-clearfix();

	.circle-blocks {
		border: 1px solid $grey;
		background-color: lighten($dark-aqua, 20%);
		border: 1px solid $dark-aqua;
		padding: 2%;
		color: white;
		text-align: center;
		@include drm-circle-blocks(800px, 20px, 3);
	}
}

.vertical-container {
	@extend %drm-container;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid $grey;
	height: 500px;
	position: relative;
	@include drm-clearfix();

	.vertically-center {
		width: 200px;
		border: 1px solid $grey;
		background-color: lighten($dark-aqua, 20%);
		border: 1px solid $dark-aqua;
		padding: 2%;
		color: white;
		text-align: center;
		@include box-sizing(border-box);
		@include drm-vertically-center(500px, 200px);
	}
}

.horizontal-container {
	@extend %drm-container;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid $grey;
	height: 220px;
	width: 800px;
	position: relative;
	padding: 10px 0 10px 0;
	@include box-sizing(border-box);
	@include drm-clearfix();

	.horizontally-center {
		height: 200px;
		border: 1px solid $grey;
		background-color: lighten($dark-aqua, 20%);
		border: 1px solid $dark-aqua;
		padding: 2%;
		color: white;
		text-align: center;
		@include box-sizing(border-box);
		@include drm-horizontally-center(800px, 200px);
	}
}		