/*-----------------------------------------------------------------------------
    General Styles
-----------------------------------------------------------------------------*/

.wrapper {
	@extend %drm-container;
}

.example-holder {
	background-color: $light-grey;
	border: 1px solid $grey;
	margin: 20px auto 20px auto;
	min-height: 30px;
	@include drm-clearfix();
}

section {
	@extend %drm-container-full-width;
	padding: 20px;
}