// Header

.main-header {
    @include elr-clearfix;
    margin: 0 auto;
    flex: none;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $white;
    padding: to-rems(10px) 0;
    z-index: 1000;
    transition: background-color .3s, opacity .3s;

    @include elr-breakpoint('neptune') {
        position: relative;
    }
}

@include elr-breakpoint($neptune + 1, 'min-width') {
    &.fixed-header {
        background-color: $elr-blue;
        opacity: .8;

        .main-nav-item {
            color: $white;

            &:hover {
                color: $white;
            }
        }

        .site-heading a {
            color: $white;
        }
    }
}

.site-heading {
    font-size: to-rems(30px);
    float: left;
    padding: 0 0 0 to-rems(10px);

    @include elr-breakpoint('saturn') { text-align: center; }

    a {
        color: $main-color;
        font-weight: $bold;
        text-decoration: none;
    }
}
