.hero-unit {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $main-color;
    color: $background-color;
    line-height: 1.5;
    margin-top: 60px;

    @include elr-breakpoint('neptune') {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: $background-color;

        &:hover {
            color: lighten($main-color, 10%);
        }
    }
}

.sub-title {
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 700;

    @include elr-breakpoint('saturn') {
        padding: 0 20px;
        margin: 0;
        text-align: center;
    }
}

.page-title {
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    font-weight: bold;

    @include elr-breakpoint('saturn') {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
