// Main Content Styles

.main-content {
    padding: to-rems(40px) to-rems(10px) to-rems(20px);
    flex: 1 0 auto;

    @include elr-breakpoint('neptune') { padding-top: to-rems(5px); }

    .elr-col-9:first-child { padding-left: to-rems(10px); }
}

.example-section { padding-bottom: to-rems(80px); }

.example-headings {
    border: 1px solid $light-grey;
    border-radius: to-rems(3px);
    padding: to-rems(20px) to-rems(40px);
    padding-right: 20%;
    margin-bottom: to-rems(40px);
}

.example-heading,
.example-subheading {
    @include elr-heading-underline;
    font-weight: $bold;
}

.example-heading {
    font-size: to-rems(30px);
    margin-bottom: to-rems(30px);
    padding-top: 0;

    ~ p:first-of-type { margin-top: -10px; }
}

.example-subheading {
    font-size: to-rems(18px);
    margin-top: to-rems(10px);
    margin-bottom: to-rems(5px);
}

.example-holder { padding: to-rems(20px) 0; }

.source-holder {
    @include elr-slide(1500px);
}

pre {
    margin-top: to-rems(20px);
    margin-bottom: to-rems(20px);
    width: 100%;
}

.copyright {
    font-size: to-rems(12px);
    text-align: center;
    line-height: 1;
    padding: 0;
}

.main-footer {
    background-color: $dark-grey;
    color: $white;
    flex: none;
    padding: to-rems(10px);
}
