// Sidebar
// scss-lint:disable ImportantRule NestingDepth

.main-sidebar-holder {
    @include elr-clearfix;
    position: relative;
    height: 1px;
}

.main-sidebar {
    // padding-top: 20px;
    // padding-left: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;

    @include elr-breakpoint('saturn') {
        display: none;
    }

    &.sticky-left {
        @include elr-sticky-menu('left');
    }
}

.sidebar-menu {
    &.nav-bar-stacked > li {
        // @include elr-breakpoint('mars') {
        //     padding-left: 40px;
        // }

        a {
            color: $text-color;
        }
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    a {
        @include elr-em-font(20px);
        color: $text-color;
        font-weight: $bold;
        padding: 5px 10px 10px;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $text-color;
        }
    }

    .elr-submenu {
        a {
            @include elr-em-font(14px);
            color: $text-color;
            font-weight: $normal;
            padding-left: 20px;

            &:hover {
                text-decoration: underline;
                color: $text-color;
            }
        }
    }
}
