// Sidebar
// scss-lint:disable ImportantRule NestingDepth

.main-sidebar-holder {
    @include elr-clearfix;
    padding-top: 10px;
    position: relative;
}

.main-sidebar {
    position: absolute;
    top: 20px;
    left: 0;

    @include elr-breakpoint('saturn') {
        display: none;
    }

    &.sticky-left {
        position: fixed;
        top: 100px;
        padding: 0;
    }
}

.sidebar-menu {
    > li > a {
        @include elr-em-font(20px);
        // color: $text-color;
        font-weight: $bold;
        padding-top: 0;
        padding-bottom: 0;

        // &:hover,
        // &:focus {
        //     text-decoration: none;
        //     color: $text-color;
        // }
    }

    .elr-submenu {
        > li > a {
            @include elr-em-font(14px);
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 10px;
        }
    }
}
