// Sidebar
// scss-lint:disable ImportantRule NestingDepth

.main-sidebar-holder {
    @include elr-clearfix;
    padding-top: to-rems(5px);
    position: relative;
}

.main-sidebar {
    position: absolute;
    left: 0;

    @include elr-breakpoint('saturn') {
        display: none;
    }

    &.sticky-left {
        position: fixed;
        top: to-rems(100px);
        padding: 0;
    }
}

.main-sidebar-menu {
    @include elr-accordion-nav(transparent, false);

    > li > a {
        font-size: to-rems(20px);
        font-weight: $bold;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.main-sidebar-submenu {
    > li > a {
        font-size: to-rems(14px);
        padding-top: 0;
        padding-bottom: 0;
        padding-left: to-rems(10px);
    }
}
