section#buttons
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Simple Context Buttons
    .elr-container
        .elr-row.example-holder.example-holder-light
            .elr-col-full.button-examples
                a.elr-button.elr-button-primary Button
                a.elr-button.elr-button-danger Danger
                a.elr-button.elr-button-warning Warning
                a.elr-button.elr-button-success Success
                a.elr-button.elr-button-info Info
                a.elr-button.elr-button-muted Muted