section#layout
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Float Boxes Left or Right
        .elr-row.example-holder
            .elr-col-full
                .elr-pull-left.box
                    p Left
        .elr-row
            .elr-col-full
                pre .elr-pull-left
        .elr-row.example-holder
            .elr-col-full
                .elr-pull-right.box
                    p Right
        .elr-row
            .elr-col-full
                pre .elr-pull-right
        .elr-row
            .elr-col-full
                h3.elr-bold Clearfix
                pre .elr-clear
        .elr-row
            .elr-col-full
                h3.elr-bold Center Block
        .elr-row.example-holder
            .elr-col-full
                .box.elr-center-block
                    p Center Block
        .elr-row
            .elr-col-full
                pre .elr-center-block
