section#typography
    .elr-container
        .elr-row
            .elr-col-full
                .inline-demo
                    p.elr-bold Bold
                pre .elr-bold

                .inline-demo
                    p.elr-italic Italic
                pre .elr-italic

                .inline-demo
                    p.elr-underline Underline
                pre .elr-underline

                .inline-demo
                    p.elr-uppercase Uppercase
                pre .elr-uppercase

                .inline-demo
                    p.elr-smaller-text Smaller Text
                pre .elr-smaller-text

                .inline-demo
                    p.elr-text-left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-left

                .inline-demo
                    p.elr-text-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-right

                .inline-demo
                    p.elr-text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-center

                .inline-demo
                    p.elr-text-justified Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre .elr-text-justified

                .inline-demo.demo-light
                    p.elr-text-muted Muted
                pre .elr-text-muted

                .inline-demo.demo-light
                    p.elr-text-danger Danger
                pre .elr-text-danger

                .inline-demo.demo-light
                    p.elr-text-error Error
                pre .elr-text-error

                .inline-demo.demo-light
                    p.elr-text-info Info
                pre .elr-text-info

                .inline-demo.demo-light
                    p.elr-text-warning Warning
                pre .elr-text-warning

                .inline-demo.demo-light
                    p.elr-text-success Success
                pre .elr-text-success

                .inline-demo.demo-light
                    mark Marked Text
                pre &lt;mark&gt;Marked Text&lt;/mark&gt;

                .inline-demo.demo-light
                    p.elr-highlight Highlighted Text
                pre .elr-highlight

                .inline-demo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                pre &lt;p&gt;

                .inline-demo                
                    small Small Text
                pre &lt;small&gt;

                .inline-demo                
                    blockquote
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deleniti amet sequi fugiat voluptates veniam maxime. Officia consequatur quasi numquam ad enim et quos rem accusantium dolore dolores. Itaque, ab.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque cupiditate accusantium, doloribus excepturi, nobis vel consectetur quidem harum, eum esse laboriosam qui quo quisquam at officia ab possimus vero sapiente a necessitatibus ipsam porro nemo. Adipisci numquam velit maiores obcaecati dignissimos saepe, soluta architecto, facilis quidem, nostrum dolorum eius.
                        cite Citation
                pre &lt;blockquote&gt;
                
                .inline-demo.demo-light                
                    p: a(href="#") This is a link