section#elr-back-to-top
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Back to Top
                p Click back to top button to scroll to the top of page. The button fades in as the user scrolls toward
                    the end of the page.
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                p This site uses Elr Back to Top so the site itself is the demo.
            .elr-col-full
                h2 Usage