section#elr-back-to-top
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Back to Top
                p Click back to top button to scroll to the top of page. The button fades in as the user scrolls toward
                    the end of the page.
            .elr-col-full.example-holder
                h3.example-subheading Demo
                p This site uses ELR Back to Top so the site itself is the demo.
            .elr-col-full
                h3.example-subheading Usage