/*-----------------------------------------------------------------------------
    Back To Top
-----------------------------------------------------------------------------*/

@mixin drm-back-to-top($bk-color: $link-color, $color: white) {
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border: none;
    cursor: pointer;
    padding: 0 0 5px 0;
    line-height: 0;
    @include drm-background-transparent($bk-color, 0.7);
    @include drm-square(50px, none, 3px);
    @include drm-em-font(48);

    @include drm-breakpoint(mercury) {
        right: 10%;
    }

    &:hover {
        @include drm-background-transparent($bk-color, 1);
    }
}