/*-----------------------------------------------------------------------------
    Offscreen Menu
-----------------------------------------------------------------------------*/

// works with fluid and fixed layouts
@mixin drm-offscreen-menu($bk-color: $link-color, $width: 15%) {
    width: $width;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: $bk-color;
    z-index: 100;

    ul {
        @include drm-nav-bar-solid-stacked();

        li a {
            padding: 10px 15px;
        }
    }   
}