section#elr-file-uploads
    .elr-container
        .elr-row
            .elr-col-full
                h1 File Uploads
                p File upload utility
    .elr-container
        .elr-row
            .elr-col-full
                p Coming Soon!
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-file-uploads" target="_blank") Visit GitHub Repo