section#drm-flexible-images
    .drm-container
        .drm-row
            .drm-col-full
                h1 Flexible Images
                p Images that expand to fill available space
    .drm-container
        .drm-row
            .drm-col-full
                h2 Demo
                p Coming Soon!
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-flexible-images" target="_blank") Visit GitHub Repo