section#elr-flexible-images
    .elr-container
        .elr-row
            .elr-col-full
                h1 Flexible Images
                p Images that expand to fill available space
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                p Coming Soon!
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-flexible-images" target="_blank") Visit GitHub Repo