section#drm-form-controls
    .drm-container
        .drm-row
            .drm-col-full
                h1 Drm Form Controls
                p JavaScript powered custom form controls
    .drm-container
        .drm-row
            .drm-col-full
                h2 Demo
                .drm-select
                    .dropdown-label
                        span.dropdown-text Favorite Color
                        .dropdown-button
                            i.fa.fa-chevron-down
                    ul.dropdown
                        li(data-option="0") Blue
                        li(data-option="1") Green
                        li(data-option="2") Red
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-form-controls" target="_blank") Visit GitHub Repo