section#elr-lightbox
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Lightbox
    .elr-container
        .elr-row
            .elr-col-full
                ul.elr-lightbox-thumbnails
                    li
                        a(href="images/cat.jpg")
                            img(src="images/cat.jpg" alt="thumbnail")
                    li
                        a(href="images/cat1.jpg")
                            img(src="images/cat1.jpg" alt="thumbnail")
                    li
                        a(href="images/cat2.jpg")
                            img(src="images/cat2.jpg" alt="thumbnail")
                    li
                        a(href="images/cat3.jpg")
                            img(src="images/cat3.jpg" alt="thumbnail")
                    li
                        a(href="images/cat4.jpg")
                            img(src="images/cat4.jpg" alt="thumbnail")
                    li
                        a(href="images/cat5.jpg")
                            img(src="images/cat5.jpg" alt="thumbnail")
                    li
                        a(href="images/cat6.jpg")
                            img(src="images/cat6.jpg" alt="thumbnail")
                    li
                        a(href="images/cat7.jpg")
                            img(src="images/cat7.jpg" alt="thumbnail")
                    li
                        a(href="images/cat8.jpg")
                            img(src="images/cat8.jpg" alt="thumbnail")
                    li
                        a(href="images/cat9.png")
                            img(src="images/cat9.png" alt="thumbnail")
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-lightbox" target="_blank") Visit GitHub Repo