section#elr-maps
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Maps
                p Easy Google Maps API
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                p Coming Soon!
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-maps" target="_blank") Visit GitHub Repo