section#drm-passwords
    .drm-container
        .drm-row
            .drm-col-full
                h1 Drm Passwords
                p.
                    Analyzes passwords for complexity. A password is considered strong if it uses a combination of 
                    uppercase and lowercase letters, numbers, and special characters. It should also be st least 8
                    characters.
                p Drm Passwords also ensures that passwords are not on a list of the most commonly used passwords.
    .drm-container
        .drm-row
            .drm-col-full
                form.tabular-form(role="form" action="")
                    label(for="password") *Password:
                    input.drm-valid-no-spaces.drm-password#password(type="password" name="password" required)
                    button.drm-button.drm-show-password Show Password
                .drm-col-full
                    .password-holder: p password
                    small Be sure to store this password in a safe place
                    button.drm-button.drm-generate-password Generate Password
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-passwords" target="_blank") Visit GitHub Repo