section#elr-placement
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Placement
                p.
                    Place elements along an axis based on a value