section#drm-reorder
    .drm-container
        .drm-row
            .drm-col-full
                h1 Drm Reorder
                p Drag and drop to reorder items
    .drm-container
        .drm-row
            .drm-col-full
                h2 Demo
                p Coming Soon!
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-reorder" target="_blank") Visit GitHub Repo