section#elr-reorder
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Reorder
                p Drag and drop to reorder items
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                p Coming Soon!
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-reorder" target="_blank") Visit GitHub Repo