section#elr-simple-slider
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Simple Slider
                p A simple content slider. Content fades in and out
    .elr-container
        .elr-row
            .elr-col-full
                h2 Slider with Fade Effect
            .elr-col-full
                .elr-simple-slider
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/700/350')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/710/350')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/705/350')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/715/350')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/720/350')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/725/350')
                                figcaption This is an image of slide 6 kittens are cute
    .elr-container
        .elr-row
            .elr-col-full
                h2 Slider with Slide Left Effect
            .elr-col-full
                .elr-simple-slider-2
                    .elr-simple-slider-nav
                        button.elr-simple-slide-prev(data-dir= 'prev')
                            i.fa.fa-chevron-left
                        button.elr-simple-slide-next(data-dir= 'next')
                            i.fa.fa-chevron-right
                    .elr-simple-slide-holder
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/700/350')
                                figcaption This is an image of slide 1 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/710/350')
                                figcaption This is an image of slide 2 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/705/350')
                                figcaption This is an image of slide 3 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/715/350')
                                figcaption This is an image of slide 4 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/720/350')
                                figcaption This is an image of slide 5 kittens are cute
                        .elr-simple-slide
                            figure.elr-simple-slide-img
                                img(src='http://placekitten.com/725/350')
                                figcaption This is an image of slide 6 kittens are cute
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-simple-slider" target="_blank") Visit GitHub Repo