section#drm-spreadsheet
    .drm-container
        .drm-row
            .drm-col-full
                h1 Drm Spreadsheet
                p JavaScript powered spreadsheet
    .drm-container
        .drm-row
            .drm-col-full
                h2 Live Demo
                p Coming Soon!
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-sort" target="_blank") Visit GitHub Repo