section#elr-typeahead
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Typeahead
                p Click to scroll to the top of page
    .elr-container
        .elr-row
            .elr-col-full
                h2 Demo
                p Coming Soon!
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-typeahead" target="_blank") Visit GitHub Repo