section#drm-typeahead
    .drm-container
        .drm-row
            .drm-col-full
                h1 Typeahead
                p Click to scroll to the top of page
    .drm-container
        .drm-row
            .drm-col-full
                h2 Demo
                p Coming Soon!
    .drm-container
        .drm-row
            .drm-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/drm-typeahead" target="_blank") Visit GitHub Repo