@mixin elr-comments($background-color: transparent) {
    max-width: 700px;

    .example-subheading {
        margin-bottom: 20px;
    }

    .comment {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @if ($background-color != transparent) {
            background-color: $background-color;
            border-radius: 5px;
            padding: 20px;
        }
    }

    .comment-nested {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        @include elr-em-font(14px);
        margin: 0;
        padding: 0;
    }

    .avatar {
        @include elr-thumbnail(null, 50px, 50px, 3px);
        margin-right: 20px;
    }

    .comment-content {
        max-width: 630px - 40;
    }

    .comment-heading {
        padding-bottom: 5px;
        display: flex;
    }

    .comment-author {
        @include elr-em-font(16px);
        font-weight: 700;
        color: $dark-grey;
        padding: 0;
        margin: 0 10px 0 0;
    }

    .comment-timestamp {
        @include elr-em-font(14px);
        font-weight: 500;
        color: $darker-grey;
        padding: 0;
        margin: 0;
    }

    .comment-reply {
        @include elr-em-font(12px);
        text-decoration: none;
        color: $link-color;
    }

    .comment-reply-form {
        width: 100%;

        [type="submit"] {
            background-color: $link-color;
            border: 1px solid $link-color;

            &:hover {
                background-color: lighten($link-color, 10%);
                border-color: lighten($link-color, 10%);
            }
        }
    }
}
