section#context-box
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h1 Context Blocks
        .elr-row
            .elr-col-two-thirds
                .context-box-info
                    p This is an information box
                .context-box-success
                    p This is an success box
                .context-box-danger
                    p This is an danger box
                .context-box-warning
                    p This is an warning box
                .context-box-muted
                    p This is an muted box
                .custom-context-box
                    p This is a custom context box