section#text-effects
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold REM Font
                p Converts px font-size to rems; enter value only - no units
                h3.elr-bold Arguments:
                ul.elr-unstyled-list
                    li $font-size: enter value only - no units
                pre @include elr-em-font(18);
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Font Awesome
                p Use font awesome icons in before and after psuedo elements
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Truncate
                p Add an ellipses if text overflows