section#elr-calendar
    //- .elr-container
    //-     .elr-row
    //-         .elr-col-full
    //-             .elr-calendar(data-month="December" data-date="25" data-year="2015" data-event-name="Christmas" data-event-month="December", data-event-date="25", data-event-recurrance="yearly" data-holidays="no")
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Calendar
                p Interactive JavaScript Calendar
            .elr-col-full
                .elr-calendar
                    //- include js/calendar-form
                    .elr-container
                        .elr-row
                            .elr-col-full
                                .elr-calendar-view-nav.elr-button-group
                                    button.elr-button.elr-button-primary.elr-calendar-view(data-view='month') Month
                                    button.elr-button.elr-button-primary.elr-calendar-view(data-view='week') Week
                                    button.elr-button.elr-button-primary.elr-calendar-view(data-view='date') Day
                                .elr-calendar-nav.elr-button-group
                                    button.elr-button.elr-button-primary.elr-calendar-year-prev(data-dir='prev') Previous Year
                                    button.elr-button.elr-button-primary.elr-calendar-month-prev(data-dir='prev') Previous Month
                                    button.elr-button.elr-button-primary.elr-calendar-week-prev(data-dir='prev') Previous Week
                                    button.elr-button.elr-button-primary.elr-calendar-date-prev(data-dir='prev') Yesterday
                                    button.elr-button.elr-button-primary.elr-calendar-current Today
                                    button.elr-button.elr-button-primary.elr-calendar-date-next(data-dir='next') Tomorrow
                                    button.elr-button.elr-button-primary.elr-calendar-week-next(data-dir='next') Next Week
                                    button.elr-button.elr-button-primary.elr-calendar-month-next(data-dir='next') Next Month
                                    button.elr-button.elr-button-primary.elr-calendar-year-next(data-dir='next') Next Year