section#flexible-grid
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Filter Grid
                p Filter grid items by tag
            .elr-col-full
                .button-group.elr-grid-nav
                    button.elr-button.elr-button-primary.elr-grid-filter(data-filter="all") All
                .elr-flexible-grid
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art001-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art002-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art003-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art004-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art005-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art006-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/art007-thumb.jpg" alt="art")
                        .caption
                            h1.caption-title Art
                            p.caption-descr Some art image
                            ul.caption-tags
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat10-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat11-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat12-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat13-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                                li(data-filter="art") art
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat14-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat1-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat2-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat
                    .elr-grid-item.grid-item
                        .overlay
                        img(src="images/cat3-thumb.jpg" alt="cat")
                        .caption
                            h1.caption-title Cat
                            p.caption-descr A really cute cat
                            ul.caption-tags
                                li(data-filter="cat") cat