section#elr-timestamps
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-heading ELR Timestamps
                p Relative timestamps with JavaScript.  United States style only for now.
            .elr-col-full
                h3.example-subheading Right Now
                p.elr-now
                h3.example-subheading Relative Time Elapsed
                ul.elr-unstyled-list
                    li
                        p.elr-bold United States declares independence from England -
                            span.elr-pretty-date 7/4/1776
                        p: span.elr-timestamp 7/4/1776

                    li
                        p.elr-bold Fall of the Bastille -
                            span.elr-pretty-date 7/14/1789
                        p: span.elr-timestamp 7/14/1789

                    li
                        p.elr-bold Archduke Francis Ferdinand is assassinated in Sarajevo setting off WWI -
                            span.elr-pretty-date 6/28/1914
                        p: span.elr-timestamp 6/28/1914

                    li
                        p.elr-bold October Revolution begins in Russia -
                            span.elr-pretty-date 11/7/1917
                        p: span.elr-timestamp 11/7/1917

                    li
                        p.elr-bold VE Day -
                            span.elr-pretty-date 3/7/1945
                        p: span.elr-timestamp 3/7/1945

                    li
                        p.elr-bold: span.elr-pretty-date 3/29/1955
                        p: span.elr-timestamp 3/29/1955

                    li
                        p.elr-bold: span.elr-pretty-date 6/29/2012
                        p: span.elr-timestamp 6/29/2012

                    li
                        p.elr-bold Yesterday at 8:00am
                        p: span.elr-timestamp Yesterday at 8:00am

                    li
                        p.elr-bold Today at 12:00am
                        p: span.elr-timestamp Today at 12:00am

                    li
                        p.elr-bold Noon
                        p: span.elr-timestamp Today at 12:00pm

                    li
                        p.elr-bold Today at 9:15:23pm
                        p: span.elr-timestamp Today at 9:15:23pm

                    li
                        p.elr-bold Today at 9:59pm
                        p: span.elr-timestamp Today at 9:59pm

                    li
                        p.elr-bold Midnight
                        p: span.elr-timestamp Today at 11:59:59pm

                    li
                        p.elr-bold Tomorrow at 2:00pm
                        p: span.elr-timestamp Tomorrow at 2:00pm

                    li
                        p.elr-bold My Birthday!!
                        p: span.elr-timestamp March 24 2015

                    li
                        p.elr-bold.elr-pretty-date July 25 2014
                        p: span.elr-timestamp July 25 2014

                    li
                        p.elr-bold.elr-pretty-date Thursday, June 25 2015
                        p: span.elr-timestamp Thursday, June 25 2015
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-subheading Pretty Dates and Times

                p.elr-pretty-date July 25 2014
                p.elr-pretty-date March 24, 1983
                p.elr-pretty-date 7/4/1776
                p.elr-pretty-date 3:00pm
    .elr-container
        .elr-row
            .elr-col-full
                h2.example-subheading Usage
                h3.example-subheading Prettify Dates
                h3.example-subheading Relative Time Elapsed
                h3.example-subheading Right Now
                h3.example-subheading Countdown