section#labels
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Contextual Lables
        .elr-row
            .elr-col-full.example-holder.example-holder-light
                p.label-info Information
                p.label-danger Danger
                p.label-warning Warning
                p.label-success Success
                p.label-muted Muted
                p.label-custom Custom Label