section#labels
    .elr-container.example-section
        .elr-row
            .elr-col-full
                h1 Contextual Lables
        .elr-row
            .elr-col-full
                p.label-info Information
                p.label-danger Danger
                p.label-warning Warning
                p.label-success Success
                p.label-muted Muted
                p.label-custom Custom Label