// Context Buttons

@mixin elr-context-button($type: info, $color: white, $width: 300px, $center: center, $border-radius: 0, $display: block) {

    @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, $display);

    @if $type == info {
        $bk-color: $info-color;
    } @else if $type == danger {
        $bk-color: $danger-color;
    } @else if $type == warning {
        $bk-color: $warning-color;
    } @else if $type == success {
        $bk-color: $success-color;
    } @else if $type == muted {
        $bk-color: $muted-color;
    }
}