section#buttons
    .drm-container
        .drm-row
            .drm-col-full
                h1 Buttons
    .drm-container
        .drm-row
            .drm-col-third
                h3 Button Link
                a.button-link(href="#") Click Here
                a.button-link-radius(href="#") Click Here

            .drm-col-third
                h3 Button Solid
                a.button-solid(href="#") Click Here
                a.button-solid-radius(href="#") Click Here

            .drm-col-third
                h3 Retangle Button
                a.button-rectangle(href="#") Click Here
                a.button-rectangle-radius(href="#") Click Here

            .drm-col-third
                h3 Pill Button Link
                a.pill-button-link(href="#") Click Here

            .drm-col-third
                h3 Pill Button Solid
                a.pill-button-solid(href="#") Click Here

            .drm-col-full
                h4 Button Link
                p Basic button with a solid border and transparent background. Smooth transition to solid background on hover. 
                pre @include drm-button-link($color, $bk-color, $width, $center, $border-radius, $border-color, $display);

            .drm-col-full
                h3 Button Groups
                .button-group
                    button Button 1
                    button Button 2
                    button Button 3
                    button Button 4
                    button Button 5
                    button Button 6

            .drm-col-full
                h3 Solid Dropdown Button
            .drm-col-quarter
                .drm-dropdown-solid-btn-holder
                    button Info
                    ul
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li.divider
                        li: a(href="#") Info 4
            .drm-col-quarter
                .drm-dropdown-solid-btn-holder
                    button More Info
                    ul
                        li: a.text-disabled(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
            .drm-col-quarter
                .drm-dropdown-solid-btn-holder
                    button Click Me!
                    ul
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4 
            .drm-col-full
                h3 Split Dropdown Button
            .drm-col-quarter
                .drm-dropdown-split-btn-holder
                    .drm-dropdown-button-group
                        button Alert
                        button &#9662;
                        ul
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4
            .drm-col-quarter
                .drm-dropdown-split-btn-holder
                    .drm-dropdown-button-group
                        button Choose an Option
                        button &#9662;
                        ul
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4