section#buttons
    .elr-container
        .elr-row
            .elr-col-full
                h3.elr-bold Button Link
                p Basic button with a solid border and transparent background. Smooth transition to solid background on hover. 
                .example-holder.example-holder-light
                    a.button-link(href="#") Click Here
                    a.button-link-radius(href="#") Click Here
                pre @include elr-button-link($color, $bk-color, $width, $center, $border-radius, $border-color, $display);
        .elr-row
            .elr-col-full
                h3.elr-bold Button Solid
                .example-holder.example-holder-light
                    a.button-solid(href="#") Click Here
                    a.button-solid-radius(href="#") Click Here
        .elr-row
            .elr-col-full
                h3.elr-bold Pill Buttons
                .example-holder.example-holder-light
                    a.pill-button-link(href="#") Click Here
                    a.pill-button-solid(href="#") Click Here
        .elr-row
            .elr-col-full
                h3.elr-bold Solid Dropdown Button
        .elr-row.example-holder.example-holder-light
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button Info
                    ul
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li.divider
                        li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button More Info
                    ul
                        li: a.text-disabled(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-solid-btn-holder
                    button Click Me!
                    ul
                        li: a(href="#") Info 1
                        li: a(href="#") Info 2
                        li: a(href="#") Info 3
                        li: a(href="#") Info 4
        .elr-row
            .elr-col-full
                h3.elr-bold Split Dropdown Button
        .elr-row.example-holder.example-holder-light
            .elr-col-quarter
                .elr-dropdown-split-btn-holder
                    .elr-dropdown-button-group
                        button Alert
                        button &#9662;
                        ul
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4
            .elr-col-quarter
                .elr-dropdown-split-btn-holder
                    .elr-dropdown-button-group
                        button Choose an Option
                        button &#9662;
                        ul
                            li: a(href="#") Info 1
                            li: a(href="#") Info 2
                            li: a(href="#") Info 3
                            li: a(href="#") Info 4
        .elr-row
            .elr-col-full
                h3.elr-bold Button Groups
        .elr-row.example-holder.example-holder-light
            .elr-col-full                
                .button-group
                    button Button 1
                    button Button 2
                    button Button 3
                    button Button 4
                    button Button 5
                    button Button 6
                .button-group-no-border
                    button Button 1
                    button Button 2
                    button Button 3
                    button Button 4
                    button Button 5
                    button Button 6