section#cards
    .elr-container
        .elr-row
            .elr-col-full
                h1 Cards
        .elr-row
            .elr-col-full
                h3.elr-bold Basic Cards
        .elr-row
            .elr-col-half
                .card
                    .elr-card-header
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                    .elr-card-footer
                        a.elr-button Button Link
            .elr-col-half
                .card-border.card-centered
                    .elr-card-header
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                    .elr-card-footer
                        a.elr-button Button Link
        .elr-row
            .elr-col-full
                h3.elr-bold Image Cards
            .elr-col-half
                .image-card
                    .elr-card-header
                        figure.elr-card-image
                            img(src="images/cat11.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                    .elr-card-footer
                        a.elr-button Button Link
            .elr-col-half
                .full-image-card
                    .elr-card-header
                        figure.elr-card-full-image
                            img(src="images/paris3.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aspernatur cum culpa quasi deleniti. Accusamus nobis quo labore iure amet non, nihil corporis?
                    .elr-card-footer
                        a.elr-button Button Link
        .elr-row
            .elr-col-full
                h3.elr-bold Thumbnail Cards
            .elr-col-half
                .thumbnail-image-card
                    .elr-card-header
                        figure.elr-card-thumbnail
                            img(src="images/cat13.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat soluta, delectus alias, dolor sapiente a cumque, eum corporis eligendi vero quasi dolore minus illum neque.
                    .elr-card-footer
                        a.elr-button Button
            .elr-col-half
                .thumbnail-round-image-card
                    .elr-card-header
                        figure.elr-card-thumbnail-round
                            img(src="images/paris4.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iste quasi quam explicabo eaque non minima molestias consectetur, cum tenetur, impedit mollitia cupiditate adipisci necessitatibus.
                    .elr-card-footer
                        a.elr-button Button
        .elr-row
            .elr-col-half
                .thumbnail-image-card.card-centered
                    .elr-card-header
                        figure.elr-card-thumbnail
                            img(src="images/cat13.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat soluta, delectus alias, dolor sapiente a cumque, eum corporis eligendi vero quasi dolore minus illum neque.
                    .elr-card-footer
                        a.elr-button Button
            .elr-col-half
                .thumbnail-round-image-card.card-centered
                    .elr-card-header
                        figure.elr-card-thumbnail-round
                            img(src="images/paris4.jpg")
                        h2.elr-card-title Title of Card
                    .elr-card-body
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iste quasi quam explicabo eaque non minima molestias consectetur, cum tenetur, impedit mollitia cupiditate adipisci necessitatibus.
                    .elr-card-footer
                        a.elr-button Button
        .elr-row
            .elr-col-full
                h3.elr-bold Contact Cards