section#content-box
    .drm-container
        .drm-row
            .drm-col-full
                h1 Context Box
    .drm-container
        .drm-row
            .drm-col-two-thirds
                h3 Context Box
                .context-box
                    p This is an information box
                .custom-context-box
                    p This is a custom context box