section#content-box
    .elr-container
        .elr-row
            .elr-col-full
                h1 Context Box
    .elr-container
        .elr-row
            .elr-col-two-thirds
                h3 Context Box
                .context-box
                    p This is an information box
                .custom-context-box
                    p This is a custom context box