section#headings
    .elr-container
        .elr-row
            .elr-col-full
                h1 Headings
    .elr-container
        .elr-row
            .elr-col-full
                h3.rounded-heading Pill Heading
                h3.pill-heading Pill Heading
                h3.ribbon-heading Ribbon Heading