section#headings
    .drm-container
        .drm-row
            .drm-col-full
                h1 Headings
    .drm-container
        .drm-row
            .drm-col-full
                h3.rounded-heading Pill Heading
                h3.pill-heading Pill Heading
                h3.ribbon-heading Ribbon Heading