section#labels
    .drm-container
        .drm-row
            .drm-col-full
                h1 Labels
    .drm-container
        .drm-row
            .drm-col-full
                h3 Contextual Lables
                p.label-info Information
                p.label-danger Danger
                p.label-warning Warning
                p.label-success Success
                p.label-muted Muted
                p.label-custom Custom Label