section#navigation
    .elr-container
        .elr-row
            .elr-col-full
                h1 Navigation
    .elr-container
        .elr-row
            .elr-col-full
                h3 NavBar
                p Without nested ul
                nav
                    ul.nav-bar
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch
            .elr-col-full
                h3 Nav Bar Stacked
                p Without nested ul
                nav
                    ul.nav-bar-stacked
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-stacked
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch
            .elr-col-full
                h3 Nav Bar Solid
                
                p Without nested ul
                nav
                    ul.nav-bar-solid
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds

                p With nested ul
                nav
                    ul.nav-bar-solid
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch
            .elr-col-full
                h3 Nav Bar Solid Stacked
                p Without nested ul
                nav
                    ul.nav-bar-solid-stacked
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-solid-stacked
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch    
            .elr-col-full                
                h3 Nav Bar Pills
                p Without nested ul
                nav
                    ul.nav-bar-pills
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-pills
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch    
            .elr-col-full                
                h3 Nav Bar Pills Stacked
                p Without nested ul
                nav
                    ul.nav-bar-pills-stacked
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-pills-stacked
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch    
            .elr-col-full
                h3 Nav Bar Pills Solid
                p Without nested ul
                nav
                    ul.nav-bar-pills-solid
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-pills-solid
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch    
            .elr-col-full
                h3 Nav Bar Pills Solid Stacked
                p Without nested ul
                nav
                    ul.nav-bar-pills-solid-stacked
                        li: a.active(href="#") Bears
                        li: a(href="#") Dogs
                        li: a(href="#") Big Cats
                        li: a(href="#") Fish
                        li: a(href="#") Birds
                p With nested ul
                nav
                    ul.nav-bar-pills-solid-stacked
                        li
                            a.active(href="#") Bears
                            ul
                                li: a(href="#") Grizzly
                                li: a(href="#") Polar
                                li: a(href="#") Giant Panda
                                li: a(href="#") Black
                                li: a(href="#") Brown
                        li
                            a(href="#") Dogs
                            ul
                                li: a(href="#") Doberman
                                li: a(href="#") Shetland Sheepdog
                                li: a(href="#") Siberian Husky
                                li: a(href="#") Poodle
                                li: a(href="#") Scottish Terrier
                        li
                            a(href="#") Big Cats
                            ul
                                li: a(href="#") Lion
                                li: a(href="#") Tiger
                                li: a(href="#") Jaguar
                                li: a(href="#") Leopard
                                li: a(href="#") Panther
                        li
                            a(href="#") Fish
                            ul
                                li: a(href="#") Clown Fish
                                li: a(href="#") Swordfish
                                li: a(href="#") Angel Fish
                                li: a(href="#") Barracuda
                                li: a(href="#") Cod
                        li
                            a(href="#") Birds  
                            ul
                                li: a(href="#") Parrot
                                li: a(href="#") Bald Eagle
                                li: a(href="#") Hawk
                                li: a(href="#") Macaw
                                li: a(href="#") Finch
            .elr-col-full
                h3 Breadcrumbs
                ul.breadcrumbs
                    li: a(href="#") Home
                    li: a(href="#") Services
                    li.active Service One
                    
            .elr-col-full
                h3 Drop Down Navigation
                p: a(href="dropdown.html") Dropdown Menu Example

            .elr-col-full
                h3 Offscreen Menu
                p: a(href="offscreen-menu.html") Offscreen Menu Example

            .elr-col-full
                h3 Sticky Menu
                p: a(href="sticky-nav.html") Sticky Menu Example 
                p: a(href="sticky-sidebar.html") Sticky Sidebar Menu Example

            .elr-col-full
                h3 Back to Top
                p: a(href="back-to-top.html") Back to Top Example