section#thumbnails
    .elr-container
        .elr-row
            .elr-col-full
                h3 Thumbnail
                .elr-container
                    .elr-row
                        .elr-col-third
                            img.elr-thumbnail(src="http://placehold.it/150/125")
                        .elr-col-third   
                            img.rounded-thumbnail(src="http://placehold.it/150/125")
                        .elr-col-third
                            img.round-thumbnail(src="http://placehold.it/200/200")
                pre.
                    @include elr-thumbnail(white, 150px, 125px, 0);
                    @include elr-thumbnail(white, 150px, 125px, 5px);
                    @include elr-thumbnail(white, 150px, null, round);