section#flexible-grid
    .elr-container
        .elr-row
            .elr-col-full
                h1 Elr Flexible Grid
                p Creates a Pinterest like grid
    .elr-container
        .elr-row
            .elr-col-full
                .button-group.elr-grid-nav
                    button.elr-grid-filter(data-filter="all") All
                ul.elr-flexible-grid
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/400/nature/1" alt="nature")
                        .caption 
                            h1.caption-title Nature
                            p.caption-descr Some nature image
                            ul.caption-tags
                                li(data-filter="nature") nature
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/500/nature/2" alt="nature")
                        .caption 
                            h1.caption-title Nature
                            p.caption-descr Nature image
                            ul.caption-tags
                                li(data-filter="nature") nature
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/500/abstract/2" alt="abstract")
                        .caption 
                            h1.caption-title Abstract
                            p.caption-descr Abstract image
                            ul.caption-tags
                                li(data-filter="abstract") abstract
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/350/500/animals/1" alt="animals")
                        .caption 
                            h1.caption-title Animals
                            p.caption-descr Animals image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/450/city/1" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/city/2" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/city/3" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/city/4" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/animals/2" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/animals/3" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/animals/4" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/400/nature/3" alt="nature")
                        .caption 
                            h1.caption-title Nature
                            p.caption-descr Some nature image
                            ul.caption-tags
                                li(data-filter="nature") nature
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/500/nature/4" alt="nature")
                        .caption 
                            h1.caption-title Nature
                            p.caption-descr Nature image
                            ul.caption-tags
                                li(data-filter="nature") nature
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/500/abstract/1" alt="abstract")
                        .caption 
                            h1.caption-title Abstract
                            p.caption-descr Abstract image
                            ul.caption-tags
                                li(data-filter="abstract") abstract
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/350/500/animals/8" alt="animals")
                        .caption 
                            h1.caption-title Animals
                            p.caption-descr Animals image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/450/city/8" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/city/5" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/city/6" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/city/7" alt="city")
                        .caption 
                            h1.caption-title City
                            p.caption-descr City image
                            ul.caption-tags
                                li(data-filter="city") city
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/animals/5" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/animals/6" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/animals/7" alt="animals")
                        .caption 
                            h1.caption-title Animal
                            p.caption-descr Animal image
                            ul.caption-tags
                                li(data-filter="animals") animals
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/fashion/1" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/fashion/4" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/fashion/3" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/300/450/fashion/5" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/450/400/fashion/6" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
                    li.elr-grid-item
                        .overlay
                        img(src="http://lorempixel.com/600/550/fashion/7" alt="fashion")
                        .caption 
                            h1.caption-title Fashion
                            p.caption-descr Fashion image
                            ul.caption-tags
                                li(data-filter="fashion") fashion
    .elr-container
        .elr-row
            .elr-col-full
                h2 Usage
                p: a(href="https://github.com/dynamicresponsemedia/elr-flexible-grid" target="_blank") Visit GitHub Repo