/*-----------------------------------------------------------------------------
    Thumbnails
-----------------------------------------------------------------------------*/

@mixin drm-thumbnail($border-color: white, $width: 150px, $height: 125px, $border-radius: 0, $display: block) {
    border: 5px solid $border-color;
    box-shadow: $grey 0 0 0 1px;

    @if $border-radius == 'round' {
        @include drm-circle($width);
    } @else if $border-radius != 0 {
        @include drm-rectangle($width, $height, $display, $border-radius);
    } @else if $border-radius == 0 {
        @include drm-rectangle($width, $height, $display);
    }
}

@mixin drm-thumbnail-list($border-color: white, $width: 150px, $height: 120px, $glow: $drm-blue) {
    padding: 10px;
    @include drm-unstyled-list;
    @include drm-clearfix;

    li {
        margin: 10px;
        float: left;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        padding: 0;
        margin: 0;
        transition: box-shadow, .3s, ease-out;
        @include drm-thumbnail;

        &:hover {
            transition: box-shadow, .3s, ease-in;
            box-shadow: $grey 0 0 0 1px, $glow 0 0 3px 2px;
        }
    }   
}